//about us css 
.sub-header{background-color:#1d1d1d;}
.about{ 
	position: relative;display: block;width: 100%;height: auto;overflow: hidden;background-color:#1d1d1d;
	.sub-menu{
		position:relative;
		top:rem(120);
		left:0;
		display:block;
		width:100%;
		height:rem(90);
		z-index: 9;
		> div{
			> div{
				line-height:rem(90);
				font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
				background-color:#303030;
				font-weight:bold;
				color:#03cab1;
				span{
					display:inline-block;
					width:rem(220);
					height:rem(90);
					padding-left:rem(36);
					margin-right:rem(26);
					font-weight:normal;
					color:#fff;
				}
				&:after{
					content:'';
				}
			}
			ul{
				display:none;
				li{
					display:block;
					a{
						display:block;
						font-weight:200;
						color:#858585;
						span{
							display:inline-block;
							width:rem(220);
							height:rem(90);
							padding-left:rem(36);
							margin-right:rem(26);
							font-weight:normal;
							color:#fff;
						}
					}
				}
				li.on{
					a{
						font-weight:bold;
						color:#03cab1;
					}
				}
			}
		}
	}
	.title{
		position:relative;
		.title-bg {
			position: relative;
			padding:rem(120) 0 rem(36);
			font-size:rem(80);
			font-weight:bold;
			z-index:2;
			font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
			& + span {
				@include position-left-center;
				top:rem(90);
				left: 45%;
				width:100%;
				max-width:90%;
				color:#1d1d1d;
				font-size: rem(80);
				font-weight:bold;
                text-shadow:0 0 rem(4) #fff;
				z-index:0;
				font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
				& + strong {
					display:block;
					width:100%;
					max-width:90%;
					margin:0 auto;
					font-size:$subhead2-txt;
					font-weight:200;
				}
			}
		}
	}
	.sub-title{
		padding:rem(28) 0 0;
		h3{ 
			display:inline-block;
			font-size:rem(36);
			font-weight:bold;
			border-bottom:rem(4) solid #03cab1;
		}
	}
	h4{
		padding:rem(0) 0 rem(48);
		color:#03cab1;
		line-height:rem(40);
		font-size:rem(30);
		font-weight:bold;
	}
	section{display:block;height:auto;margin:0 auto;overflow:hidden;}
	.ceo{
		position: relative;
		width:100%;
		max-width:90%;
		height: auto;
		margin:0 auto;
		h4{padding-top:rem(50);}
		.text-division{ 
			display:table;
			width:100%;
			li{
				display:table-cell;
				width:50%;
				padding:0 rem(40) 0 rem(30);
				line-height:rem(40);
				font-size:rem(24);
				font-weight:200;
				box-sizing:border-box;
				p{
					margin-bottom:rem(20);
					word-break: keep-all;
				}
			}
			li:first-child{
				padding-left:0;
				padding-right:rem(30);
			}
		
		}
		.ceo-photo{
		margin-top:rem(45);
		margin-bottom:rem(120);
			img{
				display:block;
				width:100%;
				height:auto;
			}
		}
		.ceo-video-wrap{
			position:relative;
			display:block;
			width:100%;
			height:auto;
			margin-top:rem(50);
			video{
				display:block;
				width:100%;
				height:auto;
			}
			.dim{
				position:absolute;
				top:0;
				left:0;
				display:block;
				width:100%;
				height:100%;
				background-color:#000;
				opacity:.4;
				cursor: pointer;
				z-index:2;
			}
			.play-dim{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				text-indent:-9999px;
				background-image:url(../../assets/images/sub/play_btn.png);
				background-repeat:no-repeat;
				background-size:rem(132) rem(132);
				background-position:center center;
				cursor: pointer;
				z-index:3;
			}
		}
		.poster-slider-wrap{
			padding-top:rem(60);
			padding-bottom:rem(200);
			.swiper-container{
				.swiper-wrapper{
					.swiper-slide{
						display:block;
						width:rem(360);
						a{
							display:block;
							width:rem(360);
							> div{					
								position:relative;
								display:block;
								width:rem(360);
								height:rem(202);
								background-repeat:no-repeat;
								background-size:100% auto;
								background-position:center center;
								.poster-bg-color{
									position:absolute;
									top:0;
									left:0;
									width:100%;
									height:100%;
									text-indent:-9999px;
									background-color:#000;
									opacity:.4;
									z-index:2;
								}
								
							}
							>div:before{
								content:"";
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								text-indent:-9999px;
								background-image:url(../../assets/images/sub/play-poster-btn.png);
								background-repeat:no-repeat;
								background-size:rem(68) rem(68);
								background-position:center center;
								cursor: pointer;
								z-index:3;
							}
							p{
								margin-top:rem(20);
							}
						}
					}
					.swiper-slide.swiper-slide-active{
						a > div .poster-bg-color{opacity:.4;}
					}
				}
			}
			.swiper-controler{
				display:block;
				width:100%;
				height: rem(20);
				margin-top: rem(40);
				overflow:hidden;
				> div{position:relative;display:inline-block;float:left;}
				> div.swiper-scrollbar-wrap{	
					width:rem(894);
					height: rem(30);
					padding-top: rem(8);
					.swiper-bar{
						background-color:#5d5d5d;
						width:100%;
						height:rem(30);
						.swiper-pagination-progressbar-fill{
							width:100%;
							background-color:#03cab1;
							height:rem(30);
						}
					}
				}
				> div.swiper-arrows{
					width:rem(90);
					height: rem(100);
					margin-left: rem(25);
					.swiper-button-next,
					.swiper-button-prev{
						top:rem(22);
						display:block;
						width:rem(28);
						height:rem(16);
						background-repeat:no-repeat;
						background-position:center center;
					}
					.swiper-button-next:after,
					.swiper-button-prev:after{display:none;}
					.swiper-button-next{
                        background-image:url(../../assets/images/sub/swiper_next_btn.png);
                        background-size:100%;
					}
					.swiper-button-prev{
						background-image:url(../../assets/images/sub/swiper_prev_btn.png);
                        background-size:100%;
					}
				}
			}
		}
	}
	.heritage{
		position: relative;
		width:100%;
		max-width:90%;
		height: auto;
		margin:0 auto;
		.heritage-info{
			position:relative;
			display:block;
			width:100%;
			height:auto;
			padding-top:rem(50);
			padding-bottom:rem(50);
			.heritage-vector{
				position:absolute;
				top:rem(-250);
				right:rem(-90);
				display:block;
				width:rem(572);
				height:rem(555);
				background-image:url(../../assets/images/sub/heritage_vector.png);
				background-repeat:no-repeat;
				background-size:rem(572) rem(555);
				background-position: center center;
				text-indent:-9999px;
			}
			p{
				margin-bottom:rem(30);
				font-size:rem(24);
				font-weight:200;
				vertical-align: top;
				span{
					display:inline-block;
					width:rem(116);
					margin-right:rem(15);
					border-right:rem(1) solid #03cab1;
					font-size:rem(24);
					font-weight:bold;
					vertical-align: top;
				}
			}
		}
		.our-vmv{
			margin-bottom:rem(150);
			background-image:url(../../assets/images/sub/dflg_bg.png);
			background-repeat:no-repeat;
			background-size:rem(336) rem(357);
			background-position: 90% 40%;
			ul{
				li{
					display:table;
					b.right_title{
						position:relative;
						display:table-cell;
						width:rem(160);
						height:rem(200);
						line-height:rem(40);
						color:#10ccb4;
						text-align:center;
						vertical-align:middle;
						font-size:rem(30);
						font-weight:bold;
					}
					b.right_title:before{
						content:"";
						position:absolute;
						top:50%;
						left:0;
						display:block;
						width:rem(160);
						height:rem(200);
						margin-top:rem(-100);
						background-image:url(../../assets/images/sub/dotted_circle.png);
						background-repeat:no-repeat;
						background-size:rem(159) rem(159);
						background-position:center center;
					}
					span{
						display:table-cell;
						height:rem(200);
						line-height:rem(40);
						padding-left:rem(30);
						vertical-align:middle;
						font-size:rem(24);
						font-weight:200;
						b{font-weight:600;}
					}
					span.long-txt{
						display:inline-block;
						p{
							display:inline-block;
							height:rem(200);
							line-height:rem(40);
							padding-top:rem(30);
							vertical-align:middle;
							font-size:rem(24);
							font-weight:200;
							b{font-weight:600;}
						}
					}
				}
			}
			.dfgl{
				padding-top:rem(160);
				ul{
					li{
						display:inline-block;
						padding-right:rem(10);
						padding-bottom:rem(20);
						font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
						font-size:rem(50);
						font-weight:bold;
						color:#1d1d1d;
					}
					li:nth-child(4n),
					li:nth-child(4n+1){
						text-shadow:rem(-1) rem(-1) 0 rgba(255,255,255,.4),rem(1) rem(-1) 0 rgba(255,255,255,.4),rem(-1) rem(1) 0 rgba(255,255,255,.4),rem(1) rem(1) 0 rgba(255,255,255,.4);
					}
					li:nth-child(4n+2),
					li:nth-child(4n+3){
						color:#03cab1;
					}
				}
			}
		}
		.heritage-tab-wrap{
			display:block;
			height:auto;
			margin-top:rem(60);
			margin-bottom:rem(180);
			overflow:hidden;
			.tab-btns{
				display:block;
				width:100%;
				float:left;
				ul{
					li{
						position:relative;
						display:inline-block;
						width: auto;
						height:rem(60);
						padding: 0;
						a{
							display: inline-block;
							height:rem(60);
							line-height:rem(60);
							padding:0 rem(10);
							font-size:rem(30);
							font-weight:300;
							color:#999999;
						}
						i.activebar{
							position:absolute;
							bottom:rem(0);
							left:0;
							display:none;
							width:100%;
							height:rem(3);
							background-color:#ebebeb;
							text-indent:-9999px;
						}
					}
					li:last-child{}
					li.on{
						a{
							font-weight:600;
							color:#ebebeb;
						}
					}
				}
			}
			.tab-lists{
				display:block;
				width:100%;
				padding-top:rem(60);
				float:left;
				ul{
					li{
						display:none;
						> div{
							display:block;
							vertical-align:top;
							.left-image{
								display:block;
								img{
									display:block;
									width:100%;
									height:auto;
								}
							}
							.right-text{
								display:block;
								padding-top:rem(40);
								vertical-align:top;
								.title-image{
									padding-bottom:rem(40);
								}
								p{
									position:relative;
									padding-left:rem(28);
									margin-bottom:rem(25);
									line-height:rem(40);
									font-size:rem(24);
									font-weight:200;
									color:#ebebeb;
									span.highlight{
										font-weight:600;
										color:#0fc5ae;
									}
								}
								p:before{
									content:"";
									position:absolute;
									top:rem(14);
									left:rem(2);
									display:block;
									width:rem(10);
									height:rem(12);
									background-image:url(../../assets/images/sub/heritage_polygon.png);
									background-repeat:no-repeat;
									background-size:rem(10) rem(12);
									background-position:center center;
								}
							}
						}
					}
					li.on{display:block;}					
				}
			}
		}
		.growth-grape{
			display:block;
			width:100%;
			height:auto;
			padding-top:rem(40);
			padding-bottom:rem(40);
		}
		.text-division{ 
			display:table;
			width:100%;
			margin-bottom:rem(0);
			li{
				display:table-cell;
				width:50%;
				padding:0 rem(20) 0 rem(30);
				line-height:rem(40);
				font-size:rem(24);
				font-weight:300;
				box-sizing:border-box;
				word-break: keep-all;
				p{
					margin-bottom:rem(20);
					word-break: keep-all;
				}
			}
			li:first-child{
				padding-left:0;
				padding-right:rem(30);
			}
		
		}
	}
	.history{
		position: relative;
		width:100%;
		max-width:90%;
		height: auto;
		margin:0 auto;
		.term-btns{
			display:block;
			width:100%;
			height:rem(60);
			padding-top:rem(60);
			border-bottom:1px solid #303030;
			ul{
				li{
					position:relative;
					display:inline-block;
					width:auto;
					height:rem(60);
					box-sizing:border-box;
					a{
						display:block;
						height:rem(60);
						padding:0 rem(15);
						line-height:rem(60);
						text-align:center;
						font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
						font-size:rem(30);
						font-weight:200;
						color:#999;
					}
					a:before{
						content:"";
						position:absolute;
						bottom:0;
						left:0;
						display:block;
						width:100%;
						height:4px;
						background:#fff;
						opacity:0;
					}
					a.on{font-weight:bold; color:#fff;}
					a.on:before{opacity:1;}
				}
			}
		}
		.history-lists{
			padding-top:rem(10);
			padding-bottom:rem(200);
			.history-list{
				display:none;
				div{
					position:relative;
					display:block;
					width:100%;
					padding-top:rem(160);
					padding-bottom:rem(30);
					/*border-top:rem(1) solid #999;
					border-bottom:rem(1) solid #999;*/
					p{
						font-size:rem(24);
						line-height:rem(40);
						font-weight:200;
					}
					ul{
						li{
							margin-bottom:rem(20);
							b.month{
								display:inline-block;
								width:rem(50);
								line-height:rem(24);
								font-size:rem(24);
								font-weight:bold;
								font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
								vertical-align: top;
							}
							span{
								display:inline-block;
								line-height:rem(24);
								font-size:rem(24);
								font-weight:200;
								vertical-align: top;
								/*b{font-weight:bold;color:#03cab1;}*/
							}
						}
						li:last-child{margin-bottom:0;}
					}
				}
				div:before{
					content:"";
					position:absolute;
					top:rem(30);
					left:rem(0);
					color: #1d1d1d;
					font-size: rem(90);
					font-weight: bold;
					text-shadow:rem(-1) rem(-1) 0 rgba(255,255,255,.8),rem(1) rem(-1) 0 rgba(255,255,255,.8),rem(-1) rem(1) 0 rgba(255,255,255,.8),rem(1) rem(1) 0 rgba(255,255,255,.8);
					font-family: 'Montserrat','NotoSansKR', Arial, sans-serif;
				}
				div.y2020:before{content:"2020";}
				div.y2019:before{content:"2019";}
				div.y2018:before{content:"2018";}
				div.y2017:before{content:"2017";}
				div.y2014:before{content:"2014";}
				div.y2012:before{content:"2012";}
				div.y2010:before{content:"2010";}
				div.y2008:before{content:"2008";}
				div.y2007:before{content:"2007";}
				div.y2005:before{content:"2005";}
				div.y2002:before{content:"2002";}
				div.y2001:before{content:"2001";}
				div.y2000:before{content:"2000";}
				div.y1999:before{content:"1999";}
				div.y1997:before{content:"1997";}
				div.y1996:before{content:"1996";}
				div.y1995:before{content:"1995";}
				div.y1992:before{content:"1992";}
			}
			.history-list.show{display:block;}
		}
	}
	.neo{
		position: relative;
		width:100%;
		max-width:90%;
		height: auto;
		margin:0 auto;
		 > div{
			margin-bottom:rem(55);
			.banner{
				display:block;
				width:100%;
				height:auto;
				margin-bottom:rem(50);
			}
			.paradigm-lists{
				display:block;
				width:100%;
				margin-bottom:rem(45);
				li{	
					display:block;
					margin-bottom:rem(30);
					div{
						position:relative;
						padding-left:rem(70);
						margin-bottom:rem(20);
						line-height:rem(70);
						font-size:rem(30);
						font-weight:bold;
						i{
							position:absolute;
							top:rem(5);
							left:0;
							display:block;
							width:rem(68);
							height:rem(68);
							background-size:100% 100%;
							background-repeat:no-repeat;
							background-position:left center;
						}
					}
					p{
						position:relative;
						padding-left:rem(25);
						padding-bottom:rem(12);
						line-height:rem(40);
						font-size:rem(24);
						color:#ebebeb;
						i{
							position:absolute;
							top:rem(14);
							left:0;
							display:inline-block;
							width:rem(10);
							height:rem(12);
							background-repeat:no-repeat;
							background-position:center center;
							background-size:rem(10) rem(12);
							background-image:url(../../assets/images/sub/heritage_polygon.png);
							text-indent:-9999px;
						}
						span{
							display:inline-block;
							width:100%;
							line-height:rem(36);
							font-size:rem(20);
							font-weight:200;
						}
					}
				}
			}
		}
		.etc-lists{
			padding-bottom:rem(200);
			ul{
				li.etc-list{
					display:block;
					width:100%;
					margin-bottom:rem(60);
					overflow:hidden;
					 > div{
						display:block;
						vertical-align: middle;
						p{
							position:relative;
							padding-left:rem(25);
							margin-top:rem(28);
							line-height:rem(40);
							font-size:rem(24);
							i{	
								position:absolute;
								top:rem(14);
								left:rem(0);
								display:inline-block;
								width:rem(10);
								height:rem(12);
								background-repeat:no-repeat;
								background-position:center center;
								background-size:rem(10) rem(12);
								background-image:url(../../assets/images/sub/heritage_polygon.png);
								text-indent:-9999px;
							}
							span{font-weight:200;}
						}
					}
					 > div:first-child{
						width:rem(220);
						img{}
					}
				}
			}
		}
	}
}