/* Common S */
html {
    width:100vw;
    overflow-x: hidden;
    font-family: 'NotoSansKR',  Arial, sans-serif;
    font-size: 2.1333vw;
    color:$default-color;
    line-height:1;
    body {
        width:100%;
        overflow-x: hidden;
        font-size:rem(32);
        background:$bg-sub;
        &.bg-main {
            background:$bg-main;
        }
    }
    .mot {
        font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
    }
    img {
        max-width:100%;
    }
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    position:absolute;
    bottom:0;
    top:auto;
    width:100%;
    height:rem(12);
    background:#5d5d5d;
    > .swiper-pagination-progressbar-fill {
        background:$primary-color;
    }
}

.date-box {
    display:block;
    font-size:rem(24);
    font-weight:bold;
    text-align: center;
    .day {
        display:block;
        font-size:rem(60);
        padding-top:rem(5);
    }
}
button {
    cursor: pointer;
}
img {
    max-width:100%;
}
.hide {
    display:none;
}
.hidden {
    position: absolute;
    text-indent: -9999px;
    overflow: hidden;
    font-size:0;
}
.f-wrap:after {
    content:'';
    clear:both;
    display:block;
}
.more {
    display:inline-block;
    font-size:$basic-txt;
    font-weight:200;
    .ico-more {
        vertical-align: middle;
        margin-left:rem(15);
    }
}
.plus-l {
    display:inline-block;
    vertical-align: top;
    font-size:rem(32);
    line-height:rem(51);
    .ico-plus {
        vertical-align: top;
        margin-left:rem(20);
    }
}
.visit {
    opacity: 0.5;
}
.tab-con {
    display:none;
}
.tab-con.on {
    display: block;
}
.view-popup {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:rgba(29,29,29,.8);
    z-index:20;
    opacity:0;
    visibility: hidden;
    @include transition-all;
    &.active {
        opacity:1;
        visibility: visible;            
    }
    .pop-slider {
        @include position-center;
        width:rem(670);
        .swiper-wrapper {
            &:after {
                content:'';
                clear:both;
                display:block;
            }
        }
        .swiper-slide {
            width:rem(670);
            margin:0 rem(20);
            overflow: hidden;
            > img {
                width:100%;
            }
        }
        .swiper-arrow {
            @include position-center;
            width:100%;
            z-index:30;
            > div {
                width:rem(44);
                height:rem(44);
                text-indent: -9999px;
                overflow: hidden;
                background:url(../images/pop_arrow_r.png) no-repeat center center;
                background-size: 100%;
                cursor: pointer;
            }
            > .swiper-next {
                float:right;
            }
            > .swiper-prev {
                background:url(../images/pop_arrow_l.png) no-repeat center center;
                background-size: 100%;
            }
        }
        .title,.txt {
            display:none;
        }
        .close {
            position:absolute;
            display:block;
            right:0;
            top:rem(-66);
            width:rem(33);
            height:rem(33);
            z-index:500;
        }
    }

}
/* Common E */

/* footer S */
footer {
    background:#131313;
    padding:rem(40);
    .top {
        padding-bottom:rem(36);
        border-bottom:rem(1) solid #bebebe;
    }
    .logo {
        width:rem(80);
        float:left;
    }
    .sns-list {
        float:right;
        li {
            display:inline-block;
            width:rem(47);
            height:rem(40);
            &:nth-of-type(2){
                margin: 0 rem(50);
            }
            > a {
                display:block;
            }
        }
    }
    .foot-nav {
        padding:rem(36) 0 rem(60);
        font-size:rem(24);
        color:$color-gray;
        li {
            display:inline-block;
            @include menubar;
            padding:0 rem(30);
            margin-bottom:rem(25);
            &:nth-child(4) {
                padding-right:0;
                &:after {
                    display:none;
                }
            }
            &:nth-child(1) ,
            &:nth-child(5) {
                padding-left:0;
            }
        }
    }
    .copy {
        color:$color-gray;
        font-size:rem(20);
        padding:0 0 rem(40);
    }
    .family-site {
        position: relative;
        width:rem(480);
        height:rem(87);
        border: rem(1) solid #b5b5b5;
        > span {
            display:block;
            color:#616161;
            font-size:$small-txt;
            height:100%;
            line-height:rem(87);
            text-indent: rem(35);
        }
        select {
            opacity: 0;
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            z-index:2;
        }
        &:after {
            content:'';
            width:rem(20);
            height:rem(24);
            background:url(../images/arrow_family.png) no-repeat center center;
            background-size:100%;
            position:absolute;
            right:rem(52);
            top:rem(30);
        }
    }
}
/* footer E */

/* sub common S */
.cate {
    position: relative;
    padding-top:rem(120);
    background:$bg-sub;
    > .select {
        position: relative;
        display:block;
        width:100%;
        box-sizing: border-box;
        border-bottom:rem(1) solid #4a4a4a;
        padding:rem(0) rem(40);
        line-height: rem(88);
        font-size:$subhead1-txt;
        font-weight: 700;
        color:$primary-color;
        &:after {
            content:'';
            position:absolute;
            top:50%;
            margin-top:rem(-8);
            -moz-transform:rotate(-180deg);
            -webkit-transform:rotate(-180deg) ;
            -o-transform:rotate(-180deg);
            -ms-transform:rotate(-180deg);
            transform:rotate(-180deg);
            right:rem(40);
            width:rem(28);
            height:rem(17);
            background:url(../images/cate_arrow.png) no-repeat center center;
            background-size:100%;
            @include transition-all;
        }
    }
    .list {
        position:absolute;
        left:0;
        top:rem(210);
        width:100%;
        z-index:5;
        max-height:0;
        overflow: hidden;
        @include transition-all;
        li {
            background:#303030;
            border-bottom:rem(1) solid #4a4a4a;
            a {
                display:block;
                font-size:$subhead1-txt;
                font-weight:500;
                color:$default-color;
                padding:rem(0) rem(40);
                line-height: rem(88);
            }
        }
    }
    &.on {
        > .select:after {
            -moz-transform:rotate(0deg);
            -webkit-transform:rotate(0deg) ;
            -o-transform:rotate(0deg);
            -ms-transform:rotate(0deg);
            transform:rotate(0deg);
        }
        .list {
            max-height:rem(1000);            
        }
    }
}
.sub {
    position: relative;
    background:$bg-sub;
    min-height:50vh;
    > .title-bg {
        position: relative;
        padding:rem(120) rem(40) 0;
        font-size: $head1-txt;
        font-weight:700;
        font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
        z-index:1;
        & + span {
            position: absolute;
            display:block;
            font-size: $head1-txt;
            font-weight:700;
            z-index:0;
            left:rem(40);
            top:rem(90);
            font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
            text-shadow:0 0 rem(4) #fff;
            color:$bg-sub;
        }
    }
    > h3 {
        display:inline-block;
        margin:rem(65) rem(40) rem(48);
        font-size:rem(36);
        font-weight: 700;
        border-bottom:rem(5) solid $primary-color;
    }
    .tab-btns {
        padding: 0 rem(40);
        box-sizing:border-box;
        border-bottom:rem(1) solid #303030;
        li {
            display:inline-block;
            font-size:rem(30);
            color:$color-gray;
            margin-right:rem(30);
            font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
            padding: rem(15) rem(0);
            border-bottom:rem(5) solid $bg-sub;
            &.on {
                color:$default-color;
                font-weight:700;
                border-color:$default-color;
            }
        }
    }
    .slide-tab {
        border-bottom:rem(1) solid #303030;
        .tab-btns {
            border-bottom:0;
        }
        li {
            width:fit-content;
        }
    }
    > section {
        padding:0 rem(40) rem(190);
        .tab-btns {
            margin: 0 rem(-40);
            padding: 0 rem(40);
        }
    }
    .list {
        li {
            padding:rem(30) 0;
            border-bottom:rem(1) solid #2d2d2d;
            > a {
                display:block;
                text-align: left;
                .date-box {
                    text-align: left;
                    font-weight:400;
                    font-size:$small-txt;
                }
                .title {
                    position: relative;
                    display:inline-block;
                    font-weight:700;
                    margin:rem(17) 0 rem(15);
                    font-size:rem(30);
                }
                .txt {
                    display:block;
                    width:100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                    font-size:rem(24);
                    font-weight: 300;
                    line-height: 1.2;
                }
                &.new {
                    .title:after {
                        content:'';
                        position:absolute;
                        display:block;
                        width:rem(11);
                        height:rem(11);
                        border-radius: 100%;
                        background:#fef056;
                        right:rem(-25);
                        top:rem(-10);
                    }
                }
            }
        } 
    }
    .num-list {
        li {
            width:100%;
            border-bottom:rem(1) solid #2d2d2d;
        }
        a {
            display:block;
            width:100%;
            padding:rem(28) 0;
            line-height:1.6;
            .num {
                display:inline-block;
                width:rem(70);
                padding-left:rem(6);
                font-weight:700;
                font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
                vertical-align: top;
                color:$primary-color;
            }
            strong {
                display:inline-block;
                vertical-align: top;
                width:calc(100% - #{rem(85)});
                font-weight:300;
                font-size:rem(24);
            }
        }
    }
    .thum-list {
        li {
            padding:rem(30) 0;
            border-bottom:rem(1) solid #2d2d2d;
            > a {
                position: relative;
                display:block;
                &:after {
                    content:"";
                    display:block;
                    clear:both;
                }
                .img-box {
                    display:block;
                    position: relative;
                    float:left;
                    width:rem(287);
                    height:rem(209);
                    overflow: hidden;
                    img {
                        @include position-center;
                    }
                }
                .txt-box {
                    display:block;
                    float: right;
                    width:calc(100% - #{rem(316)});
                    line-height:1.4;
                    strong {
                        position: relative;
                        display:block;
                        font-size:rem(30);
                        font-weight:700;
                        padding-bottom:rem(10);
                        margin-top:rem(-5);
                        @include ellipsis(2, 1.6em);
                    }
                    .txt {
                        display:block;
                        font-size:rem(24);
                        font-weight: 300;
                        word-break: keep-all;
                        @include ellipsis(3, 1.6em); 
                    }
                    .date {
                        font-size:rem(24);
                    }
                    .tag {
                        display:inline-block;
                        line-height: rem(34);
                        padding:0 rem(19);
                        border:rem(2) solid ;
                        font-size:rem(24);
                        min-width:rem(108);
                        box-sizing: border-box;
                        text-align: center;
                        &.blue {
                            color:#00b4ff;
                            border-color:#00b4ff;
                        }
                        &.orange {
                            color:#ff8a00;
                            border-color:#ff8a00;
                        }
                    }
                }
                &.new {
                    .txt-box strong {
                        &:before {
                            content:'';
                            position:absolute;
                            display:block;
                            width:rem(11);
                            height:rem(11);
                            border-radius: 100%;
                            background:#fef056;
                            left:rem(15);
                            top:rem(20);
                        }
                        &.pt0:before {
                            top:0;
                            left:rem(10);
                        }
                    }
                }
            }
        }
        &.size-l {
            margin-top:rem(60);
            border-top:rem(1) solid $color-gray;
            li {
                padding:rem(40) 0;
                border-color: $color-gray;
                .txt-box {
                    width:calc(100% - #{rem(346)});
                    height:100%;
                    .tag {
                        margin-left:rem(29)
                    }
                    strong {
                        font-size:rem(28);
                        padding:rem(30) 0 0 rem(29);
                        @include ellipsis(3, 1.4em); 
                        &.pt0 {
                            padding-top:0;
                        }
                    }
                    .txt {
                        padding:rem(18) 0 0 rem(29);
                        color:#999;
                        @include ellipsis(2, 1.6em);
                    }
                    .bar-wrap {
                        position: absolute;
                        bottom:0;
                        left:rem(376);
                        line-height: 1;
                        font-size:rem(24);
                        > span {
                            display:inline-block;
                            @include menubar;
                            left:0;
                            &:after {
                                background:$color-gray;
                            }
                        }
                        .date {
                            margin-right:rem(20);
                            padding-right: rem(20);
                        }
                    }
                    .date {
                        position: absolute;
                        bottom:0;
                        left:rem(376);
                    }
                }
                .img-box {
                    width:rem(346);
                    height:rem(265);
                }
            }
        }
    }
    .btn-wrap {
        padding-top:rem(60);
        text-align:center;
    }
    .sch-box {
        position: relative;
        width:rem(460);
        margin:rem(50) 0 rem(40);
        input {
            width:100%;
            padding:0 rem(65) 0 rem(35);
            background:transparent;
            font-size: rem(24);
            border:rem(1) solid #ffffff;
            color:$default-color;
            line-height:rem(60);
            height:rem(64);
            border-radius:rem(30);
        }
        .sch-btn {
            position: absolute;
            right:rem(27);
            top:50%;
            margin-top:rem(-17);
            width:rem(31);
            height:rem(31);
            z-index:5;
        }
    }
    .board-sch {
        text-align: center;
        .date-wrap {
            text-align: left;
            padding-top:rem(40);
            input {
                color:$default-color;
                background:transparent;
                border-radius: 0;
                border-bottom:rem(2) solid $default-color;
                font-size:rem(24);
                width:rem(312);
                display:block;
                float:left;
                margin:0;
                box-sizing: border-box;
                line-height: rem(50);
                height:rem(50);
                & + button {
                    display:block;
                    float:left;
                    width:rem(27);
                    margin: 0 0 0 rem(-40);
                    line-height: rem(50);
                }
            }
            .at {
                display:block;
                float:left;
                width:calc(100% - #{rem(624)});
                line-height: rem(50);
                text-align: center;;
            }
        }
        .select-box {
            margin:rem(33) 0 rem(50);
            text-align: left;
            position: relative;
            float:left;
            width:rem(312);
            height:rem(50);
            border-bottom:rem(2) solid $default-color;
            padding:0;
            > span {
                display:block;
                color:$default-color;
                font-size:$small-txt;
                background:transparent;
                height:100%;
                height:rem(50);
                line-height: rem(50);
                text-indent: rem(20);
                padding:0;
                &:after {
                    width:rem(20);
                    height:rem(12);
                    border:0;
                    background:url(../images/ico_arrow.png) no-repeat center center;
                    background-size:100%;
                    right:rem(20);
                }
            }
            select {
                opacity: 0;
                position: absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                z-index:2;
            }
            & + .select-box{
                float:right;
            }
        }
        .under.btn {
            text-align: center;
            color:$default-color;
            margin:rem(50) 0;
            border:0;
            padding: 0 rem(5) rem(10);
            border-bottom:rem(2) solid $default-color;
        }
    }
    .view {
        border-top:rem(2) solid #ffffff;
        .title {
            border-bottom:rem(1) solid #2d2d2d;
            padding:rem(25) rem(20) rem(23);
            display: table;
            width:100%;
            box-sizing: border-box;
            strong {
                display:table-cell;
                font-size:rem(30);
                font-weight: 700;
                color:#fff;
                line-height:1.4;
                vertical-align: middle;
                word-break: keep-all;
            }
            .date {
                text-align: right;
                vertical-align: middle;
                display:table-cell;
                font-size:rem(20);
                padding-left:rem(20);
            }
        }
        .txt {
            padding:rem(35) rem(20) rem(45);
            min-height:rem(180);
            color:$color-gray;
            font-size:rem(24);
            line-height: 1.6;
            border-bottom:rem(1) solid #676767;
            .str {
                color:$default-color;
            }
            .under {
                display:inline-block;
                padding: 0 0 rem(4);
                color:$default-color;
                border-bottom:rem(2) solid $default-color;
            }
            .primary.btn {
                padding: 0 rem(57);
                line-height:rem(60);
                font-weight:700
            }
        }
        .file-box {
            background:#373737;
            border-bottom:rem(1) solid #676767;
            padding:rem(30) rem(30) rem(25);
            display: table;
            width:100%;
            box-sizing: border-box;
            font-size:rem(24);
            color:$color-gray;
            .label {
                display: table-cell;
                color:$default-color;
                width:rem(130);
            }
            .ico-file {
                margin-right:rem(10);
            }
        }
        .page-list {
            > a {
                position: relative;
                display:block;
                padding:rem(25) rem(20) rem(23) rem(50);
                border-bottom:rem(1) solid #676767;
                font-size:rem(24);
                line-height:1.6;
                color:$color-gray;
                span[class*="ico-"] {
                    position:absolute;
                    top:50%;
                    left:rem(12);
                    margin-top:rem(-8);
                    &.ico-prev {
                        left:rem(22);
                    }
                    &.ico-next {
                        left:rem(10);
                    }
                }
                &:after{
                    content:'';
                    clear:both;
                    display:block;
                }
                .s-txt {
                    @include ellipsis(1,1.4em);
                    float:left;
                    width:83%;
                }
                .label {
                    color:$default-color;
                    padding-right:rem(30);
                    display:block;
                    float:left;
                }
            }
        }
        & + .btn-wrap {
            .btn.basic {
                line-height:rem(50);
                min-width:rem(270);
            }
        }
    }
    .swiper-page {
        text-align:center;
        .swiper-pagination-bullet {
            width:rem(40);
            height:rem(5);
            border-radius: rem(4);
            background:#333333;
            opacity: 1;
            outline:none;
            &.swiper-pagination-bullet-active {
                background:#fff;
            }
        }
    }
    .refer {
        position: relative;
        padding-left:rem(26);
        font-size:rem(24);
        word-break: keep-all;
        line-height: 1.4;
        &:before {
            content:'';
            position:absolute;
            left:0;
            top:rem(10);
            width:rem(10);
            height:rem(11);
            background:url(../images/ico_refer.png) no-repeat center center;
            background-size:100%;
        }
    }
    .accordion {
        li {
            &:last-of-type {
                .cont {
                    padding-top:0;
                }
            }
        }
        .title {
            position: relative;
            font-size: rem(36);
            font-weight: 700;
            padding-bottom:rem(18);
            border-bottom: rem(4) solid $primary-color;
            cursor: pointer;
            .small {
                display:block;
                font-size:rem(22);
                font-weight:400;
                padding-top:rem(18);
            }
            &:after {
                content:'';
                position:absolute;
                right:rem(4);
                bottom:rem(20);
                display:block;
                width:rem(36);
                height:rem(22);
                background:url(../images/icon_accordion.png) no-repeat center center;
                background-size:100%;
                @include transition-all;
                -moz-transform: rotate(180deg);  
                -webkit-transform: rotate(180deg);  
                -o-transform: rotate(180deg);  
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .cont {
            max-height: 0;
            overflow: hidden;
            padding-top:rem(100);
            text-align:center;
            @include transition-all;
            li {
                padding:rem(35) 0;
                border-bottom:rem(1) solid #333333;
                strong {
                    display:block;
                    font-weight:700;
                    margin: 0 0 rem(28);
                }
                p {
                    font-size:rem(24);
                    font-weight:300;
                    line-height: 1.4;
                }
            }
        }
        li.on {
            .title:after {
                -moz-transform: rotate(0);  
                -webkit-transform: rotate(0);  
                -o-transform: rotate(0);  
                -ms-transform: rotate(0);
                transform: rotate(0);
            }
            .cont {
                max-height:rem(2000);
                padding-top:rem(0);
                padding-bottom:rem(165);
            }
            &:last-of-type {
                .cont {
                    padding-bottom:0;
                }
            }

        }
    }
    .form {
        .mail {
            input {
                float:left;
                width:rem(236);
            }
            .at {
                float:left;
                display:block;
                width:rem(70);
                text-align:center;
                line-height: rem(80);
                & + input {
                    width:calc(100% - #{rem(306)});
                }
            }
            .select-box {
                margin-top:rem(30);
            }
        }
        .phone {
            input {
                float:left;
                width:rem(194);
            }
            .at {
                display:block;
                float:left;
                width:rem(43);
                text-align: center;
                line-height: rem(80);
            }
        }
    }  
    .agreement-wrap{
        .agree-title{
            padding-top:rem(10);
            padding-bottom:rem(30);
            font-size:rem(26);
            color:#fff;
            border-bottom:rem(2) solid #fff;
        }
        .agreement-info{
            display:block;
            width:100%;
            height:rem(557);
            margin-top:rem(30);
            margin-bottom:rem(30);
            overflow:hidden;
            overflow-y:scroll;
            background-color:#999;
            > div{
                display:block;
                width:100%;
                height:auto;
                padding:rem(47) rem(30);
                box-sizing: border-box;
                font-size:rem(24);
                line-height:1.6;
                color:#333;
            }
        }
        .radio-wrap{
            margin-bottom:rem(60);
            ul{
                display:block;
                width:100%;
                li{
                    display:inline-block;
                    margin-right:rem(40);
                    label{
                        margin-right:rem(10);
                        font-size:rem(24);
                        font-weight:300;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
/* sub common E */
