//investors css   
.investors{
	position: relative;display: block;width: 100%;height: auto;overflow: hidden;background-color:#1d1d1d;
	.left-progress-area {
		.left-progress{
			width:100%;overflow-x:scroll !important;
			> img{width:640px;max-width: 2000px;}
		}
		.left-progress::-webkit-scrollbar {
			display: none;
		}
		progress {
			-webkit-writing-mode: horizontal-tb !important;
			appearance: auto;
			box-sizing: border-box;
			display: block;
			height: rem(12);
			width: 100%; 
			vertical-align: top;
			border-radius:0;
		}
		progress::-webkit-progress-bar{
			background-color:#5d5d5d;
		}
		progress::-webkit-progress-value{
			background-color:#03cab1;
		}
		.progress-notice{
			display:block;
			height:rem(28);
			padding:rem(25) 0;
			line-height:rem(28);
			font-size:rem(22);
			color:#03cab1;
			.progress-ico{
				position:relative;
				top:rem(-2);
				display:inline-block;
				width:rem(52);
				height:rem(22);
				margin-right:rem(10);
				background-image:url(../../assets/images/sub/progress_ico.png);
				background-repeat:no-repeat;
				background-position:center center;
				background-size:100% auto;
				vertical-align: middle;
			}
		}
	}
	.sub-menu{
		position:relative;
		top:rem(120);
		left:0;
		display:block;
		width:100%;
		height:rem(90);
		z-index: 9;
		> div{
			>div{
				line-height:rem(90);
				font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
				background-color:#303030;
				font-weight:bold;
				color:#03cab1;
				span{
					display:inline-block;
					width:rem(220);
					height:rem(90);
					padding-left:rem(36);
					margin-right:rem(26);
					font-weight:normal;
					color:#fff;
				}
				&:after{
					content:'';
				}
			}
			ul{
				display:none;
				li{
					display:block;
					a{
						display:block;
						font-weight:200;
						color:#858585;
						span{
							display:inline-block;
							width:rem(220);
							height:rem(90);
							padding-left:rem(36);
							margin-right:rem(26);
							font-weight:normal;
							color:#fff;
						}
					}
				}
				li.on{
					a{
						font-weight:bold;
						color:#03cab1;
					}
				}
			}
		}
	}
	.title{
		position:relative;
		.title-bg {
			position: relative;
			padding:rem(120) 0 rem(36);
			font-size:rem(80);
			font-weight:bold;
			z-index:2;
			font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
			& + span {
				@include position-left-center;
				top:rem(90);
				left: 45%;
				width:100%;
				max-width:90%;
				color:#1d1d1d;
				font-size: rem(80);
				font-weight:bold;
				text-shadow:0 0 rem(4) #fff;
				z-index:0;
				font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
				& + strong {
					display:block;
					width:100%;
					max-width:90%;
					margin:0 auto;
					font-size:$subhead2-txt;
					font-weight:200;
				}
			}
		}
	}
	.sub-title{
		padding:rem(28) 0 0;
		h3{ 
			display:inline-block;
			font-size:rem(36);
			font-weight:bold;
			border-bottom:rem(4) solid #03cab1;
		}
	} 
	h4{
		padding:rem(0) 0 rem(48);
		color:#03cab1;
		line-height:rem(40);
		font-size:rem(30);
		font-weight:bold;
	}
	.investors01{
		position: relative;
		width:100%;
		max-width:90%;
		height: auto;
		padding-bottom:rem(200);
		margin:0 auto;
		.investors-wrap{
			padding-top:rem(60);
			.investors-lists{
				ul{
					display:block;
					width:100%;
					height:auto;
					overflow:hidden;
					li{
						display:inline-block;
						width:rem(320);
						height:auto;
						padding-right:rem(11);
						padding-left:rem(11);
						margin-bottom:rem(60);
						a{
							display:block;
							width:100%;
							height:rem(490);
							border:1px solid #d5d5d5;
							img{display:block;}
							div.list-bottom{
								position: relative;
								display: table-cell;
								width: rem(384);
								padding:rem(55) rem(30) rem(20);
								height: rem(160);
								box-sizing: border-box;
								vertical-align: bottom;
								p.date{
									position:absolute;
									top:rem(25);
									right:rem(30);
									font-size:rem(20);
									color:#ebebeb;
								}
								p.title{
									margin-bottom:rem(10);
									font-size:rem(26);
									line-height:rem(40);
									color:#ebebeb;
									word-break: keep-all;
									vertical-align:bottom;
									span{display:inline-block;width:100%;}
								}
							}
						}
					}
					li:nth-child(2n){padding-right:rem(0);}
					li:nth-child(2n+1){padding-left:rem(0);}
				}
			}
			.btn-wrap{
				padding-top:0;
				text-align: center;
			}
		}
	}
	.investors01-view{
		.board{
			.title{
				h4{padding:rem(0) rem(115) rem(0) rem(21);color:#fff;}
			}
		}
	}
	.investors02{
		position: relative;
		width:100%;
		max-width:90%;
		height: auto;
		margin:0 auto;
		.investors-tab{
			display:block;
			width:100%;
            padding-top:rem(40);
			ul{
				display:inline-block;
				overflow:hidden;
				li{
					position:relative;
					display:inline-block;
					padding:0 rem(28);
					a{
						font-size:rem(30);
                        color:#999;
                        cursor: pointer;
					}
				}
				li:first-child{
					padding-left:0;
				}
				li::before{
					content:"";
					position:absolute;
					top:rem(1);
					left:0;
					display:block;
					width:rem(1);
					height:rem(24);
					background-color:#999;
				}
				li:first-child::before{display:none;}
				li.on{
					a{font-weight:600;color:#fff;}
				}
			}
		}
		.investors-tab-lists{
			.investors-tab-list{
                display:none;
                > .list {
                    border-top:rem(2) solid $primary-color;
                    .title {
                        margin:rem(28) 0 0;
                    }
                    .sort {
                        font-size: rem(24);
                        font-weight:700;
                        display: block;
                        color:$primary-color;
                        margin:rem(40) 0 rem(15);
                        & + .title {
                            margin:0;
                        }
                    }
                    & + .s-txt {
                        font-size:rem(24);
                        color:#b4b3b3;
                        font-weight:700;
                        text-align:center;
                        padding-top:rem(50);
                    }
                }
				.company{
					.company-subtitle{
						position:relative;
						width:100%;
						padding-bottom:rem(20);
						padding-top:rem(50);
						font-size:rem(36);
						font-weight:bold;
						border-bottom:rem(4) solid #10ccb4;
					}
					.company-subtitle:after{
						content:"";
						position:absolute;
						top:rem(50);
						right:0;
						display:block;
						width:rem(36);
						height:rem(36);
						background-image:url(../../assets/images/sub/company_toggle.png);
						background-repeat:no-repeat;
						background-position:center center;
						background-size:rem(36) rem(22);
						transition: all ease .25s;
					}
					.company-subtitle.closed:after{transform: rotate(-180deg)}
					
					.brand{
						height:auto;
						padding-bottom:rem(150);
						overflow:hidden;
						.brand-tab{
							display:block;
							width:100%;
							height:auto;
							margin-top:rem(20);
							padding-bottom:rem(20);
							border-bottom:rem(1) solid #03cab1;
							li{
								position:relative;
								display:inline-block;
								width:auto;
								height:rem(52);
								line-height:rem(48);
								background-color:#1d1d1d;
								color:#999;
								text-align:center;
								font-size:rem(22);
								box-sizing:border-box;
								a{
									display:block;
									height:rem(50);
									padding:0 rem(30);
									margin-right:rem(20);
									color:#999;
									font-size:rem(30);
									border-radius:rem(25);
									border:rem(1) solid #999;
								}
							}
							li.on{
								a{
									color:#333;
									font-weight:bold;
									border:rem(1) solid #03cab1;
									background-color:#03cab1;
								}
							}
						}
						.brand-tab-lists{
							.brand-tab-list{
								display:none;
								.tab-title-area{
									padding:rem(50) 0;
									font-size:rem(30);
									color:#fff;
								}
								.left-progress{padding-bottom:rem(55);}
							}
							.brand-tab-list.on{display:block;}
						}
					}
					.subsidiary{
						height:auto;
						padding-bottom:rem(150);
						overflow:hidden;
						> div{
							position:relative;
							display:block;
							img{display:block;margin:0 auto;padding:rem(60) 0 0;}
							ul{
								li{
									.mapPointer{
										position:absolute;
										a{
											display:block;
											width:rem(9);
											height:rem(9);
											background-image:url(../../assets/images/sub/map_pointer.png);
											background-repeat:no-repeat;
											background-size:100% auto;
											background-position:center center;
										}
									}
									.mapInfo{
										position:relative;
										p{
											display:inline-block;
											width:100%;
											line-height:rem(34);
											font-size:rem(24);
											color:#ebebeb;
											b{
												display:inline-block;
												width:100%;
												font-weight:600;
											}
											span{
												display:inline-block;width:100%;
											}
										}
										p.title{
											position:relative;
											padding:0 rem(20) 0;
											font-size:rem(30);
											font-weight:bold;
											color:#10cbb2;
											margin-top:rem(45);
											margin-bottom:rem(30);
											
										}
										p.title:before{
											content:"";
											position:absolute;
											top:rem(8);
											left:0;
											display:block;
											width:rem(14);
											height:rem(16);
											background-image:url(../../assets/images/sub/mobile_polygon.png);
											background-repeat:no-repeat;
											background-size:100% auto;
											background-position:center center;
										}
									}
								}
								li.kr .mapPointer{top:16%;left:81%;}
								li.cn .mapPointer{top:17%;left:79%;}
								li.hk .mapPointer{top:18.5%;left:77.5%;}
								li.vt .mapPointer{top:20.5%;left:75.5%;}
								li.it .mapPointer{top:15%;left:49%;}
								li.us .mapPointer{top:17%;left:25%;}
							}
						}
					}
					.circulation{
						height:auto;
						padding-bottom:rem(150);
						overflow:hidden;
						.circulation-tab{
							display:block;
							width:100%;
							height:rem(52);
							margin-top:rem(20);
							padding-bottom:rem(20);
							border-bottom:rem(1) solid #03cab1;
							li{
								position:relative;
								display:inline-block;
								width:auto;
								height:rem(52);
								line-height:rem(48);
								background-color:#1d1d1d;
								color:#999;
								text-align:center;
								font-size:rem(22);
								box-sizing:border-box;
								a{
									display:block;
									height:rem(50);
									padding:0 rem(30);
									margin-right:rem(20);
									color:#999;
									font-size:rem(30);
									border-radius:rem(25);
									border:rem(1) solid #999;
								}
							}
							li.on{
								a{
									color:#333;
									font-weight:bold;
									border:rem(1) solid #03cab1;
									background-color:#03cab1;
								}
							}
						}
						.circulation-tab-lists{
							.circulation-tab-list{
								display:none;
								.tab-title-area{
									padding:rem(50) 0;
									font-size:rem(30);
									color:#fff;
								}
							}
							.circulation-tab-list.on{display:block;}
						}
					}
					.employee{
						height:auto;
						padding-bottom:rem(150);
						overflow:hidden;
						.employee-table{
							width:100%;
							margin-top:rem(20);
							margin-bottom:rem(20);
							table{
								width:rem(1280);
								tr{
									th{
										height:rem(40);
										background-color:#7f7f7f;
										border-right:1px solid #535353;
										text-align:center;
										vertical-align:middle;
										font-size:rem(24);
										font-weight:bold;
										color:#242424;
									}
									th.row-border{
										border-bottom:1px solid #535353;
									}
									td{
										height:rem(40);
										border-top:1px solid #535353;
										text-align:center;
										vertical-align:middle;
										border-right:1px solid #535353;
										font-size:rem(20);
										color:#ebebeb;
									}
								}
								tr:last-child{border-bottom:1px solid #535353;}
							}
						}
						.employee-grape{
							ul{	
								display:block;
								width:100%;
								li{
									display:block;
									p.employee-grape-title{padding-top:rem(70);padding-bottom:rem(45);font-size:rem(30);color:#fff;}
									img{width:100%;max-width:rem(460);height:auto;}
								}
							}
						}
					}
				
				}
				.financial{
					.financial-tab{
						padding-top:rem(50);
						padding-bottom:rem(45);
						ul{
							display:block;
							width:100%;
							height:auto;
							overflow:hidden;
							li{
								display:inline-block;
								width:50%;
								height:rem(50);
								a{
									display: inline-block;
									width: 100%;
									height:rem(48);
									text-align:center;
									font-size:rem(24);
									line-height:rem(46);
									border:rem(1) solid #999;
									box-sizing: border-box;
									color:#999;
									vertical-align:top;
								}
							}
							li:first-child{ 
								a{border-right-width:0;}
							}
							li:last-child{ 
								a{border-left-width:0;}
							}
							li.on{
								a{
									line-height:rem(42);
									border-width:rem(2);
									border-color:#10ccb4;
									color:#10ccb4;
									font-weight:600;
								}
							}
						}
					}
					.financial-tab-lists{
						.financial-tab-list{
							display:none;
							.financial-grape{
								.grape-info{
									ul{
										li{
											display:inline-block;
											margin-right:rem(60);
											font-size:rem(16);
											font-weight:200;
											b.grape-bg{
												display:inline-block;
												width:rem(15);
												height:rem(15);
												margin-right:rem(10);
												background-size:100% auto;
												background-repeat:no-repeat;
												background-position:center center;
												vertical-align: top;
											}
											b.grape-bg.grapeA{background-image:url(../../assets/images/sub/grapeA_bg.png);}
											b.grape-bg.grapeB{background-image:url(../../assets/images/sub/grapeB_bg.png);}
										}
									}
								}
								.grape{
									position:relative;
									display:block;
									width:100%;
									height:auto;
									overflow:hidden;
									.guide{
										display:block;
										width:rem(90);
										float:left;
										span{
											display:block;
											width:rem(90);
											height:rem(60);
											line-height:rem(60);
											font-size:rem(20);
											font-weight:600;
										}
										span:first-child{padding-top:rem(20)}
										span:last-child{padding-bottom:rem(20)}
									}
									.guideline{
										display:block;
										width:rem(1190);
										float:left;
										p{
											display:block;
											height:rem(1);
											padding:rem(30) 0 0;
											margin-bottom:rem(29);
											border-bottom:rem(1) solid #999;
										}
										p:first-child{margin-top:rem(19)}
										p:last-child{margin-bottom:rem(49)}
									}
									.grape-inner{
										position:absolute;
										top:0;
										left:0;
										display:block;
										width:100%;
										height:100%;
										padding-left:rem(90);
										z-index:1;
										ul{
											display: table;
											width: 100%;
											height: 100%;
											vertical-align: bottom;
											li{
												position:relative;
												display: table-cell;
												vertical-align: bottom;
												p{
													text-align:center;
													font-size:rem(20);
													font-weight:300;
												}
												div{
													position:absolute;
													bottom:rem(49);
													left:0;
													display:block;
													width:100%;
													text-align:center;
													b.grape-bg{
														display:inline-block;
														width:rem(30);
														margin:0 rem(5);
														background-size:100% auto;
														background-repeat:repeat;
														background-position:center center;
													}
													b.grape-bg.grapeA{background-image:url(../../assets/images/sub/grapeA_bg.png);}
													b.grape-bg.grapeB{background-image:url(../../assets/images/sub/grapeB_bg.png);}
												}
											}
										}
									}
								}
							}
							.financial-table{
								position:relative;
								display:block;
								width:100%;
								height:auto;
								padding:rem(70) 0;
								.financial-table-title{
									font-size:rem(30);
									margin-bottom:rem(25);
								}
								.financial-table-unit{
									display:inline-block;
									width:100%;
									height:auto;
									padding:rem(20) 0 rem(25);
									font-size:rem(20);
								}
								.financial-table-inner{
									display:block;
									width:100%;
									overflow:hidden;
									table{
										width:rem(1280);
										text-align:center;
										tr{
											th{
												width:rem(200);
												height:rem(54);
												line-height:rem(54);
												font-size:rem(26);
												font-weight:600;
												color:#242424;
												border-left:rem(1) solid #323232;
												background-color:#7f7f7f;
											}
											th:first-child{
												width:rem(286);
												border-left:0;
											}
											td{
												width:rem(200);
												height:rem(54);
												line-height:rem(54);
												font-size:rem(24);
												color:#ebebeb;
												width:rem(200);
												border-left:rem(1) solid #323232;
												border-bottom:rem(1) solid #323232;
											}
											td:first-child{
												width:rem(286);
												border-left:0;
											}
										}
									}
								}
							}
						}
						.financial-tab-list.on{display:block;}
					}
				}
			}
			.investors-tab-list.on{
                display:block;
            }
		}
        .table-list {
            margin-top:rem(60);
            .sort-txt {
                padding-top:rem(30);
                color:$color-gray;
                font-weight:700;
            }
        }
	}
	.investors02-view{
		.investors-tab{
			display:block;
			width:100%;
			ul{
				display:inline-block;
				overflow:hidden;
				li{
					position:relative;
					display:inline-block;
					padding:0 rem(28);
					a{
						font-size:rem(30);
						color:#999;
					}
				}
				li:first-child{
					padding-left:0;
				}
				li::before{
					content:"";
					position:absolute;
					top:rem(1);
					left:0;
					display:block;
					width:rem(1);
					height:rem(24);
					background-color:#999;
				}
				li:first-child::before{display:none;}
				li.on{
					a{font-weight:600;color:#fff;}
				}
			}
		}
		.board{
			.title{
				h4{padding:rem(0) rem(115) rem(0) rem(21);color:#fff;}
			}
		}
	}
    .investors04 {
		h3{margin-bottom:rem(30);}
        > .s-txt {
            font-size:rem(24);
            line-height: 1.6;
            padding: 0 0 rem(45);
            border-bottom:rem(1) solid #373737;
        }
        .form {
            padding:rem(50) 0 0;
            li {
                padding:0 0 rem(50);
            }
            label {
                display:inline-block;
                font-size:rem(28);
                margin-bottom:rem(25);
                &:after {
                    content:' *';
                    color:$primary-color;
                }
            }
        }
        .btn-wrap.ea2 {
            padding-top:rem(40);
            .btn {
                margin:0 rem(20);
                width:rem(280);
                font-size:rem(30);
            }
        }
    }
}