/* cate */
#container.cate {
	width:100%;
	padding-bottom:rem(100);
	background-color: $bg-cate;
	overflow: hidden;
	section{
		.cate-title-wrap{
			display:block;width:100%;padding-left:rem(40);background:#fff;box-sizing:border-box;
			.cate-title{
				position: relative;display:block;width:100%;height:auto;padding-bottom:rem(40);margin:0 auto;
				h3{padding-top:rem(70);padding-bottom:rem(20);font-size:rem(50);font-weight:400;color:#000;}
				p{ 
					line-height:rem(36);font-size:rem(24);font-weight:300;color:#000;
					b{font-weight:500;}
				}
				.cate-nav{
					position: absolute;bottom:rem(50);left:0;display:none;width:100%;margin:0 auto;text-align:right;font-size:rem(14);font-weight:300;color:#878787;
					span{}
					span.curr{color:#000;font-weight:bold;}
				}
			}
		}
		.tab-btns{
			display:block;padding-left:rem(40);box-sizing:border-box;margin-bottom:rem(40);
			a{
				position:relative;display:inline-block;margin:0 rem(20);line-height:rem(50);font-size:rem(28);font-weight:500;color:#878787;cursor:pointer; 
			} 
			a:first-child{margin-left:0;}
			a:after{
				content:"";
				position:absolute;
				display:block;
				width:100%;
				height:rem(2);
				bottom:rem(0);
				left:50%;
				background-color:#de121c;
				-moz-transform: translate(-50%,0);
				-webkit-transform: translate(-50%,0);
				-o-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
				transform: translate(-50%,0);
				opacity:0;
			}
			a.on{color:#000;}
			a.on:after{opacity:1;}
		}
		.move-btns{
			display:block;padding-left:rem(40);box-sizing:border-box;margin-bottom:rem(40);
			a{
				position:relative;display:inline-block;margin:0 rem(20);line-height:rem(50);font-size:rem(28);font-weight:500;color:#878787;cursor:pointer; 
			} 
			a:first-child{margin-left:0;}
			a:after{
				content:"";
				position:absolute;
				display:block;
				width:100%;
				height:rem(2);
				bottom:rem(0);
				left:50%;
				background-color:#de121c;
				-moz-transform: translate(-50%,0);
				-webkit-transform: translate(-50%,0);
				-o-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
				transform: translate(-50%,0);
				opacity:0;
			}
			a.on{color:#000;}
			a.on:after{opacity:1;}
		}
		.paginate{
			display:block;text-align:center;
			a{
				display:inline-block;width:rem(68);height:rem(68);margin:0 rem(2);line-height:rem(68);text-align:center;font-size:rem(24);vertical-align:top;color:#888;border:rem(1) solid #888;cursor:pointer;
				img{display:block;width:rem(33);height:rem(21);padding:rem(23) 0;margin: 0 auto;}
			}
			a.curr{color:#000;border:1px solid #000;}
			a.next,
			a.prev{border:1px solid #000;}
			a.next{margin-left:rem(18);}
			a.prev{margin-right:rem(18);}
		}
		.btn-wrap{
			display:block;text-align:center;
			a{display:inline-block;width:auto;min-width:rem(230);height:rem(80);padding:0 rem(20);margin:0 rem(5);line-height:rem(80);border: rem(1) solid #888;box-sizing:border-box;text-align:center;font-size:rem(24);font-weight:600;cursor:pointer;}
			a.reg{display:inline-block;background-color:#d60615;color:#fff;border:rem(1) solid #d60615;}
			a.cancel{display:inline-block;background-color:#fff;color:#d60615;border:rem(1) solid #d60615;}
			.more-btn{display:inline-block;font-size:rem(24);}
		}
		.table-wrap{
			.table-area{
				display: block;width: 100%;height: auto;margin: 0 auto;
				> div{
					margin-bottom:rem(60);
					ul{
						li{
							display:block;width:100%;height:auto;padding-bottom:rem(40);box-sizing: border-box;overflow:hidden;
							dd{
								padding:rem(0) rem(0) rem(8);line-height:rem(24);font-size:rem(24);color:#888;box-sizing: border-box;
								.post-btn{display:block;width:rem(200);height:rem(60);margin-top:rem(20);line-height:rem(60);text-align:center;color:#fff;background-color:#8d8d8d;border-radius:rem(5);}
								.empty-box{display:block;width:rem(118);height:auto;opacity:0;}
								.add-info{display:block;width:100%;height:auto;padding:0 rem(10);line-height:rem(28);font-size:rem(20);color:#888;box-sizing:border-box;}
								.index-check{
									display:block;width:100%;height:auto;padding-top:rem(10);line-height:rem(25);text-align:right;font-size:rem(20);color:#888;box-sizing:border-box;
									b{
										color:#d60615;
									}
								}
								.agree-info{
									display:block;width:100%;height:auto;padding:rem(0) rem(34);margin-top:rem(16);margin-bottom:rem(18);background-color:#f4f4f4;box-sizing:border-box;
									p{display:block;width:100%;height:auto;padding:rem(32) rem(0);line-height:rem(32);font-size:rem(18);color:#888;}
								}
								.textarea-wrap{
									textarea{height:rem(76);resize: vertical;}
								}
								> span{padding-left:rem(10);line-height:rem(62);}
							}
							dd.title{
								position:relative;padding-left:0;padding-right:0;line-height:rem(56);font-family: 'SCDream','NotoSansKR', Arial, sans-serif;font-size:rem(26);font-weight:400;color:#3c3c3c;
								b{position:relative;top: rem(-5);margin-left: rem(5);font-size:rem(20);font-weight:400;color:#d60615;}
								a{display: inline-block;width: auto;height: rem(50);padding: 0 rem(25);margin-bottom:rem(10);line-height: rem(50);font-size: rem(24);font-weight: 400;color: #888;border: rem(1) solid #888;border-radius:rem(5);cursor:pointer;}
							}
							.phone-input{white-space: nowrap;}
						}
					}
				}
			}
		}
		.sm-color{color:#af2823;}
		.hs-color{color:#ea3130;}
		.sb-color{color:#007c40;}
		.hk-color{color:#ee2e24;}
		.ss-color{color:#062f87;}
		.be-color{color:#f26721;}
		.db-color{color:#f92c22;}
		.bo-color{color:#000000;}
		.w100per{width:100%;}
		.w130{width:rem(130);}
		.w180{width:rem(180);}
		.w200{width:rem(200);}
		.w265{width:rem(265);}
		.w268{width:rem(268);}
		.w350{width:rem(350);}
		.mg-l20{margin-left:rem(20);}
		.v-align-t{vertical-align: top;}
		.content{display:block;width:100%;height:auto;margin:rem(50) auto 0;}
		
		.theborn{
			display:block;width:100%;box-sizing:border-box;
			> div{
				display:block;width:100%;
				.theborn-msg-wrap{					
					display:block;width:calc(100% - #{rem(80)});height:rem(745);margin:0 auto;box-sizing:border-box;
					background-color:#fff;
					background-image:url(../images/cate/msg_bg.png);
					background-size: auto rem(743);
					background-position:center center;
					background-repeat:no-repeat;					
				}
				.theborn-msg-wrap.type2{					
					display:block;width:calc(100% - #{rem(80)});height:auto;padding-bottom:rem(106);margin:0 auto rem(40);box-sizing:border-box;
					background-image:url(../images/cate/msg_bg2.png);
					background-size: auto rem(106);
					background-position:left bottom;
					background-repeat:no-repeat;					
					h4{
						padding-bottom:rem(50);font-size:rem(36);font-weight:500;color:#000;text-align:center;
					}
					.theborn-msg{
						p{padding:0 rem(40);line-height:rem(30);font-size:rem(24);font-weight:normal;color:#000;text-align:center;letter-spacing:rem(-1);line-height:1.6;}
						p.ceo-sign{
							line-height:rem(50);font-size:rem(24);
							img{display:inline-block;width:auto;height:rem(73);margin-left:rem(10);vertical-align:middle;}
						}
					}
				}
				.theborn-map-wrap{
					display:block;width:100%;height:rem(2134);margin:0 auto;background-color:#fff;
					background-image:url(../images/cate/map_area_bg.png); 
					background-size: 100% auto;
					background-position:center center;
					background-repeat:no-repeat;
					.theborn-map{
						.map-title{padding-top:rem(80);padding-bottom:rem(70);text-align:center;font-size:rem(36);font-weight:500;color:#fff;}
						.map-txt{padding-bottom:rem(90);line-height:rem(36);text-align:center;font-size:rem(24);font-weight:300;color:#fff;}
						.map-area{
							position:relative;display:block;width:100%;height:rem(1693);margin:0 auto;
							background-size: auto 100%;
							background-position:center center;
							background-repeat:no-repeat;
							background-image:url(../images/cate/map_bg.png); 
							ul{
								display:none;
								li{
									position:absolute;
									display:block;
									width:rem(8);
									height:rem(8);
									margin-top:rem(-5);
									margin-left:rem(-5);
									border-radius:50%;
									border:1px solid #dd0b15;
									transition: all .25s;
									> div{
										position:relative;top:rem(-20);left:rem(4);display:block;padding-left:rem(20);
										.map-cursor{
											display:none;
											b{}
										}
										.map-infos{
											position:relative;display:none;width:rem(180);height:auto;z-index:4;
											b{display:inline-block;width:auto;height:rem(26);padding:0 rem(15);line-height:rem(26);font-size:rem(14);font-weight:500;color:#fff;background-color:#dd0b15;border-radius:rem(5);}
											dl{
												width:rem(180);height:auto;padding:rem(12) rem(20);background-color:#fff;border-radius:rem(5);box-sizing:border-box;
												dd{display:inline-block;width:48%;height:rem(20);margin-bottom:rem(10);}
												p{display:block;width:rem(140);height:rem(26);line-height:rem(26);text-align:center;font-size:rem(11);color:#000;background-color:#efefef;border-radius:rem(13);border:rem(1) solid #888;}
												dd.thebrand-1{}	
												dd.thebrand-2{}
												dd.thebrand-3{}
												dd.thebrand-4{}
												dd.thebrand-5{}
												dd.thebrand-6{}
												dd.thebrand-7{}
												dd.thebrand-8{}
											}
										}
									}
								
								}
								li:before{
									content:'';
									display:block;
									width:rem(8);
									height:rem(8);
									margin-top:0;
									margin-left:0;
									border-radius:50%;
									background-color:#dd0b15;
									transition: all .25s;
								}
								li:hover{
									display:block;
									width:rem(18);
									height:rem(18);
									margin-top:rem(-10);
									margin-left:rem(-10);
									background-color:#fff;
									border:1px solid #dd0b15;
									> div{
										.map-infos{display:block;}
									}
								}
								li:hover::before{
									margin-top:rem(5);
									margin-left:rem(5);
								}
								li.ico-p-1{top:rem(306);left:rem(430);}
								li.ico-p-2{top:rem(298);left:rem(375);}
								li.ico-p-3{top:rem(310);left:rem(458);}
								li.ico-p-4{top:rem(359);left:rem(377);}
								li.ico-p-5{top:rem(368);left:rem(355);}
								li.ico-p-6{top:rem(375);left:rem(372);}
								li.ico-p-7{top:rem(388);left:rem(410);}
								li.ico-p-8{top:rem(417);left:rem(364);}
								li.ico-p-9{top:rem(434);left:rem(431);}
								li.ico-p-10{top:rem(452);left:rem(395);}
								li.ico-p-11{top:rem(520);left:rem(420);}
								li.ico-p-12{top:rem(274);left:rem(762);}
							}
						}
					}
				}
				.theborn-sys-wrap{
					display:block;width:calc(100% - #{rem(80)});margin:0 auto;
					.theborn-sys{
					display:block;width:100%;height:auto;margin:rem(40) auto 0;
						ul{
							text-align:center;
							li{
								display:inline-block;width:100%;height:auto;padding-top:rem(50);margin:0 auto rem(40);background-color:#fff;box-sizing:border-box;
								.img-box{
									display:block;width:rem(120);height:rem(120);margin: 0 auto rem(35);border-radius:50%;border:rem(1) solid #eee; overflow:hidden;
									background-size: 100% auto;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									display:block;padding-bottom:rem(50);
									.txt-title{margin-bottom:rem(15);text-align:center;font-size:rem(28);font-weight:500;color:#de121c;}
									.txt-dec{display:-webkit-box; word-break: keep-all; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;height:auto;line-height:rem(34);text-align:center;font-size:rem(22);font-weight:400;color:#000;}
								}
							}
						} 
					}
				}
			}
		}
		.brand{
			display:block;width:100%;padding:0 rem(30);box-sizing:border-box;
			> div{
				display:block;width:100%;margin-bottom:rem(140);
				.brand-lists{
					> ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						> li{
							display:inline-block;width:50%;padding:0 rem(10);margin-bottom:rem(36);border: 0px solid #f7f7f7;vertical-align: top;float:left;box-sizing:border-box;overflow:hidden;
							> div{
								.img-box{
									display:block;width:100%;height:rem(230);
									background-size: auto 100%;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									position:relative;display:block;width:100%;height:auto;padding:rem(80) rem(20) rem(60);background-color:#fff;box-sizing:border-box;
									.logo-ico{
										position:absolute;top:rem(10);left:rem(20);display:block;width:100%;height:rem(60);margin-bottom:rem(10);
										background-size: auto 100%;
										background-position:left center;
										background-repeat:no-repeat;
									}
									dl{
										dd{
											display:block;padding-left:rem(12);padding-bottom:rem(15);line-height:rem(30);font-size:rem(22);font-weight:300;color:#000;text-indent:rem(-15);overflow:hidden;
										}
									}
									.brand-home-move{
										position:absolute;bottom:rem(0);right:rem(0);display:block;width:rem(240);height:rem(60);padding-left:15%;line-height:rem(64);box-sizing:border-box;
										font-size:rem(20);font-weight:300;color:#777;
										background-image:url(../images/athome_ico.png);
										background-size: rem(21) rem(21);
										background-position:10% center;
										background-repeat:no-repeat;
										cursor:pointer;
									}
								}
							}
						}
					}
				}
			}
		}
		.news{
			display:block;width:100%;padding:0 rem(30);box-sizing:border-box;
			> div{
				display:block;width:100%;margin-bottom:rem(140);
				.news-lists{
					> ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						> li{
							display:inline-block;width:50%;padding:0 rem(10);margin-bottom:rem(36);border: 0px solid #f7f7f7;vertical-align: top;float:left;box-sizing:border-box;
							a{
								cursor:pointer;
								.img-box{
									display:block;width:100%;height:rem(197);
									background-size: auto 100%;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									position:relative;display:block;width:100%;height:auto;padding:rem(30) rem(20);background-color:#fff;box-sizing:border-box;
									.news-title{line-height:rem(30);font-size:rem(22);font-weight:300;color:#000;word-break:keep-all;}
									.news-date{margin-top:rem(15);font-size:rem(20);font-weight:300;color:#000;word-break:keep-all;}
								}
							}
						}
						> li:nth-child(4n){margin-right:0px;}
						> li:hover{border:rem(0) solid #de121c;box-sizing:border-box;}
					}
				}
				.media-lists{
					> ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						> li{
							display:inline-block;width:50%;padding:0 rem(10);margin-bottom:rem(36);border: 0px solid #f7f7f7;vertical-align: top;float:left;box-sizing:border-box;
							a{
								cursor:pointer;
								.img-box{
									display:block;width:100%;height:rem(197);
									background-size: auto 100%;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									position:relative;display:block;width:100%;height:auto;padding:rem(30) rem(20);background-color:#fff;box-sizing:border-box;
									.media-brand{
										font-size:rem(20);font-weight:400;
										span{margin:0 rem(3);}
									}
									.media-title{margin-top:rem(15);line-height:rem(30);font-size:rem(22);font-weight:400;color:#000;}
								}
							}
						}
						> li:nth-child(4n){margin-right:0px;}
						> li:hover{border:rem(0) solid #de121c;box-sizing:border-box;}
					}
				}
			}
		
		}
		.founded{
			.register{
				width:100%;height:auto;padding:rem(0) rem(40);box-sizing:border-box;
				> div{
					width:100%;height:auto;padding:rem(80) rem(40);background-color:#fff;box-sizing:border-box;
					.notice-infos{
						position:relative;display:block;width:100%;height:rem(116);padding:rem(22) 0;margin:rem(72) auto rem(0);text-align:center;background-color:#f7f7f7;border:rem(1) solid #ddd;box-sizing:border-box;clear:both;
						span{
							display:inline-block;width: calc(50% - #{rem(2)});line-height:rem(32);vertical-align: top;float: left;font-size:rem(20);color:#000;border-left:rem(1) solid #ddd;
							p{display:inline-block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
							b{display:inline-block;width: 100%;font-size:rem(26);font-weight:500;}
						}
						span:first-child{border-left:0;}
						> p{
							position: absolute;left: 0%;bottom: rem(-30);display: block;width: 100%;text-align: center;font-size: 1.125rem;font-weight: 400;color: #3c3c3c;
							b{padding-right:rem(30);font-size:rem(24);font-weight:500;color:#3c3c3c;}
						}
					}
					.radio-month{
						input[type='radio']{
							& + label{
								margin-right:rem(6);
								& + label{margin-right:rem(12);}
							}
						}
					}
				}
			}
			.store-steps{    
				display: block;width: 100%;height: auto;padding:rem(20) rem(40);box-sizing:border-box;
				>div{
					display: block;width: 100%;height: auto;min-height: rem(800);margin:0 auto;
					background-size: 100% auto;
					background-position:left top;
					background-repeat:no-repeat;
					background-image:url(../images/cate/store_step_bg.jpg);
					ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						li{
							display:block;width:29%;height:rem(400);padding:rem(200) rem(0) 0;text-align:center;box-sizing:border-box;
							b{line-height:rem(30);font-size:rem(20);font-weight:500;color:#de121c;}
							p{
								line-height:rem(30);font-size:rem(20);font-weight:500;color:#000;
								span{display:block;line-height:rem(30);font-size:rem(16);font-weight:400;color:#888;word-break:keep-all;}
							}
						}
						li:nth-child(2){width:42%;}
					}
					ul.fst-lines{
						li{float:left;}
					}
					ul.sec-lines{
						li{float:right;}				
					}
					p.store-notice{
						display: inline-block;padding-top: 20px;padding-left: 420px;font-size:rem(18);font-weight:500;color:#000;
						b{color:#de121c;}
					}
				}
			}
			.fna{
				display:block;width:100%;height:auto;padding:0 rem(40);margin:0 auto;box-sizing:border-box;
				> div{
					display:block;width:100%;height:auto;padding:0 rem(40) rem(150);margin:0 auto;background-color:#fff;box-sizing:border-box;
					.search-form{
						display:block;width:100%;height:auto;padding:rem(80) rem(0);box-sizing:border-box;
						> div{
							position:relative;
							.search-input{border-bottom:rem(1) solid #888;}
							.search-btn{
								position:absolute;top:rem(8);right:0;
								display:inline-block;width:rem(38);height:rem(38);
								background-size: rem(38) rem(38);
								background-position:center center;
								background-repeat:no-repeat;
								background-image:url(../images/search_btn_icon.png);
								text-indent:-9999px;
								cursor:pointer;
							}
						}
					}
					.fna-lists{
						ul{
							li{
								.list-title{
									position:relative;display:block;width:100%;height:auto;padding:rem(14) rem(8);padding-left:rem(48);line-height:rem(34);font-size:rem(24);font-weight:500;color:#000;border-bottom:rem(1) solid #ddd;box-sizing:border-box;cursor:pointer;word-break:keep-all;text-indent:rem(-40);
									b{position:relative;color:#dd0b15;}
								}
								.list-title:after{
									content:"";
									position:absolute;top:rem(23);right:rem(8);
									display:block;width:rem(23);height:rem(14);
									background-size: rem(23) rem(14);
									background-position:center center;
									background-repeat:no-repeat;
									background-image:url(../images/toggle_btn.png);
								}
								.toggle-box{display:none;width:100%;height:auto;padding:rem(20) rem(48) rem(40);line-height:rem(32);font-size:rem(22);font-weight:400;color:#666;border-bottom:rem(1) solid #ddd;word-break:keep-all;box-sizing:border-box;}
							}
							li.toggleActive{
								.list-title:after{transform: rotate(-180deg);}
							}
						}
					}
				}
			}
		}
		.presentation{
			.present{
				display:block;width:100%;height:auto;
				.add-tab{
					display:block;width:100%;height:auto;padding:rem(0) 0 rem(0);margin:0 auto;box-sizing:border-box;
					.add-tab-btns{
						display:block;width:100%;padding-left:rem(40);box-sizing:border-box;overflow:hidden;
						div.swiper-slide{
							display:inline-block;width:auto;min-width:rem(176);margin-right:rem(10);border:rem(1) solid #ddd;border-radius:rem(30);overflow:hidden;box-sizing:border-box;cursor:pointer;
							a{display:block;width:100%;height:rem(60);padding:0 rem(20);line-height:rem(60);text-align:center;font-size:rem(23);font-weight:500;color:#878787;box-sizing:border-box;}
						}
						div.swiper-slide:last-child{margin-right:rem(50);}
						div.swiper-slide.on{
							a{color:#fff;background-color:#dd0b15;border-color:#dd0b15;}
						}
					}
					.add-tab-inner{
						.add-tab-con{
							display:none;
							.presentation-lists-wrap{
								.presentation-dates{
									position:relative;display:block;width:100%;height:auto;padding:rem(50) 0 rem(0);
									>div{
										position:relative;display:block;width:100%;height:rem(60);margin:0 auto;line-height:rem(60);text-align:center;
										> p{
											font-size:rem(30);color:#000;
											b{font-weight:500;}
										}
										> div{
											position:absolute;top:0;display:block;width:rem(60);height:rem(60);border-radius:50%;overflow:hidden;outline:none;
											> a{
												display:block;width:rem(60);height:rem(60);outline:none;
												background-size: rem(60) rem(59);
												background-position:center center;
												background-repeat:no-repeat;
												background-image:url(../images/date_set_btn.png);
											}
										}
										> div:hover{
											box-shadow:rem(3) rem(4) rem(5) #ddd;
										}
										> div.date-set-btn-prev{
											left:rem(40);
											> a{transform: rotate(-180deg);}
											> a:hover{background-image:url(../images/date_set_btn_on.png);transform: rotate(0deg);}
										}
										> div.date-set-btn-next{
											right:rem(40);
											> a{transform: rotate(0deg);}
											> a:hover{background-image:url(../images/date_set_btn_on.png);transform: rotate(-180deg);}
										}
									}
									.selectBox{
										position: relative;width: 100%;padding:rem(10) 0;padding-left:rem(40);margin-top:rem(25);background: #fff;box-sizing:border-box;
										> select{position:absolute;top:rem(10);left:rem(40);display:block;width:rem(200);height:rem(50);padding:0;padding-left:rem(20);line-height:rem(50);text-align:left;opacity: 0;}
										> select + label{
											display:block;width:rem(200);height:rem(50);padding:0;padding-left:rem(20);line-height:rem(50);text-align:left;border:rem(0) solid #ddd;font-size:rem(22);font-weight:bold;color:#000;box-sizing:border-box;
											background-size: rem(16) rem(9);
											background-position: 96% center;
											background-repeat:no-repeat;
											background-image:url(../images/toggle_btn.png);
										}
									}
								}
								.presentation-lists{
									display:block;width:100%;padding:rem(40) rem(40);box-sizing:border-box;
									ul{
										display:block;width:100%;height:auto;overflow:hidden;
										.presentation-list{
											display:inline-block;width:calc(50% - #{rem(10)});float:left;margin:0 rem(10);
											> div{
												position: relative;display:block;width:100%;height:auto;padding:rem(5);margin-bottom:rem(42);background-color:#fff;box-sizing:border-box;
												.img-box{position:relative;display:block;width:100%;height:rem(226);margin:rem(0) auto;
													background-size: auto 100%;
													background-position:center center;
													background-repeat:no-repeat;
													
												}
												.txt-box{
													position:relative;display:block;width:100%;height:auto;padding-top:rem(32);padding-left:rem(20);padding-bottom:rem(100);margin:0 auto;box-sizing: border-box;
													.presentation-locate{padding-bottom:rem(10);line-height:rem(30);font-size:rem(20);font-weight:500;color:#dd0b15;}
													.presentation-brand{padding-bottom:rem(20);line-height:rem(30);font-size:rem(28);font-weight:500;color:#000;}
													.presentation-time{padding-bottom:rem(10);line-height:rem(30);font-size:rem(22);font-weight:400;color:#000;}
													.presentation-space{padding-bottom:rem(20);line-height:rem(30);font-size:rem(22);font-weight:400;color:#000;}
													.presentation-noti{margin-top:rem(6);line-height:rem(24);font-size:rem(18);font-weight:400;color:#878787;letter-spacing: -0.2px;word-break: keep-all;}
												}
												.btn-wrap{
													position: absolute;left: rem(20);bottom: rem(20);text-align: left;
													a{display:inline-block;width:rem(170);height:rem(56);line-height:rem(56);font-size:rem(20);font-weight:500;color:#fff;border:rem(1) solid #dd0b15;background-color:#dd0b15;}
													a.sold{border:rem(1) solid #878787;background-color:#878787;}
												}
												.img-box.almost-sold:after{
													content:'마감임박';position:absolute;top:rem(0);right:rem(0);display:block;width:rem(100);height:rem(34);line-height:rem(34);text-align:center;font-family: 'Noto Sans KR', Helvetica, AppleSDGothicNeo, sans-serif;font-size:rem(20);color:#fff;background-color: #dd0b15;
												}
											}
										}
										.presentation-list:nth-child(2n){margin-right:0;}
										.presentation-list:nth-child(2n + 1){margin-left:0;}
									}
								}
								
							}
						}
						.add-tab-con.on{display:block;}
					}
				}
			}
			.location{
				display:block;width:100%;height:auto;
				.add-tab{
					display:block;width:100%;height:auto;padding:rem(0) 0 rem(0);margin:0 auto;box-sizing:border-box;
					.add-tab-btns{
						display:block;width:100%;padding-left:rem(40);overflow:hidden;
						div.swiper-slide{
							display:inline-block;;width:auto;min-width:rem(176);margin-right:rem(10);border:rem(1) solid #ddd;border-radius:rem(30);box-sizing:border-box;cursor:pointer;overflow:hidden;
							a{display:block;width:100%;height:rem(60);padding:0 rem(20);line-height:rem(60);text-align:center;font-size:rem(23);font-weight:500;color:#878787;box-sizing:border-box;}
						}
						div.swiper-slide:last-child{margin-right:rem(50);}
						div.swiper-slide.on{
							a{color:#fff;background-color:#dd0b15;border-color:#dd0b15;}
						}
					}
					.add-tab-inner{
						display:block;width:100%;padding:rem(50) rem(40) 0;box-sizing:border-box;
						.add-tab-con{
							display:none;padding:rem(0) rem(35) rem(60);background-color:#fff;box-sizing:border-box;
							.location-title-wrap{
								.location-title{display:block;width:100%;height:auto;padding:rem(80) 0 rem(50);line-height:rem(36);font-size:rem(36);font-weight:500;color:#000;}
								.location-addr1{display:block;width:100%;height:auto;padding-bottom:rem(15);line-height:rem(32);font-size:rem(24);font-weight:400;color:#000;}
								.location-addr2{display:block;width:100%;height:auto;padding-bottom:rem(15);line-height:rem(32);font-size:rem(24);font-weight:400;color:#000;}
								p{
									b{display:inline-block;width:100%;padding-bottom:rem(10);font-weight:500;}
								}
							}
							.location-map{
								> div{
								
								}
							}
							.location-traffic{
								ul{
									display:block;margin-top:rem(20);
									li{
										position:relative;display:block;width:100%;
										b.traffic_ico{
											display:block;width:100%;height:rem(24);padding-left:rem(32);margin-bottom:rem(10);text-align:left;font-size:rem(24);font-weight:500;color:#000;box-sizing:border-box;
											background-size: rem(20) rem(26);
											background-position:rem(6) center;
											background-repeat:no-repeat;
										}
										p{
											display:inline-block;width:100%;height:rem(80);line-height:rem(36);font-size:rem(24);font-weight:400;color:#000;box-sizing:border-box;
										}
									}
								}
							}
						}
						.add-tab-con.on{display:block;}
					}
				}
			}
		}
		.presentation-form{
			.presentation-form-wrap{
				display:block;width:100%;height:auto;padding:rem(0) rem(40);box-sizing:border-box;
				>div{
					display:block;width:100%;height:auto;padding:rem(40) rem(50);background-color:#fff;box-sizing:border-box;
					.presentation-form-title-wrap{
						display:block;width:100%;height:auto;margin:0 auto rem(40);text-align:center;background-color:#f9f9f9;border:rem(1) solid #ebebeb;box-sizing:border-box;
						> div{		
							display:inline-block;width:auto;text-align: left;
							.presentation-form-title{padding-top:rem(40);padding-bottom:rem(25);font-size:rem(26);font-weight:500;color:#d60615;}
							.presentation-form-dec{padding-bottom:rem(25);line-height:rem(34);font-size:rem(22);font-weight:400;color:#000;}
						}
					}
				}
			}
		}
		.view{
			.view-wrap{
				display:block;width:100%;height:auto;padding:rem(0) rem(40);box-sizing:border-box;
				> div{
					display:block;width:100%;padding:rem(60) rem(40) rem(60);background-color:#fff;box-sizing:border-box;
					.view-title{
						display:block;width:100%;height:auto;line-height:rem(36);margin:0 auto;overflow:hidden;box-sizing:border-box;
						h4{line-height:rem(36);font-size:rem(24);color:#3c3c3c;}
						span{line-height:rem(30);font-size:rem(20);font-weight:300;color:#3c3c3c;}
					}
					.view-con{padding:rem(40) rem(0) rem(0);font-size:rem(24);font-weight:400;color:#3c3c3c;box-sizing:border-box;}
					.view-foot{
						display:block;width:100%;margin:0 auto;border-bottom:rem(1) solid #ddd;box-sizing:border-box;
						.sns-btns{
							display:block;padding:rem(65) 0 rem(50); text-align:center;
							a{
								display:inline-block;margin:0 rem(4);
								img{display:block;width:rem(74);height:rem(74);}
							}
						}
						.add-file-area{
							display:block;width:100%;height:rem(72);padding:0 rem(40);margin:0 auto;overflow:hidden;background-color:#f7f7f7;box-sizing:border-box;
							.file-ico{
								display:block;width:rem(120);height:rem(72);padding-left:rem(24);line-height:rem(72);float:left;box-sizing:border-box;
								font-size:rem(16);font-weight:400;color:#000;
								background-image:url(../images/file-ico.png);
								background-size: rem(18) rem(24);
								background-position:left center;
								background-repeat:no-repeat;
								cursor:pointer;
							}
							.file-name{display:block;width:calc(100% - #{rem(120)});height:rem(72);line-height:rem(72);font-weight:300;float:left;font-size:rem(16);color:#000;}
						}
					}
					.list-btn{
						display:block;padding:rem(40) 0 rem(0); text-align:center;
						a{display:inline-block;background-color:#d60615;color:#fff;border:rem(1) solid #d60615;}
					}
				}
			}
		}
	}
}
