/* Common S */
html {
    width:100vw;
    overflow-x: hidden;
    font-family: 'SCDream','NotoSansKR',  Arial, sans-serif;
    font-size: 2.1333vw;
    color:$default-color;
    line-height:1;
    body {
        width:100%;
        overflow-x: hidden;
        font-size:rem(32);
        background:$bg-cate;
        &.bg-main {
            background:$bg-main;
        }
    }
    .mot {
        font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
    }
    img {
        max-width:100%;
    }
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    position:absolute;
    bottom:0;
    top:auto;
    width:100%;
    height:rem(12);
    background:#5d5d5d;
    > .swiper-pagination-progressbar-fill {
        background:$primary-color;
    }
}

.date-box {
    display:block;
    font-size:rem(24);
    font-weight:bold;
    text-align: center;
    .day {
        display:block;
        font-size:rem(60);
        padding-top:rem(5);
    }
}
button {
    cursor: pointer;
}
img {
    max-width:100%;
}
.hide {
    display:none;
}
.hidden {
    position: absolute;
    text-indent: -9999px;
    overflow: hidden;
    font-size:0;
}
.f-wrap:after {
    content:'';
    clear:both;
    display:block;
}
.more {
    display:inline-block;
    font-size:$basic-txt;
    font-weight:200;
    .ico-more {
        vertical-align: middle;
        margin-left:rem(15);
    }
}
.plus-l {
    display:inline-block;
    vertical-align: top;
    font-size:rem(32);
    line-height:rem(51);
    .ico-plus {
        vertical-align: top;
        margin-left:rem(20);
    }
}
.visit {
    opacity: 0.5;
}
.tab-con {
    display:none;
}
.tab-con.on {
    display: block;
}
.view-popup {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:rgba(29,29,29,.8);
    z-index:20;
    opacity:0;
    visibility: hidden;
    @include transition-all;
    &.active {
        opacity:1;
        visibility: visible;            
    }
    .pop-slider {
        @include position-center;
        width:rem(670);
        .swiper-wrapper {
            &:after {
                content:'';
                clear:both;
                display:block;
            }
        }
        .swiper-slide {
            width:rem(670);
            margin:0 rem(20);
            overflow: hidden;
            > img {
                width:100%;
            }
        }
        .swiper-arrow {
            @include position-center;
            width:100%;
            z-index:30;
            > div {
                width:rem(44);
                height:rem(44);
                text-indent: -9999px;
                overflow: hidden;
                background:url(../images/pop_arrow_r.png) no-repeat center center;
                background-size: 100%;
                cursor: pointer;
            }
            > .swiper-next {
                float:right;
            }
            > .swiper-prev {
                background:url(../images/pop_arrow_l.png) no-repeat center center;
                background-size: 100%;
            }
        }
        .title,.txt {
            display:none;
        }
        .close {
            position:absolute;
            display:block;
            right:0;
            top:rem(-66);
            width:rem(33);
            height:rem(33);
            z-index:500;
        }
    }

}
/* Common E */

