/* font */
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 200;
    src: url(../fonts/NotoSans-Light.eot);
    src: url(../fonts/NotoSans-Light.eot) format('embedded-opentype'),
         url(../fonts/NotoSans-Light.woff) format('woff');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 300;
    src: url(../fonts/NotoSans-DemiLight.eot);
    src: url(../fonts/NotoSans-DemiLight.eot) format('embedded-opentype'),
         url(../fonts/NotoSans-DemiLight.woff) format('woff');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    src: url(../fonts/NotoSans-Regular.eot);
    src: url(../fonts/NotoSans-Regular.eot) format('embedded-opentype'),
         url(../fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    src: url(../fonts/NotoSans-Medium.eot);
    src: url(../fonts/NotoSans-Medium.eot) format('embedded-opentype'),
         url(../fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 600;
    src: url(../fonts/NotoSans-Medium.eot);
    src: url(../fonts/NotoSans-Medium.eot) format('embedded-opentype'),
         url(../fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: url(../fonts/NotoSans-Bold.eot);
    src: url(../fonts/NotoSans-Bold.eot) format('embedded-opentype'),
         url(../fonts/NotoSans-Bold.woff) format('woff');
}

@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-1Thin.woff') format('woff'); font-weight: 100; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: 200; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-3Light.woff') format('woff'); font-weight: 300; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-4Regular.woff') format('woff'); font-weight: 400; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-5Medium.woff') format('woff'); font-weight: 500; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-6Bold.woff') format('woff'); font-weight: 600; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: 700; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-8Heavy.woff') format('woff'); font-weight: 800; }
@font-face { font-family: 'SCDream'; src: url('../fonts/S-CoreDream-9Black.woff') format('woff'); font-weight: 900; }
