/* header S */
header{
	.header-wrap{
		position:fixed;top:0;left:0;display:block;width:100%;height:rem(120);line-height:rem(120);text-align:center;background-color:#fff;z-index:999;
		> div{	
			position:relative;top:0;left:0;display:block;width:100%;height:rem(120);
			.menu-btn{
				position:absolute;top:rem(44);left:rem(40);display:block;width:rem(42);height:rem(32);cursor:pointer;
				img{display:block;width:100%;height:100%;}
			}
			.header{
				a{
					display:block;width:rem(240);height:rem(120);margin:0 auto;cursor:pointer;
					img{display:block;width:rem(240);height:rem(64);padding-top:rem(28);}
				}
			}
		}
	}
	.menu-dim{position:fixed;top:0;left:0;display:none;width:100%;height:100%;overflow:hidden;background:#000;opacity:.4;z-index: 1001;}
	.menu-dim.on{display:block;}
	.all-menu{
		position:fixed;top:0;left:-80%;display:block;width:80%;height:100%;overflow:hidden;transition: all .5s;background:#fff;z-index: 1001;
		> div{
			.ham-head{
				position:relative;display:block;width:100%;height:rem(120);
				.ham-logo{
					position:absolute;top:50%;left:rem(40);
					-moz-transform: translate(0, -50%);
					-webkit-transform: translate(0, -50%);
					-o-transform: translate(0, -50%);
					-ms-transform: translate(0, -50%);
					transform: translate(0, -50%);
					img{display:inline-block;width:rem(240);height:rem(64);}
				}
				.ham-close-btn{
					position:absolute;top:50%;right:rem(44);
					-moz-transform: translate(0, -50%);
					-webkit-transform: translate(0, -50%);
					-o-transform: translate(0, -50%);
					-ms-transform: translate(0, -50%);
					transform: translate(0, -50%);
					img{display:inline-block;width:rem(33);height:rem(32);}
				}
			}
			.ham-body{
				display:block;width:100%;height:auto;
				ul{
					display:block;width:100%;height:auto;
					li{
						display:inline-block;width:100%;height:auto;padding:rem(30) 0 rem(5);box-sizing:border-box;
						> a{display:block;width:100%;height:rem(60);line-height:rem(34);padding-left:rem(80);padding-bottom:rem(25);font-size:rem(26);font-weight:500;color:#000;box-sizing:border-box;}
						> a:hover{background:none;text-decoration:none;}
						> a:active{background:none;text-decoration:none;}
						dl{
							display:none;padding:rem(12) 0;background-color:#f5f5f5;box-sizing:border-box;
							dd{
								display:block;width:100%;height:rem(52);line-height:rem(52);box-sizing:border-box;
								a{display: block;padding-left:rem(80);font-size:rem(24);font-weight:300;color:#000;box-sizing:border-box;}
								a:hover{background:none;text-decoration:none;}
								a:active{background:none;text-decoration:none;}
								
							}
						}
					}
					li.on{
						> a{color:$primary-color;}
					}
				}
			}
		}
	}
	.all-menu.on{
		left:0%;
	}
}
/* header E */
/* footer S */
footer {
	display:block;width:100%;height:auto;padding:rem(60) rem(40);box-sizing:border-box;
    background:$bg-footer;
    font-size:$small-txt;
	clear:both;
	overflow:hidden;
	> div{
		position:relative;display:block;width:100%;height:auto;margin:0 auto;
		.left {
			display:inline-block;width:100%;height:auto;box-sizing:border-box;overflow:hidden;
			.footer-person{
				a{display:block;margin-bottom:rem(20);font-size:rem(24);font-weight:500;color:#c9c9c9;cursor:pointer;}
			}
			.footer-info{
				ul{
					display:block;
					li{position:relative;left:rem(-2);display:inline-block;padding-left:rem(8);padding-right:rem(8);margin-bottom:rem(8);font-size:rem(20);font-weight:400;color:#a5a5a5;border-left:rem(1) solid #a5a5a5;}
					//li:first-child{padding-left:rem(0);border-left:rem(0) solid #a5a5a5;}
				}
			}
		}
		.right {
			position:relative;display:block;width:100%;height:auto;margin-top:rem(36);border:rem(1) solid #a5a5a5;box-sizing:border-box;
			.family-site{
				position:relative;display:block;width:100%;height:rem(80);box-sizing:border-box;
				span{
					display:block;padding:0 rem(30);line-height:rem(80);text-align:left;box-sizing:border-box;font-size:rem(24);color:#a5a5a5;
					background-image:url(../images/footer_select_bg.png);
					background-size:rem(20) rem(11);
					background-position:96% center;
					background-repeat:no-repeat;
				}
				select{
					position:absolute;top:0;left:0;display:block;padding:0 rem(30);text-align:left;box-sizing:border-box;cursor:pointer;opacity:0;z-index:1;
				}
			}
		}
	}
}
/* footer E */
#container{padding-top:rem(120);}
#container .nt{font-family: 'NotoSansKR', Arial, sans-serif;}
#container a{outline: none;}
#container a:active{text-decoration:none;}
.swiper-slide{outline: none;}
.swiper-pagination{
	bottom:10%;
	left:50%;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	span.swiper-pagination-bullet{display:inline-block;width:rem(16);height:rem(16);margin:0 rem(6);border-radius:rem(8);background-color:#dcdcdc;opacity: 1;}
	span.swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:$primary-color;}
}
