input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='date'],
textarea{
    font-size:rem(24);
    font-weight: 400;
    font-family:'NotoSansKR',  Arial, sans-serif;
    color:$default-color;
}
input[type=text]::-ms-clear {
    display:none;
}
input::placeholder, textarea::placeholder{
    color: $placeholder-color;
    font-family:'NotoSansKR',  Arial, sans-serif;
}
input::-webkit-input-placeholder {
    color: $placeholder-color;
    font-family:'NotoSansKR',  Arial, sans-serif;
}
input:-ms-input-placeholder {
    color: $placeholder-color;
    font-family:'NotoSansKR',  Arial, sans-serif;
}
textarea::-webkit-input-placeholder {
    color: $placeholder-color;
    font-family:'NotoSansKR',  Arial, sans-serif;
}
textarea:-ms-input-placeholder {
    color: $placeholder-color;
    font-family:'NotoSansKR',  Arial, sans-serif;
}
input[type='text'] {
    padding:0 rem(10);
    box-sizing: border-box;
}
select {
	border: rem(1) solid #d9d9d9;
    color: #000;
    outline: none;
    width:100%;
    height:100%;
    font-size:$basic-txt;
    padding: rem(6) rem(12);
    background: transparent;
    border-radius: 0px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    font-family:'NotoSansKR',  Arial, sans-serif;
}
select::-ms-expand {
    display: none;
}
input[type="radio"],input[type="checkbox"] {
    display:none;
}
input[type='radio']{
	& + label{
		display:inline-block;
		width:rem(32);
		height:rem(32);
		margin-right:rem(10);
		background-size:rem(30) rem(30);
		background-repeat:no-repeat;
		background-position:center center;
		background-image:url(../images/radio_unchecked.png);
		box-sizing:border-box;
		text-indent:-9999px;
		vertical-align: top;
		& + label{margin-right:rem(20);line-height:rem(32);font-size:rem(24);color:#888;vertical-align: top;}
	}
}
input[type='radio']:checked{
	& + label{
		background-image:url(../images/radio_checked.png);
	}
}
input[type='text']{
	display:inline-block;
	height:rem(62);
	line-height:rem(62);
	border: 0px;
	outline: none;
	font-size:rem(24);
	font-weight:300;
	color:#888;
	box-sizing:border-box;
	vertical-align:middle;
	border-bottom:rem(1) solid #bbb;
}
.selectBox{position:relative;display: inline-block;vertical-align:bottom;}
.selectBox > select{position:absolute;top:0;left:0;display:block;width:100%;height:rem(62);padding-left:rem(20);font-size:rem(24);color:#888;line-height:rem(62);z-index:1;opacity:0;box-sizing: border-box;}
.selectBox > select + label{
	display:block;width:100%;height:rem(62);line-height:rem(62);padding-left:rem(20);font-size:rem(24);color:#888;border-bottom:rem(1) solid #bbb;box-sizing: border-box;
	background-image:url(../images/input_box_select_bg.png);
	background-size:rem(23) rem(14);
	background-position:96% center;
	background-repeat:no-repeat;;
}
.textarea-wrap{
	width:100%;
	padding:0;
	box-sizing:border-box;
	textarea{
		width:100%;
		height:auto;
		padding:rem(20) rem(8);
		line-height:rem(32);
		font-size:rem(24);
		font-weight:300;
		color:#888;
		border: 0px;
		border-bottom:rem(1) solid #888;
		outline: none;
		box-sizing:border-box;
		vertical-align:top;
	}
	textarea::placeholder{
		color:$placeholder-color;
		font-size:rem(24);
		font-weight:300;
	}
}