#container.main{
	section{
		.main-top-wrap{
			.main-top-area{
				position:relative;
				.main-slider-wrap{
					.main-slider{
						.swiper-slide{
							a{
								.full-bg-box{
									display:block;width:100%;height:rem(648);overflow:hidden;
									background-position:center;
									background-size:100% auto;
									background-repeat:no-repeat;
									.center-box{
										position:absolute;top:50%;left:0%;display:block;width:100%;text-align:center;
										-moz-transform: translate(0, -50%);
										-webkit-transform: translate(0, -50%);
										-o-transform: translate(0, -50%);
										-ms-transform: translate(0, -50%);
										transform: translate(0, -50%);
										.main-slider-title{margin-bottom:rem(30);font-size:rem(54);font-weight:500;color:#fff;}
										.main-slider-dec{margin-bottom:rem(50);font-size:rem(26);font-weight:500;color:#fff;}
										.main-slider-more{display:inline-block;height:rem(80);padding:0 rem(60);line-height:rem(80);font-size:rem(24);font-weight:400;color:#fff;border:rem(1) solid #fff;}
									}
								}
							}
						}
					}
				}
			}
		}
		.main-middle-wrap{
			.main-middle-area{
				position:relative;
				.middle-slider-wrap{
					.middle-slider{
						.swiper-slide{
							a{
								.middle-banner-bg{
									display:block;width:100%;height:rem(188);overflow:hidden;
									background-position:center;
									background-size:100% auto;
									background-repeat:no-repeat;
								}
							}
						}
					}
					.swiper-controller{
						position: absolute;left: 50%;bottom: 10%;display:inline-block;z-index:10;
						-moz-transform: translate(-50%, 0);
						-webkit-transform: translate(-50%, 0);
						-o-transform: translate(-50%, 0);
						-ms-transform: translate(-50%, 0);
						transform: translate(-50%, 0);
						> div{
							position:relative;display:inline-block;text-align:center;
							.swiper-pagination{position:relative;bottom:0;left:0;display:inline-block;line-height:rem(16);transform: none;}
							.swiper-switch-btns{
								position: relative;top:rem(2);display:inline-block;width:rem(20);height:rem(20);line-height:rem(20);overflow:hidden;
								a{
									width:rem(20);height:rem(20);
									background-size:rem(20) rem(20);
									background-position:center center;
									background-repeat:no-repeat;								
								}
								a.swiper-button-pause{display:block;background-image:url(../images/slider_pause_btn_w.png);}
								a.swiper-button-play{display:none;background-image:url(../images/slider_play_btn_w.png);}
							}
							.swiper-switch-btns.paused{
								a.swiper-button-pause{display:none;}
								a.swiper-button-play{display:block;}
							}
						}
					}
				}
			}
		}
		.main-story-wrap{
			.main-story-area{
				position:relative;
				 > .story-title{
					display:block;width:100%;height:auto;padding-top:rem(100);padding-bottom:rem(60);padding-left:rem(40);
					h3{font-size:rem(50);font-weight:400;color:#000;}
				}
				.story-slider-wrap{
					.story-slider{
						.swiper-wrapper{
							padding-left: 2.5rem;box-sizing: border-box;
							.swiper-slide{
								width:rem(522);padding-bottom:rem(170);
								a{
									position:relative;display:block;width:rem(522);border:rem(1) solid $primary-color;box-shadow: 3px 4px 5px #bdbdbd;
									.img-box{
										display:block;width:rem(522);height:rem(297);overflow:hidden;
										background-position:center;
										background-size:100% auto;
										background-repeat:no-repeat;
									}
									.txt-box{
										display:block;width:rem(522);padding:rem(45) rem(30) rem(30);box-sizing:border-box;overflow:hidden;
										.story-title{display: inline-block;width: 100%;margin-bottom:rem(25);font-size:rem(32);font-weight:400;color:#000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
										.story-date{font-size:rem(24);font-weight:300;color:#000;}
									}
									.story-icon{position:absolute;top:rem(276);left:rem(30);display:inline-block;height:rem(40);padding:0 rem(20);line-height:rem(40);font-size:rem(24);font-weight:400;color:#fff;background-color:$primary-color;}
								}
							}
							.swiper-slide:last-child{padding-right:rem(222);}
						}	
					}
					.swiper-pagination{left:rem(40);transform: none;}
				}
			}
		}
		.main-bottom-wrap{
			.main-bottom-area{
				position:relative;
				.founded-wrap{
					display:block;width:100%;height:rem(404);padding:0 rem(40);box-sizing:border-box;overflow:hidden;overflow:hidden;
					background-image:url(../images/main/founded_bg.png);
					background-position:center;
					background-size:100% auto;
					background-repeat:no-repeat;
					.founded{padding-top:rem(110);padding-bottom:rem(40);font-size:rem(50);font-weight:500;color:#fff;}
					.founded-move{display:inline-block;height:rem(80);padding:0 rem(80);line-height:rem(80);font-size:rem(24);font-weight:400;color:#fff;border:rem(1) solid #fff;}
				}
			}
		}
	}
	#main-popup-wrap{
		position:fixed;top:50%;width: 100%;height:auto;text-align:center;z-index:9999;		
		-moz-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		.main-popup-area{
			position:relative;display:inline-block;width:90%;min-width:320px;max-width:100%;margin:0 auto;
			.main-popup-inner{
				position:relative;
				.main-pop-lists{ 
					li{
						a{
							display:block;width:100%;height:auto;
							img{display:block;width:100%;height:auto;max-height:calc(90vh - #{rem(100)});}
						}
					}
				}
				.swiper-pagination{bottom:rem(40);}
			}
			.main-popup-close{
				position:relative;display:block;height:rem(100);background-color:#242424;overflow:hidden;box-sizing:border-box;
				>div{
					display:inline-block;width:50%;height:rem(100);float:left;
					a{
						display:block;width:100%;height:rem(100);line-height:rem(100);font-size:rem(24);font-weight:400;color:#fff;cursor:pointer;box-sizing:border-box;border-left:rem(1) solid #fff;
					}
				}
				> div:first-child{
					a{border-left:0;}
				}
			}
		}
	}
	#dim-all{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.8;z-index:9998;}
}






























