//rem 변환 함수
@function rem($px){
	@return $px / $rem + rem;
}

// 기본 폰트사이즈
$rem:16;
$title-txt:rem(42);
$basic-txt:rem(26);
$nav-txt:rem(30);
$small-txt:rem(24);
$contents-txt:rem(16);
$head1-txt: rem(80);
$head2-txt: rem(60);
$subhead1-txt: rem(28);
$subhead2-txt: rem(24);

// colors
$default-color: #ebebeb;
$default-color-light : #fff; 
$color-gray:#999999;
$primary-color:#de121c;
$primary-color-light:#10ccb4;
//$primary-color-light:#4858d9;
//$secondary-color:#10ccb4;
//$secondary-color:#4b4d51;
//$third-color:#5e66a7;
//$emphasis-color:#ed104e;
$placeholder-color:#999;

$bg-main: #f7f7f7;
$bg-cate: #f7f7f7;
$bg-footer:#363636;

$border-color:#d5d5d5;
$border-color-light:#d1d1d1;
