/* Common S */
html {
    width:100%;
    min-width:1200px;
    font-family: 'SCDream', 'NotoSansKR', Arial, sans-serif;
    font-size: rem(16);
    color:$default-color;
    line-height:1;
    body {
        width:100%;
    }
	.nt{font-family: 'NotoSansKR', 'SCDream', Arial, sans-serif;}
}
.date-box {
    font-size:rem(14);
    font-weight:bold;
    .day {
        display:block;
        font-size:rem(48);
        padding-top:rem(5);
    }
}
button {
    cursor: pointer;
}
img {
    max-width:100%;
}
.hide {
    display:none;
}
.hidden {
    position: absolute;
    text-indent: -9999px;
    overflow: hidden;
    font-size:0;
}
.f-wrap:after {
    content:'';
    clear:both;
    display:block;
}
.visit {
    opacity: 0.5;
}
.tab-con {
    display:none;
}
.tab-con.on {
    display: block;
}
/* Common E */



/* Common Layer S*/
#container{
	.swiper-prev,
	.swiper-next{
		position:absolute;
		top:50%;
		display:block;
		width:rem(67);
		height:rem(38);
		-moz-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		background-size: rem(67) auto;
		background-position:bottom center;
		background-repeat:no-repeat;
		z-index:11;
		cursor:pointer;
		outline:none;
	}
	.swiper-prev{left:0;}
	.swiper-next{right:0;}
	.swiper-pagination{
		position: absolute;
		left: 50%;
		bottom: rem(25);
		-moz-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		display:inline-block;
		z-index:11;
		cursor:pointer;
		outline:none;
		> span.swiper-pagination-bullet{display:inline-block;width:rem(12);height:rem(12);margin:0 rem(4);border-radius:50%;overflow:hidden;opacity:.5;background-color:#fff;vertical-align: top;outline:none;}
		> span.swiper-pagination-bullet.swiper-pagination-bullet-active{
			opacity:1;
		}
	}
	.swiper-controller{
		position: absolute;
		left: 50%;
		bottom: rem(25);
		-moz-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		display:inline-block;
		z-index:11;
		.swiper-pagination{
			position: relative;
			left: 0;
			bottom: 0;
			display:inline-block;
			height:rem(16);
			padding-top:rem(2);
			-moz-transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}
		.swiper-switch-btns{
			position:relative;display: inline-block;width:rem(16);height:rem(16);vertical-align: top;cursor:pointer;outline:none;
			.swiper-button-pause{
				position:absolute;display: block;width:rem(16);height:rem(16);
				background-size: rem(16) rem(16);
				background-position:center center;
				background-repeat:no-repeat;
				background-image:url(../images/slider_pause_btn_w.png);
				opacity:1;
			}
			.swiper-button-play{
				position:absolute;display: block;width:rem(16);height:rem(16);
				background-size: rem(16) rem(16);
				background-position:center center;
				background-repeat:no-repeat;
				background-image:url(../images/slider_play_btn_w.png);
				opacity:0;
			}
		}
		.swiper-switch-btns.pauseed{
			.swiper-button-pause{opacity:0;}
			.swiper-button-play{opacity:1;}
		}
	}
}
/* Common Layer E*/
