/* main */
#container.main {
    width:100%;
    background-color: $bg-main;
    overflow: hidden;
    section{
        position: relative;width:100%;
		.wideFullSlider{
			.swiper-slide{
				> a{
					display:block;width:100%;height:auto;
				}
			}
		}
		.main-top-wrap{
			position:relative;
			.main-slider-wrap{
				.main-slider{				
					.full-bg-box{
						position:relative;
						display:block;width:100%;height:rem(800);
						background-size: auto 100%;
						background-position:center center;
						background-repeat:no-repeat;
						text-align: center;
						.center-box{
							position: absolute;
							left: 50%;
							top: 50%;
							-moz-transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							.main-slider-title{margin-bottom:rem(20);font-size:rem(60);font-weight:500;color:#fff;}
							.main-slider-dec{margin-bottom:rem(40);font-size:rem(22);font-weight:500;color:#fff;}
							.main-slider-more{display:inline-block;height:rem(60);padding:0 rem(60);line-height:rem(60);font-size:rem(18);color:#fff;border:rem(1) solid #fff;cursor:pointer;}
							.main-slider-more:hover{color:#de121c;border:rem(1) solid #de121c;}
						}
					}
				}
				.swiper-prev{left:rem(100);background-image:url(../images/slider_prev_btn_w.png);}
				.swiper-next{right:rem(100);background-image:url(../images/slider_next_btn_w.png);}
				.swiper-prev:hover{background-image:url(../images/slider_prev_btn_r.png);}
				.swiper-next:hover{background-image:url(../images/slider_next_btn_r.png);}
			}
		}
		.main-middle-wrap{
			position:relative;
			.middle-slider{
				a{display:block;cursor:pointer;
					.middle-banner-bg{
						display:block;width:100%;height:rem(148);
						background-size: auto 100%;
						background-position:center center;
						background-repeat:no-repeat;
					}
				}
			}
		}
		.main-story-wrap{
			.main-story-area{
				position:relative;display: block;width: rem(1504);height: auto;padding:rem(90) 0;margin: 0 auto;
				.story-title{
					h3{margin-bottom:rem(15);font-size:rem(40);color:#000;}
					p{font-size:rem(18);color:#000;}
				}
				.story-slider{
					padding-top:rem(50);padding-bottom:10px;
					.swiper-slide{
						display:block;width:rem(352);
						> a{
							position:relative;display:block;width:rem(350);height:rem(328);background-color:#fff;border:rem(1) solid #f7f7f7;box-sizing:border-box;cursor:pointer;
								.img-box{
									display:block;width:rem(348);height:rem(197);
									background-size: auto 100%;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									position:relative;display:block;width:rem(348);height:auto;padding:rem(32) rem(22);background-color:#fff;box-sizing:border-box;
									.story-title{line-height:rem(30);font-size:rem(16);font-weight:400;color:#000;}
									.story-date{font-size:rem(12);font-weight:300;color:#000;} 
								}
							.story-icon{position:absolute;top:rem(184);left:rem(22);display:block;width:auto;height:rem(26);padding:0 rem(15);line-height:rem(26);font-size:rem(14);font-weight:400;color:#fff;background:#de121c;}
						}
						> a:hover{
							border:rem(1) solid #de121c;box-sizing:border-box;box-shadow:rem(3) rem(4) rem(7) #bbb;
						}
					}
				}
				.swiper-prev{top:56%;left:rem(-100);background-image:url(../images/slider_prev_btn_b.png);}
				.swiper-next{top:56%;right:rem(-100);background-image:url(../images/slider_next_btn_b.png);}
				.swiper-prev:hover{background-image:url(../images/slider_prev_btn_r.png);}
				.swiper-next:hover{background-image:url(../images/slider_next_btn_r.png);}
			}
		}
		.main-bottom-wrap{
			.main-bottom-area{
				display:block;width:100%;height:rem(407);
				background-image:url(../images/main/founded_bg.png);
				background-position: center center;
				background-size: auto rem(407);
				background-repeat:no-repeat;
				.founded-wrap{
					display:block;width:rem(1500);height:rem(400);padding-top:rem(120);margin:0 auto;box-sizing:border-box;
					.founded{margin-bottom:rem(42);font-size:rem(40);font-weight:400;color:#fff;}
					.founded-move{display:inline-block;height:rem(64);padding:0 rem(70);line-height:rem(64);font-size:rem(18);font-weight:400;color:#fff;border:rem(1) solid #fff;cursor:pointer;}
					.founded-move:hover{color:#de121c;border:rem(1) solid #de121c;}
				}
			}
		}
	}
	#main-popup-wrap{
		position:fixed;top:rem(100);width: 100%;height:auto;text-align:center;z-index:9999;
		.main-popup-area{
			position:relative;display:inline-block;max-width:rem(1500);margin:0 auto;
			.main-popup-inner{
				.main-pop-lists{
					ul{
						display:table;width:100%;
						li{
							display:table-cell;
							a{
								display:block;cursor:pointer;
								img{display:block;width:auto;height:670px;}
							}
						}
					}
				}
			}
			.main-popup-close{
				position:relative;display:block;height:rem(46);padding:0 rem(30);background-color:#242424;overflow:hidden;box-sizing:border-box;
				.todayClosePop{
					display:inline-block;float:left;
					> input{display:none;}
					> input + label{
						position: relative;top:rem(12);display:inline-block;width:rem(22);height:rem(22);margin-right:rem(6);
						background-image:url(../images/pop_check_box.png);
						background-position: center center;
						background-size: rem(22) rem(22);
						background-repeat:no-repeat;
						vertical-align: top;
						cursor:pointer;
					}
					> input + label +label{
						display:inline-block;line-height:rem(46);font-size:rem(14);color:#fff;cursor:pointer;
					}
					> input:checked + label{}
				}
				.closePop{
					display:inline-block;float:right;line-height:rem(46);font-size:rem(14);color:#fff;cursor:pointer;
				}
				.closePop:after{
					content:'';
					position: relative;top:rem(17);display:inline-block;width:rem(13);height:rem(13);margin-left:rem(6);
					background-image:url(../images/pop_close_ico.png);
					background-position: center center;
					background-size: rem(13) rem(13);
					background-repeat:no-repeat;
					vertical-align: top;
				}
			}
		}
	}
	#dim-all{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.8;z-index:9998;}
}
