@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* add */
a {
  text-decoration: none;
  color: inherit; }

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none; }

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0; }

/* font */
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url(../fonts/NotoSans-DemiLight.eot);
  src: url(../fonts/NotoSans-DemiLight.eot) format("embedded-opentype"), url(../fonts/NotoSans-DemiLight.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url(../fonts/NotoSans-Bold.eot);
  src: url(../fonts/NotoSans-Bold.eot) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"); }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: 200; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-4Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: 800; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-9Black.woff") format("woff");
  font-weight: 900; }

/* Common S */
html {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'SCDream','NotoSansKR',  Arial, sans-serif;
  font-size: 2.1333vw;
  color: #ebebeb;
  line-height: 1; }
  html body {
    width: 100%;
    overflow-x: hidden;
    font-size: 2rem;
    background: #f7f7f7; }
    html body.bg-main {
      background: #f7f7f7; }
  html .mot {
    font-family: 'Montserrat','NotoSansKR',  Arial, sans-serif; }
  html img {
    max-width: 100%; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 100%;
  height: 0.75rem;
  background: #5d5d5d; }
  .swiper-container-horizontal > .swiper-pagination-progressbar > .swiper-pagination-progressbar-fill {
    background: #de121c; }

.date-box {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }
  .date-box .day {
    display: block;
    font-size: 3.75rem;
    padding-top: 0.3125rem; }

button {
  cursor: pointer; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.hidden {
  position: absolute;
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0; }

.f-wrap:after {
  content: '';
  clear: both;
  display: block; }

.more {
  display: inline-block;
  font-size: 1.625rem;
  font-weight: 200; }
  .more .ico-more {
    vertical-align: middle;
    margin-left: 0.9375rem; }

.plus-l {
  display: inline-block;
  vertical-align: top;
  font-size: 2rem;
  line-height: 3.1875rem; }
  .plus-l .ico-plus {
    vertical-align: top;
    margin-left: 1.25rem; }

.visit {
  opacity: 0.5; }

.tab-con {
  display: none; }

.tab-con.on {
  display: block; }

.view-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(29, 29, 29, 0.8);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s; }
  .view-popup.active {
    opacity: 1;
    visibility: visible; }
  .view-popup .pop-slider {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 41.875rem; }
    .view-popup .pop-slider .swiper-wrapper:after {
      content: '';
      clear: both;
      display: block; }
    .view-popup .pop-slider .swiper-slide {
      width: 41.875rem;
      margin: 0 1.25rem;
      overflow: hidden; }
      .view-popup .pop-slider .swiper-slide > img {
        width: 100%; }
    .view-popup .pop-slider .swiper-arrow {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 30; }
      .view-popup .pop-slider .swiper-arrow > div {
        width: 2.75rem;
        height: 2.75rem;
        text-indent: -9999px;
        overflow: hidden;
        background: url(../images/pop_arrow_r.png) no-repeat center center;
        background-size: 100%;
        cursor: pointer; }
      .view-popup .pop-slider .swiper-arrow > .swiper-next {
        float: right; }
      .view-popup .pop-slider .swiper-arrow > .swiper-prev {
        background: url(../images/pop_arrow_l.png) no-repeat center center;
        background-size: 100%; }
    .view-popup .pop-slider .title, .view-popup .pop-slider .txt {
      display: none; }
    .view-popup .pop-slider .close {
      position: absolute;
      display: block;
      right: 0;
      top: -4.125rem;
      width: 2.0625rem;
      height: 2.0625rem;
      z-index: 500; }

/* Common E */
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='date'],
textarea {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'NotoSansKR',  Arial, sans-serif;
  color: #ebebeb; }

input[type=text]::-ms-clear {
  display: none; }

input::placeholder, textarea::placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

input::-webkit-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

input:-ms-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

textarea::-webkit-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

textarea:-ms-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

input[type='text'] {
  padding: 0 0.625rem;
  box-sizing: border-box; }

select {
  border: 0.0625rem solid #d9d9d9;
  color: #000;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.625rem;
  padding: 0.375rem 0.75rem;
  background: transparent;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

select::-ms-expand {
  display: none; }

input[type="radio"], input[type="checkbox"] {
  display: none; }

input[type='radio'] + label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.625rem;
  background-size: 1.875rem 1.875rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/radio_unchecked.png);
  box-sizing: border-box;
  text-indent: -9999px;
  vertical-align: top; }
  input[type='radio'] + label + label {
    margin-right: 1.25rem;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #888;
    vertical-align: top; }

input[type='radio']:checked + label {
  background-image: url(../images/radio_checked.png); }

input[type='text'] {
  display: inline-block;
  height: 3.875rem;
  line-height: 3.875rem;
  border: 0px;
  outline: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #888;
  box-sizing: border-box;
  vertical-align: middle;
  border-bottom: 0.0625rem solid #bbb; }

.selectBox {
  position: relative;
  display: inline-block;
  vertical-align: bottom; }

.selectBox > select {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3.875rem;
  padding-left: 1.25rem;
  font-size: 1.5rem;
  color: #888;
  line-height: 3.875rem;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box; }

.selectBox > select + label {
  display: block;
  width: 100%;
  height: 3.875rem;
  line-height: 3.875rem;
  padding-left: 1.25rem;
  font-size: 1.5rem;
  color: #888;
  border-bottom: 0.0625rem solid #bbb;
  box-sizing: border-box;
  background-image: url(../images/input_box_select_bg.png);
  background-size: 1.4375rem 0.875rem;
  background-position: 96% center;
  background-repeat: no-repeat; }

.textarea-wrap {
  width: 100%;
  padding: 0;
  box-sizing: border-box; }
  .textarea-wrap textarea {
    width: 100%;
    height: auto;
    padding: 1.25rem 0.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #888;
    border: 0px;
    border-bottom: 0.0625rem solid #888;
    outline: none;
    box-sizing: border-box;
    vertical-align: top; }
  .textarea-wrap textarea::placeholder {
    color: #999;
    font-size: 1.5rem;
    font-weight: 300; }

/* Icon css */
span[class*="ico-"] {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 100%; }
  span[class*="ico-"].ico-close {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/menu_close.png); }
  span[class*="ico-"].ico-scroll {
    width: 6.25rem;
    height: 6.5rem;
    background-image: url(../images/ico_scroll.png); }
  span[class*="ico-"].ico-more {
    width: 1.9375rem;
    height: 1.9375rem;
    background-image: url(../images/ico_more.png); }
  span[class*="ico-"].ico-play {
    width: 8.125rem;
    height: 8.125rem;
    background-image: url(../images/ico_play.png); }
  span[class*="ico-"].ico-plus {
    width: 3.1875rem;
    height: 3.1875rem;
    background-image: url(../images/ico_plus.png); }
  span[class*="ico-"].ico-sch {
    width: 1.9375rem;
    height: 1.9375rem;
    background-image: url(../images/ico_sch.png); }
  span[class*="ico-"].ico-file {
    width: 1.4375rem;
    height: 1.4375rem;
    background-image: url(../images/ico_file.png); }
  span[class*="ico-"].ico-next {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-top: 0.0625rem solid #b9b9b9;
    border-left: 0.0625rem solid #b9b9b9;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  span[class*="ico-"].ico-prev {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-top: 0.0625rem solid #b9b9b9;
    border-left: 0.0625rem solid #b9b9b9;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    transform: rotate(-45deg); }
  span[class*="ico-"].ico-close-w {
    width: 2.0625rem;
    height: 2.0625rem;
    background-image: url(../images/pop_close.png); }

.btn {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5rem;
  border: 0.125rem solid; }
  .btn.basic {
    color: #fff;
    line-height: 2.875rem; }
  .btn.round {
    padding: 0 4.375rem;
    border-radius: 1.875rem; }
  .btn.primary {
    background: #de121c;
    border-color: #de121c;
    color: #333; }
  .btn.round2 {
    font-weight: bold;
    line-height: 4rem;
    border-radius: 2.1875rem;
    padding: 0 5.25rem; }
  .btn.gray {
    width: 10rem;
    line-height: 3.125rem;
    background: #b4b3b3;
    color: #333333;
    font-weight: bold;
    font-size: 1.625rem; }
  .btn.w100 {
    width: 100%;
    line-height: 4.375rem;
    color: #333;
    font-size: 1.875rem;
    font-weight: 700;
    background: #ebebeb; }
  .btn.line-primary {
    color: #de121c;
    line-height: 4.375rem;
    border-color: #de121c;
    border-radius: 2.3125rem; }
  .btn.line-gray {
    color: #999999;
    line-height: 4.375rem;
    border-color: #373737;
    border-radius: 2.3125rem; }

/* header S */
header .header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 7.5rem;
  line-height: 7.5rem;
  text-align: center;
  background-color: #fff;
  z-index: 999; }
  header .header-wrap > div {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 7.5rem; }
    header .header-wrap > div .menu-btn {
      position: absolute;
      top: 2.75rem;
      left: 2.5rem;
      display: block;
      width: 2.625rem;
      height: 2rem;
      cursor: pointer; }
      header .header-wrap > div .menu-btn img {
        display: block;
        width: 100%;
        height: 100%; }
    header .header-wrap > div .header a {
      display: block;
      width: 15rem;
      height: 7.5rem;
      margin: 0 auto;
      cursor: pointer; }
      header .header-wrap > div .header a img {
        display: block;
        width: 15rem;
        height: 4rem;
        padding-top: 1.75rem; }

header .menu-dim {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  opacity: .4;
  z-index: 1001; }

header .menu-dim.on {
  display: block; }

header .all-menu {
  position: fixed;
  top: 0;
  left: -80%;
  display: block;
  width: 80%;
  height: 100%;
  overflow: hidden;
  transition: all .5s;
  background: #fff;
  z-index: 1001; }
  header .all-menu > div .ham-head {
    position: relative;
    display: block;
    width: 100%;
    height: 7.5rem; }
    header .all-menu > div .ham-head .ham-logo {
      position: absolute;
      top: 50%;
      left: 2.5rem;
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      header .all-menu > div .ham-head .ham-logo img {
        display: inline-block;
        width: 15rem;
        height: 4rem; }
    header .all-menu > div .ham-head .ham-close-btn {
      position: absolute;
      top: 50%;
      right: 2.75rem;
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      header .all-menu > div .ham-head .ham-close-btn img {
        display: inline-block;
        width: 2.0625rem;
        height: 2rem; }
  header .all-menu > div .ham-body {
    display: block;
    width: 100%;
    height: auto; }
    header .all-menu > div .ham-body ul {
      display: block;
      width: 100%;
      height: auto; }
      header .all-menu > div .ham-body ul li {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 1.875rem 0 0.3125rem;
        box-sizing: border-box; }
        header .all-menu > div .ham-body ul li > a {
          display: block;
          width: 100%;
          height: 3.75rem;
          line-height: 2.125rem;
          padding-left: 5rem;
          padding-bottom: 1.5625rem;
          font-size: 1.625rem;
          font-weight: 500;
          color: #000;
          box-sizing: border-box; }
        header .all-menu > div .ham-body ul li > a:hover {
          background: none;
          text-decoration: none; }
        header .all-menu > div .ham-body ul li > a:active {
          background: none;
          text-decoration: none; }
        header .all-menu > div .ham-body ul li dl {
          display: none;
          padding: 0.75rem 0;
          background-color: #f5f5f5;
          box-sizing: border-box; }
          header .all-menu > div .ham-body ul li dl dd {
            display: block;
            width: 100%;
            height: 3.25rem;
            line-height: 3.25rem;
            box-sizing: border-box; }
            header .all-menu > div .ham-body ul li dl dd a {
              display: block;
              padding-left: 5rem;
              font-size: 1.5rem;
              font-weight: 300;
              color: #000;
              box-sizing: border-box; }
            header .all-menu > div .ham-body ul li dl dd a:hover {
              background: none;
              text-decoration: none; }
            header .all-menu > div .ham-body ul li dl dd a:active {
              background: none;
              text-decoration: none; }
      header .all-menu > div .ham-body ul li.on > a {
        color: #de121c; }

header .all-menu.on {
  left: 0%; }

/* header E */
/* footer S */
footer {
  display: block;
  width: 100%;
  height: auto;
  padding: 3.75rem 2.5rem;
  box-sizing: border-box;
  background: #363636;
  font-size: 1.5rem;
  clear: both;
  overflow: hidden; }
  footer > div {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto; }
    footer > div .left {
      display: inline-block;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      overflow: hidden; }
      footer > div .left .footer-person a {
        display: block;
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #c9c9c9;
        cursor: pointer; }
      footer > div .left .footer-info ul {
        display: block; }
        footer > div .left .footer-info ul li {
          position: relative;
          left: -0.125rem;
          display: inline-block;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-bottom: 0.5rem;
          font-size: 1.25rem;
          font-weight: 400;
          color: #a5a5a5;
          border-left: 0.0625rem solid #a5a5a5; }
    footer > div .right {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin-top: 2.25rem;
      border: 0.0625rem solid #a5a5a5;
      box-sizing: border-box; }
      footer > div .right .family-site {
        position: relative;
        display: block;
        width: 100%;
        height: 5rem;
        box-sizing: border-box; }
        footer > div .right .family-site span {
          display: block;
          padding: 0 1.875rem;
          line-height: 5rem;
          text-align: left;
          box-sizing: border-box;
          font-size: 1.5rem;
          color: #a5a5a5;
          background-image: url(../images/footer_select_bg.png);
          background-size: 1.25rem 0.6875rem;
          background-position: 96% center;
          background-repeat: no-repeat; }
        footer > div .right .family-site select {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          padding: 0 1.875rem;
          text-align: left;
          box-sizing: border-box;
          cursor: pointer;
          opacity: 0;
          z-index: 1; }

/* footer E */
#container {
  padding-top: 7.5rem; }

#container .nt {
  font-family: 'NotoSansKR', Arial, sans-serif; }

#container a {
  outline: none; }

#container a:active {
  text-decoration: none; }

.swiper-slide {
  outline: none; }

.swiper-pagination {
  bottom: 10%;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .swiper-pagination span.swiper-pagination-bullet {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.375rem;
    border-radius: 0.5rem;
    background-color: #dcdcdc;
    opacity: 1; }
  .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #de121c; }

#container.main section .main-top-wrap .main-top-area {
  position: relative; }
  #container.main section .main-top-wrap .main-top-area .main-slider-wrap .main-slider .swiper-slide a .full-bg-box {
    display: block;
    width: 100%;
    height: 40.5rem;
    overflow: hidden;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    #container.main section .main-top-wrap .main-top-area .main-slider-wrap .main-slider .swiper-slide a .full-bg-box .center-box {
      position: absolute;
      top: 50%;
      left: 0%;
      display: block;
      width: 100%;
      text-align: center;
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      #container.main section .main-top-wrap .main-top-area .main-slider-wrap .main-slider .swiper-slide a .full-bg-box .center-box .main-slider-title {
        margin-bottom: 1.875rem;
        font-size: 3.375rem;
        font-weight: 500;
        color: #fff; }
      #container.main section .main-top-wrap .main-top-area .main-slider-wrap .main-slider .swiper-slide a .full-bg-box .center-box .main-slider-dec {
        margin-bottom: 3.125rem;
        font-size: 1.625rem;
        font-weight: 500;
        color: #fff; }
      #container.main section .main-top-wrap .main-top-area .main-slider-wrap .main-slider .swiper-slide a .full-bg-box .center-box .main-slider-more {
        display: inline-block;
        height: 5rem;
        padding: 0 3.75rem;
        line-height: 5rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
        border: 0.0625rem solid #fff; }

#container.main section .main-middle-wrap .main-middle-area {
  position: relative; }
  #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .middle-slider .swiper-slide a .middle-banner-bg {
    display: block;
    width: 100%;
    height: 11.75rem;
    overflow: hidden;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
  #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller {
    position: absolute;
    left: 50%;
    bottom: 10%;
    display: inline-block;
    z-index: 10;
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div {
      position: relative;
      display: inline-block;
      text-align: center; }
      #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-pagination {
        position: relative;
        bottom: 0;
        left: 0;
        display: inline-block;
        line-height: 1rem;
        transform: none; }
      #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-switch-btns {
        position: relative;
        top: 0.125rem;
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        overflow: hidden; }
        #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-switch-btns a {
          width: 1.25rem;
          height: 1.25rem;
          background-size: 1.25rem 1.25rem;
          background-position: center center;
          background-repeat: no-repeat; }
        #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-switch-btns a.swiper-button-pause {
          display: block;
          background-image: url(../images/slider_pause_btn_w.png); }
        #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-switch-btns a.swiper-button-play {
          display: none;
          background-image: url(../images/slider_play_btn_w.png); }
      #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-switch-btns.paused a.swiper-button-pause {
        display: none; }
      #container.main section .main-middle-wrap .main-middle-area .middle-slider-wrap .swiper-controller > div .swiper-switch-btns.paused a.swiper-button-play {
        display: block; }

#container.main section .main-story-wrap .main-story-area {
  position: relative; }
  #container.main section .main-story-wrap .main-story-area > .story-title {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 6.25rem;
    padding-bottom: 3.75rem;
    padding-left: 2.5rem; }
    #container.main section .main-story-wrap .main-story-area > .story-title h3 {
      font-size: 3.125rem;
      font-weight: 400;
      color: #000; }
  #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper {
    padding-left: 2.5rem;
    box-sizing: border-box; }
    #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide {
      width: 32.625rem;
      padding-bottom: 10.625rem; }
      #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide a {
        position: relative;
        display: block;
        width: 32.625rem;
        border: 0.0625rem solid #de121c;
        box-shadow: 3px 4px 5px #bdbdbd; }
        #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide a .img-box {
          display: block;
          width: 32.625rem;
          height: 18.5625rem;
          overflow: hidden;
          background-position: center;
          background-size: 100% auto;
          background-repeat: no-repeat; }
        #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide a .txt-box {
          display: block;
          width: 32.625rem;
          padding: 2.8125rem 1.875rem 1.875rem;
          box-sizing: border-box;
          overflow: hidden; }
          #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide a .txt-box .story-title {
            display: inline-block;
            width: 100%;
            margin-bottom: 1.5625rem;
            font-size: 2rem;
            font-weight: 400;
            color: #000;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide a .txt-box .story-date {
            font-size: 1.5rem;
            font-weight: 300;
            color: #000; }
        #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide a .story-icon {
          position: absolute;
          top: 17.25rem;
          left: 1.875rem;
          display: inline-block;
          height: 2.5rem;
          padding: 0 1.25rem;
          line-height: 2.5rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: #fff;
          background-color: #de121c; }
    #container.main section .main-story-wrap .main-story-area .story-slider-wrap .story-slider .swiper-wrapper .swiper-slide:last-child {
      padding-right: 13.875rem; }
  #container.main section .main-story-wrap .main-story-area .story-slider-wrap .swiper-pagination {
    left: 2.5rem;
    transform: none; }

#container.main section .main-bottom-wrap .main-bottom-area {
  position: relative; }
  #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap {
    display: block;
    width: 100%;
    height: 25.25rem;
    padding: 0 2.5rem;
    box-sizing: border-box;
    overflow: hidden;
    overflow: hidden;
    background-image: url(../images/main/founded_bg.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap .founded {
      padding-top: 6.875rem;
      padding-bottom: 2.5rem;
      font-size: 3.125rem;
      font-weight: 500;
      color: #fff; }
    #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap .founded-move {
      display: inline-block;
      height: 5rem;
      padding: 0 5rem;
      line-height: 5rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #fff;
      border: 0.0625rem solid #fff; }

#container.main #main-popup-wrap {
  position: fixed;
  top: 50%;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 9999;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  #container.main #main-popup-wrap .main-popup-area {
    position: relative;
    display: inline-block;
    width: 90%;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto; }
    #container.main #main-popup-wrap .main-popup-area .main-popup-inner {
      position: relative; }
      #container.main #main-popup-wrap .main-popup-area .main-popup-inner .main-pop-lists li a {
        display: block;
        width: 100%;
        height: auto; }
        #container.main #main-popup-wrap .main-popup-area .main-popup-inner .main-pop-lists li a img {
          display: block;
          width: 100%;
          height: auto;
          max-height: calc(90vh - 6.25rem); }
      #container.main #main-popup-wrap .main-popup-area .main-popup-inner .swiper-pagination {
        bottom: 2.5rem; }
    #container.main #main-popup-wrap .main-popup-area .main-popup-close {
      position: relative;
      display: block;
      height: 6.25rem;
      background-color: #242424;
      overflow: hidden;
      box-sizing: border-box; }
      #container.main #main-popup-wrap .main-popup-area .main-popup-close > div {
        display: inline-block;
        width: 50%;
        height: 6.25rem;
        float: left; }
        #container.main #main-popup-wrap .main-popup-area .main-popup-close > div a {
          display: block;
          width: 100%;
          height: 6.25rem;
          line-height: 6.25rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: #fff;
          cursor: pointer;
          box-sizing: border-box;
          border-left: 0.0625rem solid #fff; }
      #container.main #main-popup-wrap .main-popup-area .main-popup-close > div:first-child a {
        border-left: 0; }

#container.main #dim-all {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
  z-index: 9998; }

/* cate */
#container.cate {
  width: 100%;
  padding-bottom: 6.25rem;
  background-color: #f7f7f7;
  overflow: hidden; }
  #container.cate section .cate-title-wrap {
    display: block;
    width: 100%;
    padding-left: 2.5rem;
    background: #fff;
    box-sizing: border-box; }
    #container.cate section .cate-title-wrap .cate-title {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      padding-bottom: 2.5rem;
      margin: 0 auto; }
      #container.cate section .cate-title-wrap .cate-title h3 {
        padding-top: 4.375rem;
        padding-bottom: 1.25rem;
        font-size: 3.125rem;
        font-weight: 400;
        color: #000; }
      #container.cate section .cate-title-wrap .cate-title p {
        line-height: 2.25rem;
        font-size: 1.5rem;
        font-weight: 300;
        color: #000; }
        #container.cate section .cate-title-wrap .cate-title p b {
          font-weight: 500; }
      #container.cate section .cate-title-wrap .cate-title .cate-nav {
        position: absolute;
        bottom: 3.125rem;
        left: 0;
        display: none;
        width: 100%;
        margin: 0 auto;
        text-align: right;
        font-size: 0.875rem;
        font-weight: 300;
        color: #878787; }
        #container.cate section .cate-title-wrap .cate-title .cate-nav span.curr {
          color: #000;
          font-weight: bold; }
  #container.cate section .tab-btns {
    display: block;
    padding-left: 2.5rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem; }
    #container.cate section .tab-btns a {
      position: relative;
      display: inline-block;
      margin: 0 1.25rem;
      line-height: 3.125rem;
      font-size: 1.75rem;
      font-weight: 500;
      color: #878787;
      cursor: pointer; }
    #container.cate section .tab-btns a:first-child {
      margin-left: 0; }
    #container.cate section .tab-btns a:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 0.125rem;
      bottom: 0rem;
      left: 50%;
      background-color: #de121c;
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      opacity: 0; }
    #container.cate section .tab-btns a.on {
      color: #000; }
    #container.cate section .tab-btns a.on:after {
      opacity: 1; }
  #container.cate section .move-btns {
    display: block;
    padding-left: 2.5rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem; }
    #container.cate section .move-btns a {
      position: relative;
      display: inline-block;
      margin: 0 1.25rem;
      line-height: 3.125rem;
      font-size: 1.75rem;
      font-weight: 500;
      color: #878787;
      cursor: pointer; }
    #container.cate section .move-btns a:first-child {
      margin-left: 0; }
    #container.cate section .move-btns a:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 0.125rem;
      bottom: 0rem;
      left: 50%;
      background-color: #de121c;
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      opacity: 0; }
    #container.cate section .move-btns a.on {
      color: #000; }
    #container.cate section .move-btns a.on:after {
      opacity: 1; }
  #container.cate section .paginate {
    display: block;
    text-align: center; }
    #container.cate section .paginate a {
      display: inline-block;
      width: 4.25rem;
      height: 4.25rem;
      margin: 0 0.125rem;
      line-height: 4.25rem;
      text-align: center;
      font-size: 1.5rem;
      vertical-align: top;
      color: #888;
      border: 0.0625rem solid #888;
      cursor: pointer; }
      #container.cate section .paginate a img {
        display: block;
        width: 2.0625rem;
        height: 1.3125rem;
        padding: 1.4375rem 0;
        margin: 0 auto; }
    #container.cate section .paginate a.curr {
      color: #000;
      border: 1px solid #000; }
    #container.cate section .paginate a.next,
    #container.cate section .paginate a.prev {
      border: 1px solid #000; }
    #container.cate section .paginate a.next {
      margin-left: 1.125rem; }
    #container.cate section .paginate a.prev {
      margin-right: 1.125rem; }
  #container.cate section .btn-wrap {
    display: block;
    text-align: center; }
    #container.cate section .btn-wrap a {
      display: inline-block;
      width: auto;
      min-width: 14.375rem;
      height: 5rem;
      padding: 0 1.25rem;
      margin: 0 0.3125rem;
      line-height: 5rem;
      border: 0.0625rem solid #888;
      box-sizing: border-box;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer; }
    #container.cate section .btn-wrap a.reg {
      display: inline-block;
      background-color: #d60615;
      color: #fff;
      border: 0.0625rem solid #d60615; }
    #container.cate section .btn-wrap a.cancel {
      display: inline-block;
      background-color: #fff;
      color: #d60615;
      border: 0.0625rem solid #d60615; }
    #container.cate section .btn-wrap .more-btn {
      display: inline-block;
      font-size: 1.5rem; }
  #container.cate section .table-wrap .table-area {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto; }
    #container.cate section .table-wrap .table-area > div {
      margin-bottom: 3.75rem; }
      #container.cate section .table-wrap .table-area > div ul li {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 2.5rem;
        box-sizing: border-box;
        overflow: hidden; }
        #container.cate section .table-wrap .table-area > div ul li dd {
          padding: 0rem 0rem 0.5rem;
          line-height: 1.5rem;
          font-size: 1.5rem;
          color: #888;
          box-sizing: border-box; }
          #container.cate section .table-wrap .table-area > div ul li dd .post-btn {
            display: block;
            width: 12.5rem;
            height: 3.75rem;
            margin-top: 1.25rem;
            line-height: 3.75rem;
            text-align: center;
            color: #fff;
            background-color: #8d8d8d;
            border-radius: 0.3125rem; }
          #container.cate section .table-wrap .table-area > div ul li dd .empty-box {
            display: block;
            width: 7.375rem;
            height: auto;
            opacity: 0; }
          #container.cate section .table-wrap .table-area > div ul li dd .add-info {
            display: block;
            width: 100%;
            height: auto;
            padding: 0 0.625rem;
            line-height: 1.75rem;
            font-size: 1.25rem;
            color: #888;
            box-sizing: border-box; }
          #container.cate section .table-wrap .table-area > div ul li dd .index-check {
            display: block;
            width: 100%;
            height: auto;
            padding-top: 0.625rem;
            line-height: 1.5625rem;
            text-align: right;
            font-size: 1.25rem;
            color: #888;
            box-sizing: border-box; }
            #container.cate section .table-wrap .table-area > div ul li dd .index-check b {
              color: #d60615; }
          #container.cate section .table-wrap .table-area > div ul li dd .agree-info {
            display: block;
            width: 100%;
            height: auto;
            padding: 0rem 2.125rem;
            margin-top: 1rem;
            margin-bottom: 1.125rem;
            background-color: #f4f4f4;
            box-sizing: border-box; }
            #container.cate section .table-wrap .table-area > div ul li dd .agree-info p {
              display: block;
              width: 100%;
              height: auto;
              padding: 2rem 0rem;
              line-height: 2rem;
              font-size: 1.125rem;
              color: #888; }
          #container.cate section .table-wrap .table-area > div ul li dd .textarea-wrap textarea {
            height: 4.75rem;
            resize: vertical; }
          #container.cate section .table-wrap .table-area > div ul li dd > span {
            padding-left: 0.625rem;
            line-height: 3.875rem; }
        #container.cate section .table-wrap .table-area > div ul li dd.title {
          position: relative;
          padding-left: 0;
          padding-right: 0;
          line-height: 3.5rem;
          font-family: 'SCDream','NotoSansKR', Arial, sans-serif;
          font-size: 1.625rem;
          font-weight: 400;
          color: #3c3c3c; }
          #container.cate section .table-wrap .table-area > div ul li dd.title b {
            position: relative;
            top: -0.3125rem;
            margin-left: 0.3125rem;
            font-size: 1.25rem;
            font-weight: 400;
            color: #d60615; }
          #container.cate section .table-wrap .table-area > div ul li dd.title a {
            display: inline-block;
            width: auto;
            height: 3.125rem;
            padding: 0 1.5625rem;
            margin-bottom: 0.625rem;
            line-height: 3.125rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #888;
            border: 0.0625rem solid #888;
            border-radius: 0.3125rem;
            cursor: pointer; }
        #container.cate section .table-wrap .table-area > div ul li .phone-input {
          white-space: nowrap; }
  #container.cate section .sm-color {
    color: #af2823; }
  #container.cate section .hs-color {
    color: #ea3130; }
  #container.cate section .sb-color {
    color: #007c40; }
  #container.cate section .hk-color {
    color: #ee2e24; }
  #container.cate section .ss-color {
    color: #062f87; }
  #container.cate section .be-color {
    color: #f26721; }
  #container.cate section .db-color {
    color: #f92c22; }
  #container.cate section .bo-color {
    color: #000000; }
  #container.cate section .w100per {
    width: 100%; }
  #container.cate section .w130 {
    width: 8.125rem; }
  #container.cate section .w180 {
    width: 11.25rem; }
  #container.cate section .w200 {
    width: 12.5rem; }
  #container.cate section .w265 {
    width: 16.5625rem; }
  #container.cate section .w268 {
    width: 16.75rem; }
  #container.cate section .w350 {
    width: 21.875rem; }
  #container.cate section .mg-l20 {
    margin-left: 1.25rem; }
  #container.cate section .v-align-t {
    vertical-align: top; }
  #container.cate section .content {
    display: block;
    width: 100%;
    height: auto;
    margin: 3.125rem auto 0; }
  #container.cate section .theborn {
    display: block;
    width: 100%;
    box-sizing: border-box; }
    #container.cate section .theborn > div {
      display: block;
      width: 100%; }
      #container.cate section .theborn > div .theborn-msg-wrap {
        display: block;
        width: calc(100% - 5rem);
        height: 46.5625rem;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: #fff;
        background-image: url(../images/cate/msg_bg.png);
        background-size: auto 46.4375rem;
        background-position: center center;
        background-repeat: no-repeat; }
      #container.cate section .theborn > div .theborn-msg-wrap.type2 {
        display: block;
        width: calc(100% - 5rem);
        height: auto;
        padding-bottom: 6.625rem;
        margin: 0 auto 2.5rem;
        box-sizing: border-box;
        background-image: url(../images/cate/msg_bg2.png);
        background-size: auto 6.625rem;
        background-position: left bottom;
        background-repeat: no-repeat; }
        #container.cate section .theborn > div .theborn-msg-wrap.type2 h4 {
          padding-bottom: 3.125rem;
          font-size: 2.25rem;
          font-weight: 500;
          color: #000;
          text-align: center; }
        #container.cate section .theborn > div .theborn-msg-wrap.type2 .theborn-msg p {
          padding: 0 2.5rem;
          line-height: 1.875rem;
          font-size: 1.5rem;
          font-weight: normal;
          color: #000;
          text-align: center;
          letter-spacing: -0.0625rem;
          line-height: 1.6; }
        #container.cate section .theborn > div .theborn-msg-wrap.type2 .theborn-msg p.ceo-sign {
          line-height: 3.125rem;
          font-size: 1.5rem; }
          #container.cate section .theborn > div .theborn-msg-wrap.type2 .theborn-msg p.ceo-sign img {
            display: inline-block;
            width: auto;
            height: 4.5625rem;
            margin-left: 0.625rem;
            vertical-align: middle; }
      #container.cate section .theborn > div .theborn-map-wrap {
        display: block;
        width: 100%;
        height: 133.375rem;
        margin: 0 auto;
        background-color: #fff;
        background-image: url(../images/cate/map_area_bg.png);
        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat; }
        #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-title {
          padding-top: 5rem;
          padding-bottom: 4.375rem;
          text-align: center;
          font-size: 2.25rem;
          font-weight: 500;
          color: #fff; }
        #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-txt {
          padding-bottom: 5.625rem;
          line-height: 2.25rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 300;
          color: #fff; }
        #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area {
          position: relative;
          display: block;
          width: 100%;
          height: 105.8125rem;
          margin: 0 auto;
          background-size: auto 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../images/cate/map_bg.png); }
          #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul {
            display: none; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li {
              position: absolute;
              display: block;
              width: 0.5rem;
              height: 0.5rem;
              margin-top: -0.3125rem;
              margin-left: -0.3125rem;
              border-radius: 50%;
              border: 1px solid #dd0b15;
              transition: all .25s; }
              #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div {
                position: relative;
                top: -1.25rem;
                left: 0.25rem;
                display: block;
                padding-left: 1.25rem; }
                #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div .map-cursor {
                  display: none; }
                #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos {
                  position: relative;
                  display: none;
                  width: 11.25rem;
                  height: auto;
                  z-index: 4; }
                  #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos b {
                    display: inline-block;
                    width: auto;
                    height: 1.625rem;
                    padding: 0 0.9375rem;
                    line-height: 1.625rem;
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: #fff;
                    background-color: #dd0b15;
                    border-radius: 0.3125rem; }
                  #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos dl {
                    width: 11.25rem;
                    height: auto;
                    padding: 0.75rem 1.25rem;
                    background-color: #fff;
                    border-radius: 0.3125rem;
                    box-sizing: border-box; }
                    #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos dl dd {
                      display: inline-block;
                      width: 48%;
                      height: 1.25rem;
                      margin-bottom: 0.625rem; }
                    #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos dl p {
                      display: block;
                      width: 8.75rem;
                      height: 1.625rem;
                      line-height: 1.625rem;
                      text-align: center;
                      font-size: 0.6875rem;
                      color: #000;
                      background-color: #efefef;
                      border-radius: 0.8125rem;
                      border: 0.0625rem solid #888; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li:before {
              content: '';
              display: block;
              width: 0.5rem;
              height: 0.5rem;
              margin-top: 0;
              margin-left: 0;
              border-radius: 50%;
              background-color: #dd0b15;
              transition: all .25s; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li:hover {
              display: block;
              width: 1.125rem;
              height: 1.125rem;
              margin-top: -0.625rem;
              margin-left: -0.625rem;
              background-color: #fff;
              border: 1px solid #dd0b15; }
              #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li:hover > div .map-infos {
                display: block; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li:hover::before {
              margin-top: 0.3125rem;
              margin-left: 0.3125rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-1 {
              top: 19.125rem;
              left: 26.875rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-2 {
              top: 18.625rem;
              left: 23.4375rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-3 {
              top: 19.375rem;
              left: 28.625rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-4 {
              top: 22.4375rem;
              left: 23.5625rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-5 {
              top: 23rem;
              left: 22.1875rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-6 {
              top: 23.4375rem;
              left: 23.25rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-7 {
              top: 24.25rem;
              left: 25.625rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-8 {
              top: 26.0625rem;
              left: 22.75rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-9 {
              top: 27.125rem;
              left: 26.9375rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-10 {
              top: 28.25rem;
              left: 24.6875rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-11 {
              top: 32.5rem;
              left: 26.25rem; }
            #container.cate section .theborn > div .theborn-map-wrap .theborn-map .map-area ul li.ico-p-12 {
              top: 17.125rem;
              left: 47.625rem; }
      #container.cate section .theborn > div .theborn-sys-wrap {
        display: block;
        width: calc(100% - 5rem);
        margin: 0 auto; }
        #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys {
          display: block;
          width: 100%;
          height: auto;
          margin: 2.5rem auto 0; }
          #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys ul {
            text-align: center; }
            #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys ul li {
              display: inline-block;
              width: 100%;
              height: auto;
              padding-top: 3.125rem;
              margin: 0 auto 2.5rem;
              background-color: #fff;
              box-sizing: border-box; }
              #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys ul li .img-box {
                display: block;
                width: 7.5rem;
                height: 7.5rem;
                margin: 0 auto 2.1875rem;
                border-radius: 50%;
                border: 0.0625rem solid #eee;
                overflow: hidden;
                background-size: 100% auto;
                background-position: center center;
                background-repeat: no-repeat; }
              #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys ul li .txt-box {
                display: block;
                padding-bottom: 3.125rem; }
                #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys ul li .txt-box .txt-title {
                  margin-bottom: 0.9375rem;
                  text-align: center;
                  font-size: 1.75rem;
                  font-weight: 500;
                  color: #de121c; }
                #container.cate section .theborn > div .theborn-sys-wrap .theborn-sys ul li .txt-box .txt-dec {
                  display: -webkit-box;
                  word-break: keep-all;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: auto;
                  line-height: 2.125rem;
                  text-align: center;
                  font-size: 1.375rem;
                  font-weight: 400;
                  color: #000; }
  #container.cate section .brand {
    display: block;
    width: 100%;
    padding: 0 1.875rem;
    box-sizing: border-box; }
    #container.cate section .brand > div {
      display: block;
      width: 100%;
      margin-bottom: 8.75rem; }
      #container.cate section .brand > div .brand-lists > ul {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden; }
        #container.cate section .brand > div .brand-lists > ul > li {
          display: inline-block;
          width: 50%;
          padding: 0 0.625rem;
          margin-bottom: 2.25rem;
          border: 0px solid #f7f7f7;
          vertical-align: top;
          float: left;
          box-sizing: border-box;
          overflow: hidden; }
          #container.cate section .brand > div .brand-lists > ul > li > div .img-box {
            display: block;
            width: 100%;
            height: 14.375rem;
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat; }
          #container.cate section .brand > div .brand-lists > ul > li > div .txt-box {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            padding: 5rem 1.25rem 3.75rem;
            background-color: #fff;
            box-sizing: border-box; }
            #container.cate section .brand > div .brand-lists > ul > li > div .txt-box .logo-ico {
              position: absolute;
              top: 0.625rem;
              left: 1.25rem;
              display: block;
              width: 100%;
              height: 3.75rem;
              margin-bottom: 0.625rem;
              background-size: auto 100%;
              background-position: left center;
              background-repeat: no-repeat; }
            #container.cate section .brand > div .brand-lists > ul > li > div .txt-box dl dd {
              display: block;
              padding-left: 0.75rem;
              padding-bottom: 0.9375rem;
              line-height: 1.875rem;
              font-size: 1.375rem;
              font-weight: 300;
              color: #000;
              text-indent: -0.9375rem;
              overflow: hidden; }
            #container.cate section .brand > div .brand-lists > ul > li > div .txt-box .brand-home-move {
              position: absolute;
              bottom: 0rem;
              right: 0rem;
              display: block;
              width: 15rem;
              height: 3.75rem;
              padding-left: 15%;
              line-height: 4rem;
              box-sizing: border-box;
              font-size: 1.25rem;
              font-weight: 300;
              color: #777;
              background-image: url(../images/athome_ico.png);
              background-size: 1.3125rem 1.3125rem;
              background-position: 10% center;
              background-repeat: no-repeat;
              cursor: pointer; }
  #container.cate section .news {
    display: block;
    width: 100%;
    padding: 0 1.875rem;
    box-sizing: border-box; }
    #container.cate section .news > div {
      display: block;
      width: 100%;
      margin-bottom: 8.75rem; }
      #container.cate section .news > div .news-lists > ul {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden; }
        #container.cate section .news > div .news-lists > ul > li {
          display: inline-block;
          width: 50%;
          padding: 0 0.625rem;
          margin-bottom: 2.25rem;
          border: 0px solid #f7f7f7;
          vertical-align: top;
          float: left;
          box-sizing: border-box; }
          #container.cate section .news > div .news-lists > ul > li a {
            cursor: pointer; }
            #container.cate section .news > div .news-lists > ul > li a .img-box {
              display: block;
              width: 100%;
              height: 12.3125rem;
              background-size: auto 100%;
              background-position: center center;
              background-repeat: no-repeat; }
            #container.cate section .news > div .news-lists > ul > li a .txt-box {
              position: relative;
              display: block;
              width: 100%;
              height: auto;
              padding: 1.875rem 1.25rem;
              background-color: #fff;
              box-sizing: border-box; }
              #container.cate section .news > div .news-lists > ul > li a .txt-box .news-title {
                line-height: 1.875rem;
                font-size: 1.375rem;
                font-weight: 300;
                color: #000;
                word-break: keep-all; }
              #container.cate section .news > div .news-lists > ul > li a .txt-box .news-date {
                margin-top: 0.9375rem;
                font-size: 1.25rem;
                font-weight: 300;
                color: #000;
                word-break: keep-all; }
        #container.cate section .news > div .news-lists > ul > li:nth-child(4n) {
          margin-right: 0px; }
        #container.cate section .news > div .news-lists > ul > li:hover {
          border: 0rem solid #de121c;
          box-sizing: border-box; }
      #container.cate section .news > div .media-lists > ul {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden; }
        #container.cate section .news > div .media-lists > ul > li {
          display: inline-block;
          width: 50%;
          padding: 0 0.625rem;
          margin-bottom: 2.25rem;
          border: 0px solid #f7f7f7;
          vertical-align: top;
          float: left;
          box-sizing: border-box; }
          #container.cate section .news > div .media-lists > ul > li a {
            cursor: pointer; }
            #container.cate section .news > div .media-lists > ul > li a .img-box {
              display: block;
              width: 100%;
              height: 12.3125rem;
              background-size: auto 100%;
              background-position: center center;
              background-repeat: no-repeat; }
            #container.cate section .news > div .media-lists > ul > li a .txt-box {
              position: relative;
              display: block;
              width: 100%;
              height: auto;
              padding: 1.875rem 1.25rem;
              background-color: #fff;
              box-sizing: border-box; }
              #container.cate section .news > div .media-lists > ul > li a .txt-box .media-brand {
                font-size: 1.25rem;
                font-weight: 400; }
                #container.cate section .news > div .media-lists > ul > li a .txt-box .media-brand span {
                  margin: 0 0.1875rem; }
              #container.cate section .news > div .media-lists > ul > li a .txt-box .media-title {
                margin-top: 0.9375rem;
                line-height: 1.875rem;
                font-size: 1.375rem;
                font-weight: 400;
                color: #000; }
        #container.cate section .news > div .media-lists > ul > li:nth-child(4n) {
          margin-right: 0px; }
        #container.cate section .news > div .media-lists > ul > li:hover {
          border: 0rem solid #de121c;
          box-sizing: border-box; }
  #container.cate section .founded .register {
    width: 100%;
    height: auto;
    padding: 0rem 2.5rem;
    box-sizing: border-box; }
    #container.cate section .founded .register > div {
      width: 100%;
      height: auto;
      padding: 5rem 2.5rem;
      background-color: #fff;
      box-sizing: border-box; }
      #container.cate section .founded .register > div .notice-infos {
        position: relative;
        display: block;
        width: 100%;
        height: 7.25rem;
        padding: 1.375rem 0;
        margin: 4.5rem auto 0rem;
        text-align: center;
        background-color: #f7f7f7;
        border: 0.0625rem solid #ddd;
        box-sizing: border-box;
        clear: both; }
        #container.cate section .founded .register > div .notice-infos span {
          display: inline-block;
          width: calc(50% - 0.125rem);
          line-height: 2rem;
          vertical-align: top;
          float: left;
          font-size: 1.25rem;
          color: #000;
          border-left: 0.0625rem solid #ddd; }
          #container.cate section .founded .register > div .notice-infos span p {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          #container.cate section .founded .register > div .notice-infos span b {
            display: inline-block;
            width: 100%;
            font-size: 1.625rem;
            font-weight: 500; }
        #container.cate section .founded .register > div .notice-infos span:first-child {
          border-left: 0; }
        #container.cate section .founded .register > div .notice-infos > p {
          position: absolute;
          left: 0%;
          bottom: -1.875rem;
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1.125rem;
          font-weight: 400;
          color: #3c3c3c; }
          #container.cate section .founded .register > div .notice-infos > p b {
            padding-right: 1.875rem;
            font-size: 1.5rem;
            font-weight: 500;
            color: #3c3c3c; }
      #container.cate section .founded .register > div .radio-month input[type='radio'] + label {
        margin-right: 0.375rem; }
        #container.cate section .founded .register > div .radio-month input[type='radio'] + label + label {
          margin-right: 0.75rem; }
  #container.cate section .founded .store-steps {
    display: block;
    width: 100%;
    height: auto;
    padding: 1.25rem 2.5rem;
    box-sizing: border-box; }
    #container.cate section .founded .store-steps > div {
      display: block;
      width: 100%;
      height: auto;
      min-height: 50rem;
      margin: 0 auto;
      background-size: 100% auto;
      background-position: left top;
      background-repeat: no-repeat;
      background-image: url(../images/cate/store_step_bg.jpg); }
      #container.cate section .founded .store-steps > div ul {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden; }
        #container.cate section .founded .store-steps > div ul li {
          display: block;
          width: 29%;
          height: 25rem;
          padding: 12.5rem 0rem 0;
          text-align: center;
          box-sizing: border-box; }
          #container.cate section .founded .store-steps > div ul li b {
            line-height: 1.875rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #de121c; }
          #container.cate section .founded .store-steps > div ul li p {
            line-height: 1.875rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #000; }
            #container.cate section .founded .store-steps > div ul li p span {
              display: block;
              line-height: 1.875rem;
              font-size: 1rem;
              font-weight: 400;
              color: #888;
              word-break: keep-all; }
        #container.cate section .founded .store-steps > div ul li:nth-child(2) {
          width: 42%; }
      #container.cate section .founded .store-steps > div ul.fst-lines li {
        float: left; }
      #container.cate section .founded .store-steps > div ul.sec-lines li {
        float: right; }
      #container.cate section .founded .store-steps > div p.store-notice {
        display: inline-block;
        padding-top: 20px;
        padding-left: 420px;
        font-size: 1.125rem;
        font-weight: 500;
        color: #000; }
        #container.cate section .founded .store-steps > div p.store-notice b {
          color: #de121c; }
  #container.cate section .founded .fna {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 2.5rem;
    margin: 0 auto;
    box-sizing: border-box; }
    #container.cate section .founded .fna > div {
      display: block;
      width: 100%;
      height: auto;
      padding: 0 2.5rem 9.375rem;
      margin: 0 auto;
      background-color: #fff;
      box-sizing: border-box; }
      #container.cate section .founded .fna > div .search-form {
        display: block;
        width: 100%;
        height: auto;
        padding: 5rem 0rem;
        box-sizing: border-box; }
        #container.cate section .founded .fna > div .search-form > div {
          position: relative; }
          #container.cate section .founded .fna > div .search-form > div .search-input {
            border-bottom: 0.0625rem solid #888; }
          #container.cate section .founded .fna > div .search-form > div .search-btn {
            position: absolute;
            top: 0.5rem;
            right: 0;
            display: inline-block;
            width: 2.375rem;
            height: 2.375rem;
            background-size: 2.375rem 2.375rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../images/search_btn_icon.png);
            text-indent: -9999px;
            cursor: pointer; }
      #container.cate section .founded .fna > div .fna-lists ul li .list-title {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 0.875rem 0.5rem;
        padding-left: 3rem;
        line-height: 2.125rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #000;
        border-bottom: 0.0625rem solid #ddd;
        box-sizing: border-box;
        cursor: pointer;
        word-break: keep-all;
        text-indent: -2.5rem; }
        #container.cate section .founded .fna > div .fna-lists ul li .list-title b {
          position: relative;
          color: #dd0b15; }
      #container.cate section .founded .fna > div .fna-lists ul li .list-title:after {
        content: "";
        position: absolute;
        top: 1.4375rem;
        right: 0.5rem;
        display: block;
        width: 1.4375rem;
        height: 0.875rem;
        background-size: 1.4375rem 0.875rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../images/toggle_btn.png); }
      #container.cate section .founded .fna > div .fna-lists ul li .toggle-box {
        display: none;
        width: 100%;
        height: auto;
        padding: 1.25rem 3rem 2.5rem;
        line-height: 2rem;
        font-size: 1.375rem;
        font-weight: 400;
        color: #666;
        border-bottom: 0.0625rem solid #ddd;
        word-break: keep-all;
        box-sizing: border-box; }
      #container.cate section .founded .fna > div .fna-lists ul li.toggleActive .list-title:after {
        transform: rotate(-180deg); }
  #container.cate section .presentation .present {
    display: block;
    width: 100%;
    height: auto; }
    #container.cate section .presentation .present .add-tab {
      display: block;
      width: 100%;
      height: auto;
      padding: 0rem 0 0rem;
      margin: 0 auto;
      box-sizing: border-box; }
      #container.cate section .presentation .present .add-tab .add-tab-btns {
        display: block;
        width: 100%;
        padding-left: 2.5rem;
        box-sizing: border-box;
        overflow: hidden; }
        #container.cate section .presentation .present .add-tab .add-tab-btns div.swiper-slide {
          display: inline-block;
          width: auto;
          min-width: 11rem;
          margin-right: 0.625rem;
          border: 0.0625rem solid #ddd;
          border-radius: 1.875rem;
          overflow: hidden;
          box-sizing: border-box;
          cursor: pointer; }
          #container.cate section .presentation .present .add-tab .add-tab-btns div.swiper-slide a {
            display: block;
            width: 100%;
            height: 3.75rem;
            padding: 0 1.25rem;
            line-height: 3.75rem;
            text-align: center;
            font-size: 1.4375rem;
            font-weight: 500;
            color: #878787;
            box-sizing: border-box; }
        #container.cate section .presentation .present .add-tab .add-tab-btns div.swiper-slide:last-child {
          margin-right: 3.125rem; }
        #container.cate section .presentation .present .add-tab .add-tab-btns div.swiper-slide.on a {
          color: #fff;
          background-color: #dd0b15;
          border-color: #dd0b15; }
      #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con {
        display: none; }
        #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          padding: 3.125rem 0 0rem; }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div {
            position: relative;
            display: block;
            width: 100%;
            height: 3.75rem;
            margin: 0 auto;
            line-height: 3.75rem;
            text-align: center; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > p {
              font-size: 1.875rem;
              color: #000; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > p b {
                font-weight: 500; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div {
              position: absolute;
              top: 0;
              display: block;
              width: 3.75rem;
              height: 3.75rem;
              border-radius: 50%;
              overflow: hidden;
              outline: none; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div > a {
                display: block;
                width: 3.75rem;
                height: 3.75rem;
                outline: none;
                background-size: 3.75rem 3.6875rem;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../images/date_set_btn.png); }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div:hover {
              box-shadow: 0.1875rem 0.25rem 0.3125rem #ddd; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-prev {
              left: 2.5rem; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-prev > a {
                transform: rotate(-180deg); }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-prev > a:hover {
                background-image: url(../images/date_set_btn_on.png);
                transform: rotate(0deg); }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-next {
              right: 2.5rem; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-next > a {
                transform: rotate(0deg); }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-next > a:hover {
                background-image: url(../images/date_set_btn_on.png);
                transform: rotate(-180deg); }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates .selectBox {
            position: relative;
            width: 100%;
            padding: 0.625rem 0;
            padding-left: 2.5rem;
            margin-top: 1.5625rem;
            background: #fff;
            box-sizing: border-box; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates .selectBox > select {
              position: absolute;
              top: 0.625rem;
              left: 2.5rem;
              display: block;
              width: 12.5rem;
              height: 3.125rem;
              padding: 0;
              padding-left: 1.25rem;
              line-height: 3.125rem;
              text-align: left;
              opacity: 0; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates .selectBox > select + label {
              display: block;
              width: 12.5rem;
              height: 3.125rem;
              padding: 0;
              padding-left: 1.25rem;
              line-height: 3.125rem;
              text-align: left;
              border: 0rem solid #ddd;
              font-size: 1.375rem;
              font-weight: bold;
              color: #000;
              box-sizing: border-box;
              background-size: 1rem 0.5625rem;
              background-position: 96% center;
              background-repeat: no-repeat;
              background-image: url(../images/toggle_btn.png); }
        #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists {
          display: block;
          width: 100%;
          padding: 2.5rem 2.5rem;
          box-sizing: border-box; }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul {
            display: block;
            width: 100%;
            height: auto;
            overflow: hidden; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list {
              display: inline-block;
              width: calc(50% - 0.625rem);
              float: left;
              margin: 0 0.625rem; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                padding: 0.3125rem;
                margin-bottom: 2.625rem;
                background-color: #fff;
                box-sizing: border-box; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .img-box {
                  position: relative;
                  display: block;
                  width: 100%;
                  height: 14.125rem;
                  margin: 0rem auto;
                  background-size: auto 100%;
                  background-position: center center;
                  background-repeat: no-repeat; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box {
                  position: relative;
                  display: block;
                  width: 100%;
                  height: auto;
                  padding-top: 2rem;
                  padding-left: 1.25rem;
                  padding-bottom: 6.25rem;
                  margin: 0 auto;
                  box-sizing: border-box; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-locate {
                    padding-bottom: 0.625rem;
                    line-height: 1.875rem;
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: #dd0b15; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-brand {
                    padding-bottom: 1.25rem;
                    line-height: 1.875rem;
                    font-size: 1.75rem;
                    font-weight: 500;
                    color: #000; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-time {
                    padding-bottom: 0.625rem;
                    line-height: 1.875rem;
                    font-size: 1.375rem;
                    font-weight: 400;
                    color: #000; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-space {
                    padding-bottom: 1.25rem;
                    line-height: 1.875rem;
                    font-size: 1.375rem;
                    font-weight: 400;
                    color: #000; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-noti {
                    margin-top: 0.375rem;
                    line-height: 1.5rem;
                    font-size: 1.125rem;
                    font-weight: 400;
                    color: #878787;
                    letter-spacing: -0.2px;
                    word-break: keep-all; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .btn-wrap {
                  position: absolute;
                  left: 1.25rem;
                  bottom: 1.25rem;
                  text-align: left; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .btn-wrap a {
                    display: inline-block;
                    width: 10.625rem;
                    height: 3.5rem;
                    line-height: 3.5rem;
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: #fff;
                    border: 0.0625rem solid #dd0b15;
                    background-color: #dd0b15; }
                  #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .btn-wrap a.sold {
                    border: 0.0625rem solid #878787;
                    background-color: #878787; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .img-box.almost-sold:after {
                  content: '마감임박';
                  position: absolute;
                  top: 0rem;
                  right: 0rem;
                  display: block;
                  width: 6.25rem;
                  height: 2.125rem;
                  line-height: 2.125rem;
                  text-align: center;
                  font-family: 'Noto Sans KR', Helvetica, AppleSDGothicNeo, sans-serif;
                  font-size: 1.25rem;
                  color: #fff;
                  background-color: #dd0b15; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list:nth-child(2n) {
              margin-right: 0; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list:nth-child(2n + 1) {
              margin-left: 0; }
      #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con.on {
        display: block; }
  #container.cate section .presentation .location {
    display: block;
    width: 100%;
    height: auto; }
    #container.cate section .presentation .location .add-tab {
      display: block;
      width: 100%;
      height: auto;
      padding: 0rem 0 0rem;
      margin: 0 auto;
      box-sizing: border-box; }
      #container.cate section .presentation .location .add-tab .add-tab-btns {
        display: block;
        width: 100%;
        padding-left: 2.5rem;
        overflow: hidden; }
        #container.cate section .presentation .location .add-tab .add-tab-btns div.swiper-slide {
          display: inline-block;
          width: auto;
          min-width: 11rem;
          margin-right: 0.625rem;
          border: 0.0625rem solid #ddd;
          border-radius: 1.875rem;
          box-sizing: border-box;
          cursor: pointer;
          overflow: hidden; }
          #container.cate section .presentation .location .add-tab .add-tab-btns div.swiper-slide a {
            display: block;
            width: 100%;
            height: 3.75rem;
            padding: 0 1.25rem;
            line-height: 3.75rem;
            text-align: center;
            font-size: 1.4375rem;
            font-weight: 500;
            color: #878787;
            box-sizing: border-box; }
        #container.cate section .presentation .location .add-tab .add-tab-btns div.swiper-slide:last-child {
          margin-right: 3.125rem; }
        #container.cate section .presentation .location .add-tab .add-tab-btns div.swiper-slide.on a {
          color: #fff;
          background-color: #dd0b15;
          border-color: #dd0b15; }
      #container.cate section .presentation .location .add-tab .add-tab-inner {
        display: block;
        width: 100%;
        padding: 3.125rem 2.5rem 0;
        box-sizing: border-box; }
        #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con {
          display: none;
          padding: 0rem 2.1875rem 3.75rem;
          background-color: #fff;
          box-sizing: border-box; }
          #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap .location-title {
            display: block;
            width: 100%;
            height: auto;
            padding: 5rem 0 3.125rem;
            line-height: 2.25rem;
            font-size: 2.25rem;
            font-weight: 500;
            color: #000; }
          #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap .location-addr1 {
            display: block;
            width: 100%;
            height: auto;
            padding-bottom: 0.9375rem;
            line-height: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000; }
          #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap .location-addr2 {
            display: block;
            width: 100%;
            height: auto;
            padding-bottom: 0.9375rem;
            line-height: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000; }
          #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap p b {
            display: inline-block;
            width: 100%;
            padding-bottom: 0.625rem;
            font-weight: 500; }
          #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul {
            display: block;
            margin-top: 1.25rem; }
            #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul li {
              position: relative;
              display: block;
              width: 100%; }
              #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul li b.traffic_ico {
                display: block;
                width: 100%;
                height: 1.5rem;
                padding-left: 2rem;
                margin-bottom: 0.625rem;
                text-align: left;
                font-size: 1.5rem;
                font-weight: 500;
                color: #000;
                box-sizing: border-box;
                background-size: 1.25rem 1.625rem;
                background-position: 0.375rem center;
                background-repeat: no-repeat; }
              #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul li p {
                display: inline-block;
                width: 100%;
                height: 5rem;
                line-height: 2.25rem;
                font-size: 1.5rem;
                font-weight: 400;
                color: #000;
                box-sizing: border-box; }
        #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con.on {
          display: block; }
  #container.cate section .presentation-form .presentation-form-wrap {
    display: block;
    width: 100%;
    height: auto;
    padding: 0rem 2.5rem;
    box-sizing: border-box; }
    #container.cate section .presentation-form .presentation-form-wrap > div {
      display: block;
      width: 100%;
      height: auto;
      padding: 2.5rem 3.125rem;
      background-color: #fff;
      box-sizing: border-box; }
      #container.cate section .presentation-form .presentation-form-wrap > div .presentation-form-title-wrap {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto 2.5rem;
        text-align: center;
        background-color: #f9f9f9;
        border: 0.0625rem solid #ebebeb;
        box-sizing: border-box; }
        #container.cate section .presentation-form .presentation-form-wrap > div .presentation-form-title-wrap > div {
          display: inline-block;
          width: auto;
          text-align: left; }
          #container.cate section .presentation-form .presentation-form-wrap > div .presentation-form-title-wrap > div .presentation-form-title {
            padding-top: 2.5rem;
            padding-bottom: 1.5625rem;
            font-size: 1.625rem;
            font-weight: 500;
            color: #d60615; }
          #container.cate section .presentation-form .presentation-form-wrap > div .presentation-form-title-wrap > div .presentation-form-dec {
            padding-bottom: 1.5625rem;
            line-height: 2.125rem;
            font-size: 1.375rem;
            font-weight: 400;
            color: #000; }
  #container.cate section .view .view-wrap {
    display: block;
    width: 100%;
    height: auto;
    padding: 0rem 2.5rem;
    box-sizing: border-box; }
    #container.cate section .view .view-wrap > div {
      display: block;
      width: 100%;
      padding: 3.75rem 2.5rem 3.75rem;
      background-color: #fff;
      box-sizing: border-box; }
      #container.cate section .view .view-wrap > div .view-title {
        display: block;
        width: 100%;
        height: auto;
        line-height: 2.25rem;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box; }
        #container.cate section .view .view-wrap > div .view-title h4 {
          line-height: 2.25rem;
          font-size: 1.5rem;
          color: #3c3c3c; }
        #container.cate section .view .view-wrap > div .view-title span {
          line-height: 1.875rem;
          font-size: 1.25rem;
          font-weight: 300;
          color: #3c3c3c; }
      #container.cate section .view .view-wrap > div .view-con {
        padding: 2.5rem 0rem 0rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: #3c3c3c;
        box-sizing: border-box; }
      #container.cate section .view .view-wrap > div .view-foot {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-bottom: 0.0625rem solid #ddd;
        box-sizing: border-box; }
        #container.cate section .view .view-wrap > div .view-foot .sns-btns {
          display: block;
          padding: 4.0625rem 0 3.125rem;
          text-align: center; }
          #container.cate section .view .view-wrap > div .view-foot .sns-btns a {
            display: inline-block;
            margin: 0 0.25rem; }
            #container.cate section .view .view-wrap > div .view-foot .sns-btns a img {
              display: block;
              width: 4.625rem;
              height: 4.625rem; }
        #container.cate section .view .view-wrap > div .view-foot .add-file-area {
          display: block;
          width: 100%;
          height: 4.5rem;
          padding: 0 2.5rem;
          margin: 0 auto;
          overflow: hidden;
          background-color: #f7f7f7;
          box-sizing: border-box; }
          #container.cate section .view .view-wrap > div .view-foot .add-file-area .file-ico {
            display: block;
            width: 7.5rem;
            height: 4.5rem;
            padding-left: 1.5rem;
            line-height: 4.5rem;
            float: left;
            box-sizing: border-box;
            font-size: 1rem;
            font-weight: 400;
            color: #000;
            background-image: url(../images/file-ico.png);
            background-size: 1.125rem 1.5rem;
            background-position: left center;
            background-repeat: no-repeat;
            cursor: pointer; }
          #container.cate section .view .view-wrap > div .view-foot .add-file-area .file-name {
            display: block;
            width: calc(100% - 7.5rem);
            height: 4.5rem;
            line-height: 4.5rem;
            font-weight: 300;
            float: left;
            font-size: 1rem;
            color: #000; }
      #container.cate section .view .view-wrap > div .list-btn {
        display: block;
        padding: 2.5rem 0 0rem;
        text-align: center; }
        #container.cate section .view .view-wrap > div .list-btn a {
          display: inline-block;
          background-color: #d60615;
          color: #fff;
          border: 0.0625rem solid #d60615; }

.modal-wrap {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  z-index: 101; }
  .modal-wrap.is-visible {
    opacity: 1;
    visibility: visible; }
