/* follow S */
.follow {
    section {
        > .list {
            width:rem(810);
        }
        > .issues {
            position:absolute;
            right:0;
            top:rem(710);
            width:calc(100% - #{rem(860)});
            h4 {
                font-size:rem(48);
                font-weight:700;
                border-bottom:rem(2) solid $default-color;
                padding-bottom:rem(20);
            }
            .num {
                display:inline-block;
                width:rem(60);
                vertical-align:text-top;
                font-size:$subhead2-txt;
                color:$primary-color;
                font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
                font-weight:700;
                & + strong {
                    position: relative;
                    display:inline-block;
                    max-width:calc(100% - #{rem(64)});
                    vertical-align: text-top;
                    font-size:$basic-txt;
                    line-height:1.4;
                }
            }
            &.list li {
                padding:rem(20) 0;
                a:hover {
                    strong{
                        color:#03cab1;
                    }
                } 
                .new {
                    strong {
                        position: relative;
                        display: inline-block;
                        &:after {
                            content:'N';
                            position:relative;
                            display:inline-block;
                            /*right:rem(-20);*/
                            top:rem(5);
                            width:rem(14);
                            height:rem(14);
							margin-left:rem(8);
							line-height:rem(14);
							text-align:center;
							font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
							font-size:rem(11);
							font-weight:bold;
							color:#1d1d1d;
                            border-radius: 100%;
                            background-color:#fef056;
							vertical-align: top;
                        }
                    }
                }
            }
        }
        > .best-con {
            position: relative;
            padding-top:rem(210);
            h4 {
                float:left;
                width:rem(325);
                font-size:rem(48);
                font-weight:700;
                line-height: 1.3;
            }
            .slider-wrap {
                position: relative;
                float:right;
                width:calc(100% - #{rem(325)});
                padding-bottom:rem(85);
                overflow: hidden;
                .swiper-slide {
                    width:rem(370);
                    margin-right:rem(60);
                    > a {
                        display:block;
                        &:hover {
                            color: #03cab1;
                        }
                    }
                    .img-box {
                        position: relative;
                        display: block;
                        width:100%;
                        height:rem(180);
                        > img {
                            @include position-center;
                        }
                    }
                    .title {
                        position: relative;
                        display:block;
                        box-sizing: border-box;
                        font-size:$subhead2-txt;
                        font-weight:700;
                        padding:rem(16) 0 rem(18);
                    }
                    .txt {
                        display:block;
                        line-height:1.4;
                        word-break: keep-all;
                    }
                    .new {
                        .title {
                            position: relative;
                            display: inline-block;
                            &:after {
								content:'N';
								position:absolute;
								display:inline-block;
								right:rem(-20);
								top:rem(22);
								width:rem(14);
								height:rem(14);
								margin-left:rem(8);
								line-height:rem(14);
								text-align:center;
								font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
								font-size:rem(11);
								font-weight:bold;
								color:#1d1d1d;
								border-radius: 100%;
								background-color:#fef056;
								vertical-align: top;
                            }
                        }
                    }
                }
                .swiper-bar {
                    width:calc(100% - #{rem(180)});
                    top:auto;
                    bottom:rem(8);
                    left:auto;
                    right:rem(180);
                    height:rem(2);
                    background:#4f4f4f;
                    .swiper-pagination-progressbar-fill {
                        height:rem(4);
                        background:$color-gray;
                        top:auto;
                        bottom:0;
                    }
                }
                .swiper-arrow {
                    position:absolute;
                    right:rem(50);
                    bottom:0;
                    width:rem(86);
                    > div {
                        width:rem(27);
                        height:rem(16);
                        background:url(../images/sub/slide_arrow.png) no-repeat center center;
                        background-size:100%;
                        float:right;
                        cursor: pointer;
                        &.swiper-prev {
                            float:left;
                            -moz-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                        &.swiper-button-disabled {
                            opacity: .5;
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}
/* follow E */

/* news S */
.news {
    .notice {
        border-top:rem(3) solid $primary-color;
         li {
            position: relative;
            padding:rem(28) rem(170);
            > a {
                display:block;
                .sort {
                    display:block;
                    font-size: $title-txt;
                    font-weight:700;
                    padding-bottom:rem(22);
                    color:#00ff60;
                    &.st1 {
                        color:#04eaff;
                    }
                    &.st2 {
                        color:#ff8a00;
                    }
                }
                .title {
                    display:inline-block;
                    font-weight:700;
                    font-size:$title-txt;
                    padding:0 0 rem(18);
                }
                .txt {
                    display:block;
                }
                &.new {
                    .title {
                        position: relative;
                        &:after {
                            content:'N';
                            position:relative;
                            display:inline-block;
                            /*right:rem(-20);*/
                            top:rem(2);
                            width:rem(14);
                            height:rem(14);
							margin-left:rem(8);
							line-height:rem(14);
							text-align:center;
							font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
							font-size:rem(11);
							font-weight:bold;
							color:#1d1d1d;
                            border-radius: 100%;
                            background-color:#fef056;
							vertical-align: top;
                        }
                    }
                }
            }
			> a:hover{
				.title{color:#03cab1;}
			}
            .date-box {
                position:absolute;
                left:rem(30);
                top:rem(28);
            }
        }
        & + .btn-wrap {
            text-align:center;
            padding-top:rem(70);
        }
    }
    .press-slider {
        @include position-left-center;
        position: relative;
        width:calc(100vw - #{rem(20)});
        overflow: hidden;
        .swiper-slide {
            width:rem(1080);
            height:rem(344);
            margin:0 rem(27);
            opacity: .3;
            &.swiper-slide-active {
                opacity: 1;
            }
            .new {
                .title {
                    position: relative;
                    &:after {
						content:'N';
						position:relative;
						display:inline-block;
						/*right:rem(-20);*/
						top:rem(10);
						width:rem(14);
						height:rem(14);
						margin-left:rem(8);
						line-height:rem(14);
						text-align:center;
						font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
						font-size:rem(11);
						font-weight:bold;
						color:#1d1d1d;
						border-radius: 100%;
						background-color:#fef056;
						vertical-align: top;
                    }
                }
            }
            > a {
                position:relative;
                display: block;
                width:100%;
                height:100%;
                overflow: hidden;
                background:#000;
                .bg-img {
                    @include position-top-center;
                    width:rem(460);
                    height:100%;
                    left:0;
                    overflow: hidden;
                }
                .blur-img {
                    @include position-top-center;
                    right:rem(-20);
                    width:60%;
                    opacity:.2;
                    img {
                        width:100%;
                        filter: blur(#{rem(25)});
                        -webkit-filter: blur(#{rem(25)});
                    }
                }
                .txt-box {
                    position: relative;
                    display:inline-block;
                    z-index: 2;
                    padding: rem(65) rem(50) rem(55) rem(500);
                    .tag {
                        display:inline-block;
                        line-height:rem(24);
                        min-width:rem(84);
                        text-align:center;
                        color:#00b4ff;
                        border:rem(1) solid #00b4ff;
                        &.orange {
                            color:#ff8a00;
                            border:rem(1) solid #ff8a00;
                        }
                    }
                    .date {
                        display:block;
                        font-weight:500;
                        padding:rem(26) 0 rem(20);
                    }
                    .title {
                        display:block;
                        line-height:1.4;
                        font-size:$subhead2-txt;
                        font-weight:500;
                        padding: 0 0 rem(15);
                        word-break: keep-all;
                    }
                    .txt {
                        display:block;
                        font-weight:200;
                        line-height: 1.4;
                        word-break: keep-all;
                    }
                }
                &:hover {
					/*
                    .title,.txt {
                        text-decoration: underline;
                    }
					*/
                    .title {
                        color: #03cab1;
                    }
					
                }
            }
        }
        .swiper-arrow {
            @include position-center;
            width:rem(1280);
            z-index:10;
            > div {
                width:rem(44);
                height:rem(44);
                border:rem(1) solid #373737;
                text-indent: -9999px;
                overflow: hidden;
                background:url(../images/sub/press_arrow.png) no-repeat center center;
                cursor: pointer;
            }
            > .swiper-next {
                float:right;
            }
            > .swiper-prev {
                -moz-transform:rotate(180deg);  
                -webkit-transform:rotate(180deg);  
                -o-transform:rotate(180deg);  
                -ms-transform:rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .swiper-bar {
            text-align: center;
            margin-top:rem(10);
            z-index:10;
            > span {
                width:rem(41);
                height:rem(4);
                border-radius:rem(2);
                background:#333;
                opacity: 1;
                &.swiper-pagination-bullet-active {
                    background:#fff;
                }
            }
        }
    }
    .press {
        padding-top:rem(90);
        text-align:center;
    }
    .news {
        position: relative;
        .sch-box {
            top:rem(-15);
        }
        .thum-list {
            width:rem(790);
        }
    }
    .media {
        .photo {
            text-align:center;
            padding-bottom:rem(96);
            li {
                float:left;
                text-align:left;
                > a {
                    position:relative;
                    display:block;
                    width:rem(426);
                    height:rem(348);
                    overflow: hidden;
                    background:#000;
                    > img {
                        opacity:1;
                        @include position-scale;
                        @include transition-all;
                    }
                    &:hover {
                        > img {
                            opacity:.6;
                            @include position-scale-active;
                        }
    
                    }
                    .title {
                        position:absolute;
                        left:0;
                        bottom:0;
                        z-index:2;
                        font-size:$subhead2-txt;
                        font-weight:700;
                        color:#fff;
                        line-height:1.4;
                        padding:0 rem(20) rem(10);
                        @include transition-all;
                    }
                    .txt {
                        position:absolute;
                        left:0;
                        bottom:rem(-50);
                        z-index:2;
                        padding:0 rem(20) 0;
                        line-height:1.6;
                        font-weight:200;
                        @include transition-all;
                    }
                }
            }
        }
        h4 {
            text-align: left;
        }
        .btn-wrap {
            padding-top:rem(70);
        }
        .video {
            text-align:center;
            li {
                float:left;
                > a {
                    position: relative;
                    display:block;
                    width:rem(640);
                    height:rem(370);
                    background:#000;
                    > img {
                        opacity: .6;
                        @include position-center;
                        @include transition-all;
                    }
                    .ico-play {
                        @include position-center;
                        z-index:2;
                        width:rem(109);
                        height:rem(109);
                    }
                    &:hover {
                        > img {
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
}
/* news E */ 

/* brands S */
.brands{
   .tab-btns{
	   li{font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;}
   }
   .fashion {
       .txt {
           padding:rem(45) 0 rem(85);
           .site-link {
                position: relative;
                display: inline-block;
                vertical-align: bottom;
                border:rem(1) solid #848484;
                border-radius: rem(20);
                margin-left:rem(38);
                padding:rem(10) rem(65) rem(10) rem(35);
                &:after {
                    content:'';
                    @include position-top-center;
                    right:rem(15);
                    width:rem(11);
                    height:rem(18);
                    background:url(../images/icon_more.png) no-repeat center center;
                }
           }
           p {
               line-height: 1.6;
			   font-weight:200;
           }
           .str {
               margin:rem(60) 0 rem(40);
               font-size:rem(30);
               color:$primary-color;
               font-weight:700;
               line-height: 1.4;
           }
       }
   } 
   .beauty {
       .txt {
           padding:rem(45) 0 rem(85);
           .site-link {
                position: relative;
                display: inline-block;
                vertical-align: bottom;
                border:rem(1) solid #848484;
                border-radius: rem(20);
                margin-left:rem(38);
                padding:rem(10) rem(65) rem(10) rem(35);
                &:after {
                    content:'';
                    @include position-top-center;
                    right:rem(15);
                    width:rem(11);
                    height:rem(18);
                    background:url(../images/icon_more.png) no-repeat center center;
                }
           }
           p {
               line-height: 1.6;
			   font-weight:200;
           }
           .str {
               margin:rem(60) 0 rem(40);
               font-size:rem(30);
               color:$primary-color;
               font-weight:700;
               line-height: 1.4;
           }
       }
   } 
   .retail {
       .txt {
           padding:rem(45) 0 rem(85);
           .site-link {
                position: relative;
                display: inline-block;
                vertical-align: bottom;
                border:rem(1) solid #848484;
                border-radius: rem(20);
                margin-left:rem(38);
                padding:rem(10) rem(65) rem(10) rem(35);
                &:after {
                    content:'';
                    @include position-top-center;
                    right:rem(15);
                    width:rem(11);
                    height:rem(18);
                    background:url(../images/icon_more.png) no-repeat center center;
                }
           }
           p {
               line-height: 1.6;
			   font-weight:200;
           }
           .str {
               margin:rem(60) 0 rem(40);
               font-size:rem(30);
               color:$primary-color;
               font-weight:700;
               line-height: 1.4;
           }
       }
       .table-list {
           margin-top:rem(100);
           th,td {
               padding-top:rem(20);
               padding-bottom:rem(20);
           }
       }
       &.view {
           padding-top:0;
       }
   } 
   .logistics {
       .txt {
           padding:rem(45) 0 rem(85);
           .site-link {
                position: relative;
                display: inline-block;
                vertical-align: bottom;
                border:rem(1) solid #848484;
                border-radius: rem(20);
                margin-left:rem(38);
                padding:rem(10) rem(65) rem(10) rem(35);
                &:after {
                    content:'';
                    @include position-top-center;
                    right:rem(15);
                    width:rem(11);
                    height:rem(18);
                    background:url(../images/icon_more.png) no-repeat center center;
                }
           }
           p {
               line-height: 1.6;
			   font-weight:200;
           }
           .str {
               margin:rem(60) 0 rem(40);
               font-size:rem(30);
               color:$primary-color;
               font-weight:700;
               line-height: 1.4;
           }
       }
   } 
   .fnb {
       .txt {
           padding:rem(45) 0 rem(85);
           .site-link {
                position: relative;
                display: inline-block;
                vertical-align: bottom;
                border:rem(1) solid #848484;
                border-radius: rem(20);
                margin-left:rem(38);
                padding:rem(10) rem(65) rem(10) rem(35);
                &:after {
                    content:'';
                    @include position-top-center;
                    right:rem(15);
                    width:rem(11);
                    height:rem(18);
                    background:url(../images/icon_more.png) no-repeat center center;
                }
           }
           p {
               line-height: 1.6;
           }
           .str {
               margin:rem(60) 0 rem(40);
               font-size:rem(30);
               color:$primary-color;
               font-weight:700;
               line-height: 1.4;
           }
       }
   } 
}
/* brands E */

/* career S */
.career {
    .career01 {
        .step-wrap{
            .step {
                width:100%;
                background:url(../images/sub/careers_step_bg.png) no-repeat 0 0;
                li {
                    float:left;
                    font-size:rem(26);
                    font-weight:700;
                    width:rem(180);
                    margin: 0 rem(45);
					padding-top:rem(270);
                    text-align: center;
                    line-height: 1.4;
					transform: translateX(-800%);
					transition-duration: 1s;
                    &:nth-of-type(1) {
                        margin-left:0;
                    }
                    &:last-of-type {
                        margin-right:0;
                    }
                    .small {
                        display:block;
                        font-size:$basic-txt;
                    }
                }
				li:nth-child(1){background:url(../images/sub/careers_step1.png) no-repeat 0 0;transition-delay: 0s;}
				li:nth-child(2){background:url(../images/sub/careers_step2.png) no-repeat 0 0;transition-delay: 0.3s;}
				li:nth-child(3){background:url(../images/sub/careers_step3.png) no-repeat 0 0;transition-delay: 0.6s;}
				li:nth-child(4){background:url(../images/sub/careers_step4.png) no-repeat 0 0;transition-delay: 0.9s;}
				li:nth-child(5){background:url(../images/sub/careers_step5.png) no-repeat 0 0;transition-delay: 1.2s;}
            }
            .step.on {
				li{transform: translateX(0);}
			}
            .refer {
                position: relative;
                margin:rem(45) 0 rem(200);
                padding-left: rem(27);
                &:before{
                    content:'';
                    position:absolute;
                    left:0;
                    top:rem(2);
                    width:rem(10);
                    height:rem(12);
                    background:url(../images/icon_refer.png) no-repeat center center;
                }
            }
        }
        .tab-btns {
            font-size:rem(30);
            & +.view {
                padding-top:0;
                margin-top:rem(-14);
            }
        }
        .board .txt .btn-wrap{
            text-align:center;
            padding-top:rem(45);
        }
    }
    .career02 {
        .box {
            margin-bottom:rem(195);
            &:nth-last-of-type(1) {
                margin:0;
            }
            p {
                font-size:rem(26);
                margin-bottom:rem(55);
            }
            ul {
                width:100%;
                &.bg2 {
					li{
						padding-top:rem(250);background-position:center top;
						transform: translateX(-800%);
						transition-duration: 1s;
					}
					li:nth-child(1){background:url(../images/sub/careers02_img2_1.png) no-repeat 0 0;transition-delay: 0s;}
					li:nth-child(2){background:url(../images/sub/careers02_img2_2.png) no-repeat 0 0;transition-delay: 0.3s;}
					li:nth-child(3){background:url(../images/sub/careers02_img2_3.png) no-repeat 0 0;transition-delay: 0.6s;}
					li:nth-child(4){background:url(../images/sub/careers02_img2_4.png) no-repeat 0 0;transition-delay: 0.9s;}
					li:nth-child(5){background:url(../images/sub/careers02_img2_5.png) no-repeat 0 0;transition-delay: 1.2s;}
                }
                li {
                    float:left;
                    width:rem(220);
                    text-align:center;
                    font-size: rem(22);
                    font-weight:700;
					padding-top:rem(250);
                    margin:0 rem(22.5);
					background-position:center top;
					transform: translateX(-800%);
					transition-duration: 1s;
                    &:nth-of-type(1) {
                        margin-left:0;
                    }
                    &:nth-last-of-type(1) {
                        margin-right:0;
                    }
                }
				li:nth-child(1){background:url(../images/sub/careers02_img1_1.png) no-repeat 0 0;transition-delay: 0s;}
				li:nth-child(2){background:url(../images/sub/careers02_img1_2.png) no-repeat 0 0;transition-delay: 0.3s;}
				li:nth-child(3){background:url(../images/sub/careers02_img1_3.png) no-repeat 0 0;transition-delay: 0.6s;}
				li:nth-child(4){background:url(../images/sub/careers02_img1_4.png) no-repeat 0 0;transition-delay: 0.9s;}
				li:nth-child(5){background:url(../images/sub/careers02_img1_5.png) no-repeat 0 0;transition-delay: 1.2s;}
            }
			ul.on{
				li{transform: translateX(0);}
			}
        }
    }
    .career03 {
        .cont {
            li {
                width:33.33%;
                float:left;
                text-align: center;
                font-family:'Montserrat','NotoSansKR',  Arial, sans-serif;
                @include menubar;
                &:after {
                    background:#333333;
                }
                strong {
                    display:block;
                    font-size:rem(22);
                    font-weight:700;
                    padding: rem(26) 0 rem(12);
                }
                p {
                    line-height: 1.4;
                    height:rem(66);
                }
                span[class*="ico-"] {
                    margin-top:rem(15);
                }
            }
            .icon-wrap01 {
                span[class*="ico-"]{
                    width:rem(73);
                    height:rem(72);
                    &.ico-c1 {
                        background-image: url(../images/sub/career03_ico01_01.png);
                    }
                    &.ico-c2 {
                        background-image: url(../images/sub/career03_ico01_02.png);
                    }
                    &.ico-c3 {
                        background-image: url(../images/sub/career03_ico01_03.png);
                    }
                }
            }
            .icon-wrap02 {
                li {
                    width:25%;
                }
                span[class*="ico-"]{
                    width:rem(124);
                    height:rem(93);
                    &.ico-c1 {
                        background-image: url(../images/sub/career03_ico02_01.png);
                    }
                    &.ico-c2 {
                        background-image: url(../images/sub/career03_ico02_02.png);
                    }
                    &.ico-c3 {
                        background-image: url(../images/sub/career03_ico02_03.png);
                    }
                    &.ico-c4 {
                        background-image: url(../images/sub/career03_ico02_04.png);
                    }
                }
            }
            .icon-wrap03 {
                position: relative;
                &:before {
                    content:'';
                    @include position-center;
                    width:100%;
                    height:rem(1);
                    background:#333;
                }
                span[class*="ico-"]{
                    width:rem(92);
                    height:rem(95);
                    &.ico-c1 {
                        background-image: url(../images/sub/career03_ico03_01.png);
                    }
                    &.ico-c2 {
                        background-image: url(../images/sub/career03_ico03_02.png);
                    }
                    &.ico-c3 {
                        background-image: url(../images/sub/career03_ico03_03.png);
                    }
                    &.ico-c4 {
                        background-image: url(../images/sub/career03_ico03_04.png);
                    }
                    &.ico-c5 {
                        background-image: url(../images/sub/career03_ico03_05.png);
                    }
                    &.ico-c6 {
                        background-image: url(../images/sub/career03_ico03_06.png);
                    }
                }
                li {
                    &:nth-of-type(3n):after {
                        display: none;
                    }
                    &:nth-of-type(n+4) {
                        margin-top:rem(87);
                    }
                }
            }
            .icon-wrap04 {
                position: relative;
                &:before {
                    content:'';
                    @include position-center;
                    width:100%;
                    height:rem(1);
                    background:#333;
                }
                span[class*="ico-"]{
                    width:rem(92);
                    height:rem(95);
                    &.ico-c1 {
                        background-image: url(../images/sub/career03_ico04_01.png);
                    }
                    &.ico-c2 {
                        background-image: url(../images/sub/career03_ico04_02.png);
                    }
                    &.ico-c3 {
                        background-image: url(../images/sub/career03_ico04_03.png);
                    }
                    &.ico-c4 {
                        width:rem(132);
                        background-image: url(../images/sub/career03_ico04_04.png);
                    }
                    &.ico-c5 {
                        background-image: url(../images/sub/career03_ico04_05.png);
                    }
                    &.ico-c6 {
                        background-image: url(../images/sub/career03_ico04_06.png);
                    }
                }
                li {
                    &:nth-of-type(3n):after {
                        display: none;
                    }
                    &:nth-of-type(n+4) {
                        margin-top:rem(87);
                    }
                }
            }
        }
    }
}
/* career E */