/* cate */
#container.cate {
	width:100%;
	padding-bottom:rem(100);
	background-color: $bg-cate;
	overflow: hidden;
	section{
		.cate-title-wrap{
			display:block;width:100%;background:#fff;
			.cate-title{
				position: relative;display:block;width:rem(1500);height:rem(300);margin:0 auto;
				h3{padding-top:rem(80);padding-bottom:rem(20);font-size:rem(50);font-weight:400;color:#000;}
				p{
					line-height:rem(30);font-size:rem(16);font-weight:300;color:#000;
					b{font-weight:500;}
				}
				.cate-nav{
					position: absolute;bottom:rem(50);left:0;display:block;width:rem(1500);margin:0 auto;text-align:right;font-size:rem(14);font-weight:300;color:#878787;
					span{}
					span.curr{color:#000;font-weight:bold;}
				}
			}
		}
		.tab-btns{
			display:block;margin-bottom:rem(50);
			a{
				position:relative;display:inline-block;margin:0 rem(20);line-height:rem(50);font-size:rem(26);font-weight:500;color:#878787;cursor:pointer; 
			} 
			a:first-child{margin-left:0;}
			a:after{
				content:"";
				position:absolute;
				display:block;
				width:100%;
				height:rem(2);
				bottom:rem(2);
				left:50%;
				background-color:#de121c;
				-moz-transform: translate(-50%,0);
				-webkit-transform: translate(-50%,0);
				-o-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
				transform: translate(-50%,0);
				opacity:0;
			}
			a.on{color:#000;}
			a.on:after{opacity:1;}
		}
		.move-btns{
			display:block;margin-bottom:rem(50);
			a{
				position:relative;display:inline-block;margin:0 rem(20);line-height:rem(50);font-size:rem(26);font-weight:500;color:#878787;cursor:pointer;
			} 
			a:first-child{margin-left:0;}
			a:after{
				content:"";
				position:absolute;
				display:block;
				width:100%;
				height:rem(2);
				bottom:rem(2);
				left:50%;
				background-color:#de121c;
				-moz-transform: translate(-50%,0);
				-webkit-transform: translate(-50%,0);
				-o-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
				transform: translate(-50%,0);
				opacity:0;
			}
			a.on{color:#000;}
			a.on:after{opacity:1;}
		}
		.paginate{
			display:block;text-align:center;
			a{display:inline-block;width:rem(42);height:rem(42);margin:0 rem(2);line-height:rem(42);text-align:center;vertical-align:top;color:#888;border:rem(1) solid #888;cursor:pointer;}
			a.curr{color:#000;border:1px solid #000;}
			a.next,
			a.prev{border:1px solid #000;}
			a.next{margin-left:rem(18);}
			a.prev{margin-right:rem(18);}
		}
		.btn-wrap{
			display:block;text-align:center;
			a{display:inline-block;width:auto;min-width:rem(190);height:rem(64);padding:0 rem(20);margin:0 rem(5);line-height:rem(62);border: rem(1) solid #888;box-sizing:border-box;text-align:center;font-size:rem(20);font-weight:600;cursor:pointer;}
			a.reg{display:inline-block;background-color:#d60615;color:#fff;border:rem(1) solid #d60615;}
			a.cancel{display:inline-block;background-color:#fff;color:#d60615;border:rem(1) solid #d60615;}
		}
		.table-wrap{
			.table-area{
				display: block;width: rem(1200);height: auto;margin: 0 auto;
				table{
					margin-bottom:rem(60);
					tbody{
						tr{
							td{
								padding:rem(0) rem(16) rem(8);font-size:rem(16);color:#888;box-sizing: border-box;vertical-align: top;
								.post-btn{display:inline-block;width:rem(144);height:rem(50);line-height:rem(50);text-align:center;color:#fff;background-color:#8d8d8d;border-radius:rem(5);}
								.empty-box{display:block;width:rem(118);height:auto;opacity:0;}
								.add-info{display:block;width:100%;height:auto;padding:0 rem(20);line-height:rem(25);font-size:rem(16);color:#888;box-sizing:border-box;}
								.index-check{
									display:block;width:100%;height:auto;padding-top:rem(10);line-height:rem(25);font-size:rem(14);color:#888;box-sizing:border-box;
									b{
										color:#d60615;
									}
								}
								.agree-info{
									display:block;width:100%;height:auto;padding:rem(0) rem(34);margin-top:rem(16);margin-bottom:rem(18);background-color:#eee;box-sizing:border-box;
									p{display:block;width:100%;height:auto;padding:rem(32) rem(0);line-height:rem(25);font-size:rem(16);color:#888;}
								}
								.textarea-wrap{
									textarea{height:rem(66);resize: vertical;}
								}
							}
							td.radio-wrap{padding-top:rem(20);}
							td.email{width:rem(624);}
							td.title{
								position:relative;min-width:rem(300);padding-left:0;padding-right:0;line-height:rem(56);font-size:rem(18);font-weight:400;color:#3c3c3c;
								b{position:relative;top: rem(-5);margin-left: rem(5);font-size:rem(16);font-weight:400;color:#d60615;}
								a{display: inline-block;width: auto;height: rem(50);padding: 0 rem(25);line-height: rem(50);font-size: rem(16);font-weight: 400;color: #888;border: rem(1) solid #888;border-radius:rem(5);cursor:pointer;}
							}
						}
					}
				}
			}
		}
		.sm-color{color:#af2823;}
		.hs-color{color:#ea3130;}
		.sb-color{color:#007c40;}
		.hk-color{color:#ee2e24;}
		.ss-color{color:#062f87;}
		.be-color{color:#f26721;}
		.db-color{color:#f92c22;}
		.bo-color{color:#000000;}
		.w100per{width:100%;}
		.w100{width:rem(100);}
		.w118{width:rem(118);}
		.w130{width:rem(130);}
		.w250{width:rem(250);}
		.w272{width:rem(272);}
		.w280{width:rem(280);}
		.w330{width:rem(330);}
		.w350{width:rem(350);}
		.pd-t20{padding-top:rem(20) !important;}
		.mg-l20{margin-left:rem(20);}
		.mg-t12{margin-top:rem(12);}
		.mg-b22{margin-bottom:rem(22);}
		.v-align-t{vertical-align: top;}
		.content{display:block;width:rem(1500);height:auto;margin:rem(100) auto 0;}
		.theborn{
			width:100%;
			.theborn-msg-wrap{
				display:block;width:rem(1500);height:rem(745);padding-left:rem(820);margin:0 auto;box-sizing:border-box;
				background-image:url(../images/cate/msg_bg.png);
				background-size: auto rem(743);
				background-position:center center;
				background-color:#fff;
				background-repeat:no-repeat;
				h4{
					padding-top:rem(100);padding-bottom:rem(50);font-size:rem(30);font-weight:500;color:#000;
				}
				.theborn-msg{
					p{line-height:rem(30);font-size:rem(18);font-weight:300;color:#000;}
					p.ceo-sign{
						line-height:rem(50);font-size:rem(15);
						img{display:inline-block;width:auto;height:rem(49);margin-left:rem(10);vertical-align:middle;}
					}
				}
			}
			.theborn-map-wrap{
				display:block;width:100%;height:rem(936);margin:0 auto;
				background-image:url(../images/cate/map_area_bg.png); 
				background-size: auto 100%;
				background-position:center center;
				background-repeat:no-repeat;
				.theborn-map{
					.map-title{padding-top:rem(100);padding-bottom:rem(20);text-align:center;font-size:rem(30);font-weight:500;color:#fff;}
					.map-txt{padding-bottom:rem(20);line-height:rem(30);text-align:center;font-size:rem(16);font-weight:300;color:#fff;}
					.map-area{
						position:relative;display:block;width:rem(1067);height:rem(629);margin:0 auto;
						/*background-image:url(../images/cate/map_bg.png);*/
						background-size: auto 100%;
						background-position:center center;
						background-repeat:no-repeat;
						ul{
							display:none;
							li{
								position:absolute;
								display:block;
								width:rem(8);
								height:rem(8);
								margin-top:rem(-5);
								margin-left:rem(-5);
								border-radius:50%;
								border:1px solid #dd0b15;
								transition: all .25s;
								> div{
									position:relative;top:rem(-20);left:rem(4);display:block;padding-left:rem(20);
									.map-cursor{
										display:none;
										b{}
									}
									.map-infos{
										position:relative;display:none;width:rem(180);height:auto;z-index:4;
										b{display:inline-block;width:auto;height:rem(26);padding:0 rem(15);line-height:rem(26);font-size:rem(14);font-weight:500;color:#fff;background-color:#dd0b15;border-radius:rem(5);}
										dl{
											width:rem(180);height:auto;padding:rem(12) rem(20);background-color:#fff;border-radius:rem(5);box-sizing:border-box;
											dd{display:inline-block;width:48%;height:rem(20);margin-bottom:rem(10);}
											p{display:block;width:rem(140);height:rem(26);line-height:rem(26);text-align:center;font-size:rem(11);color:#000;background-color:#efefef;border-radius:rem(13);border:rem(1) solid #888;}
											dd.thebrand-1{}	
											dd.thebrand-2{}
											dd.thebrand-3{}
											dd.thebrand-4{}
											dd.thebrand-5{}
											dd.thebrand-6{}
											dd.thebrand-7{}
											dd.thebrand-8{}
										}
									}
								}
							
							}
							li:before{
								content:'';
								display:block;
								width:rem(8);
								height:rem(8);
								margin-top:0;
								margin-left:0;
								border-radius:50%;
								background-color:#dd0b15;
								transition: all .25s;
							}
							li:hover{
								display:block;
								width:rem(18);
								height:rem(18);
								margin-top:rem(-10);
								margin-left:rem(-10);
								background-color:#fff;
								border:1px solid #dd0b15;
								> div{
									.map-infos{display:block;}
								}
							}
							li:hover::before{
								margin-top:rem(5);
								margin-left:rem(5);
							}
							li.ico-p-1{top:rem(306);left:rem(430);}
							li.ico-p-2{top:rem(298);left:rem(375);}
							li.ico-p-3{top:rem(310);left:rem(458);}
							li.ico-p-4{top:rem(359);left:rem(377);}
							li.ico-p-5{top:rem(368);left:rem(355);}
							li.ico-p-6{top:rem(375);left:rem(372);}
							li.ico-p-7{top:rem(388);left:rem(410);}
							li.ico-p-8{top:rem(417);left:rem(364);}
							li.ico-p-9{top:rem(434);left:rem(431);}
							li.ico-p-10{top:rem(452);left:rem(395);}
							li.ico-p-11{top:rem(520);left:rem(420);}
							li.ico-p-12{top:rem(274);left:rem(762);}
						}
					}
				}
			}
			.theborn-sys-wrap{
				display:block;width:rem(1500);margin:0 auto;
				.theborn-sys{
				display:block;width:100%;height:auto;margin:rem(100) auto;
					ul{
						text-align:center;
						li{
							display:inline-block;width:rem(550);height:rem(425);padding-top:rem(50);margin:0 rem(7) rem(20);background-color:#fff;box-sizing:border-box;
							.img-box{display:block;width:rem(120);height:rem(120);margin: 0 auto rem(50);border-radius:50%;border:rem(1) solid #eee; overflow:hidden;}
							.txt-box{
								.txt-title{margin-bottom:rem(15);text-align:center;font-size:rem(24);font-weight:500;color:#de121c;}
								.txt-dec{display:-webkit-box; word-break: keep-all; -webkit-line-clamp:4; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;height:rem(120);line-height:rem(30);text-align:center;font-size:rem(16);font-weight:400;color:#000;}
							}
						}
					}
				}
			}
		}
		.brand{
			> div{
				display:block;width:100%;margin-bottom:rem(140);
				.brand-lists{
					> ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						> li{
							display:inline-block;margin-right:rem(28);margin-bottom:rem(36);border: 1px solid #f7f7f7;vertical-align: top;
							.img-box{
								display:block;width:rem(348);height:rem(230);
								background-size: auto 100%;
								background-position:center center;
								background-repeat:no-repeat;
							}
							.txt-box{
								position:relative;display:block;width:rem(348);height:auto;padding:rem(32) rem(22) rem(56);background-color:#fff;box-sizing:border-box;
								.logo-ico{height:rem(38);margin-bottom:rem(10);}
								dl{
									dd{
										line-height:rem(30);font-size:rem(16);font-weight:300;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
									}
								}
								.brand-home-move{
									position:absolute;bottom:rem(18);right:rem(16);display:block;width:rem(116);height:rem(22);padding-left:rem(20);line-height:rem(24);
									font-size:rem(14);font-wieght:300;color:#777;
									background-image:url(../images/athome_ico.png);
									background-size: rem(14) rem(14);
									background-position:left center;
									background-repeat:no-repeat;
									cursor:pointer;
								}
							}
						}
						> li:nth-child(4n){margin-right:0px;}
						> li:hover{border:rem(1) solid #de121c;box-sizing:border-box;box-shadow:rem(3) rem(4) rem(7) #bbb;}
					}
				}
			}
		}
		.news{
			> div{
				display:block;width:100%;margin-bottom:rem(140);
				.news-lists{
					> ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						> li{
							display:inline-block;margin-right:rem(28);margin-bottom:rem(36);border: 1px solid #f7f7f7;vertical-align: top;
							a{
								cursor:pointer;
								.img-box{
									display:block;width:rem(348);height:rem(197);
									background-size: auto 100%;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									position:relative;display:block;width:rem(348);height:auto;padding:rem(32) rem(22);background-color:#fff;box-sizing:border-box;
									.news-title{line-height:rem(30);font-size:rem(16);font-weight:400;color:#000;}
									.news-date{font-size:rem(12);font-weight:300;color:#000;}
								}
							}
						}
						> li:nth-child(4n){margin-right:0px;}
						> li:hover{border:rem(1) solid #de121c;box-sizing:border-box;box-shadow:rem(3) rem(4) rem(7) #bbb;}
					}
				}
				.media-lists{
					> ul{
						display:block;width:100%;height:auto;margin:0 auto;overflow:hidden;
						> li{
							display:inline-block;margin-right:rem(28);margin-bottom:rem(36);border: 1px solid #f7f7f7;vertical-align: top;
							a{
								cursor:pointer;
								.img-box{
									display:block;width:rem(348);height:rem(197);
									background-size: auto 100%;
									background-position:center center;
									background-repeat:no-repeat;
								}
								.txt-box{
									position:relative;display:block;width:rem(348);height:auto;padding:rem(32) rem(22);background-color:#fff;box-sizing:border-box;
									.media-brand{
										font-size:rem(12);font-weight:400;
										span{margin:0 rem(3);}
									}
									.media-title{line-height:rem(30);font-size:rem(16);font-weight:400;color:#000;}
								}
							}
						}
						> li:nth-child(4n){margin-right:0px;}
						> li:hover{border:rem(1) solid #de121c;box-sizing:border-box;box-shadow:rem(3) rem(4) rem(7) #bbb;}
					}
				}
			}
		
		}
		.founded{
			.register{
				width:100%;height:auto;padding:rem(80) rem(150);background-color:#fff;box-sizing:border-box;
				.notice-infos{
					display:block;width:rem(1200);height:rem(84);margin:rem(72) auto rem(0);line-height:rem(84);text-align:center;background-color:#f7f7f7;border:rem(1) solid #ddd;
					p{
						font-size:rem(18);font-weight:400;color:#3c3c3c;
						b{padding-right:rem(30);font-size:rem(24);font-weight:500;color:#3c3c3c;}
					}
				}
			}
			.store-steps{    
				display: block;width: rem(1206);height: auto;min-height: rem(1045);margin:0 auto;
				background-size: rem(1206) auto;
				background-position:left top;
				background-repeat:no-repeat;
				background-image:url(/images/cate/store_step_bg.jpg);
				ul{
					display:block;width:rem(1020);height:auto;margin:0 auto;overflow:hidden;
					li{
						display:block;width:rem(340);height:rem(440);padding:rem(270) rem(66) 0;text-align:center;box-sizing:border-box;
						b{line-height:rem(30);font-size:rem(20);font-weight:500;color:#de121c;}
						p{
							line-height:rem(30);font-size:rem(20);font-weight:500;color:#000;
							span{display:block;line-height:rem(30);font-size:rem(16);font-weight:400;color:#888;}
						}
					}
				}
				ul.fst-lines{
					li{float:left;}
				}
				ul.sec-lines{
					li{float:right;}				
				}
				p.store-notice{
					display: inline-block;padding-top: 20px;padding-left: 420px;font-size:rem(18);font-weight:500;color:#000;
					b{color:#de121c;}
				}
			}
			.fna{
				display:block;width:100%;height:auto;margin:0 auto;background-color:#fff;
				> div{
					display:block;width:rem(1200);height:auto;padding-bottom:rem(150);margin:0 auto;
					.search-form{
						display:block;width:100%;height:auto;padding:rem(80) rem(130);box-sizing:border-box;
						> div{
							position:relative;
							.search-input{}
							.search-btn{
								position:absolute;top:rem(8);right:0;
								display:inline-block;width:rem(38);height:rem(38);
								background-size: rem(38) rem(38);
								background-position:center center;
								background-repeat:no-repeat;
								background-image:url(/images/search_btn_icon.png);
								text-indent:-9999px;
								cursor:pointer;
							}
						}
					}
					.fna-lists{
						ul{
							li{
								.list-title{
									position:relative;display:block;width:100%;height:rem(62);padding:0 rem(8);line-height:rem(62);font-size:rem(20);font-weight:500;color:#000;border-bottom:rem(1) solid #ddd;box-sizing:border-box;cursor:pointer;
									b{color:#dd0b15;}
								}
								.list-title:after{
									content:"";
									position:absolute;top:rem(23);right:rem(8);
									display:block;width:rem(16);height:rem(16);
									background-size: rem(16) rem(9);
									background-position:center center;
									background-repeat:no-repeat;
									background-image:url(/images/toggle_btn.png);
								}
								.toggle-box{display:none;width:100%;height:auto;padding:rem(20) rem(48) rem(40);line-height:rem(32);font-size:rem(18);font-weight:400;color:#666;border-bottom:rem(1) solid #ddd;box-sizing:border-box;}
							}
							li.toggleActive{
								.list-title:after{transform: rotate(-180deg);}
							}
						}
					}
				}
			}
		}
		.presentation{
			.present{
				display:block;width:100%;height:auto;background-color:#fff;
				.add-tab{
					display:block;width:rem(1200);height:auto;padding:rem(60) 0 rem(200);margin:0 auto;box-sizing:border-box;
					.add-tab-btns{
						display:table;width:100%;overflow:hidden;
						> div{
							display:table-cell;width:16.6%;border-top:rem(1) solid #ddd;border-bottom:rem(1) solid #ddd;box-sizing:border-box;cursor:pointer;
							a{display:block;width:100%;height:rem(62);line-height:rem(62);text-align:center;font-size:rem(16);font-weight:500;color:#878787;border-left:rem(1) solid #ddd;box-sizing:border-box;}
						}
						> div:last-child{
							a{border-right:rem(1) solid #ddd;}
						}
						> div.on{
							a{color:#fff;background-color:#dd0b15;border-color:#dd0b15;}
						}
						> div.on + div{
							a{border-left:rem(1) solid #dd0b15;}
						}
					}
					.add-tab-inner{
						.add-tab-con{
							display:none;
							.presentation-lists-wrap{
								.presentation-dates{
									position:relative;display:block;width:100%;height:auto;padding:rem(80) 0 rem(40);
									>div{
										position:relative;display:block;width:rem(300);height:rem(38);margin:0 auto;line-height:rem(38);text-align:center;
										> p{
											font-size:rem(30);color:#000;
											b{font-weight:500;}
										}
										> div{
											position:absolute;top:0;display:block;width:rem(38);height:rem(38);border-radius:50%;overflow:hidden;outline:none;
											> a{
												display:block;width:rem(38);height:rem(38);outline:none;
												background-size: rem(38) rem(38);
												background-position:center center;
												background-repeat:no-repeat;
												background-image:url(../images/date_set_btn.png);
											}
										}
										> div:hover{
											box-shadow:rem(3) rem(4) rem(5) #ddd;
										}
										> div.date-set-btn-prev{
											left:0;
											> a{transform: rotate(-180deg);}
											> a:hover{background-image:url(../images/date_set_btn_on.png);transform: rotate(0deg);}
										}
										> div.date-set-btn-next{
											right:0;
											> a{transform: rotate(0deg);}
											> a:hover{background-image:url(../images/date_set_btn_on.png);transform: rotate(-180deg);}
										}
									}
									.selectBox{
										position: absolute;top: rem(74);right: 0;
									}
									.selectBox > select{display:block;width:rem(200);height:rem(50);padding:0;padding-left:rem(20);line-height:rem(50);text-align:left;}
									.selectBox > select + label{
										display:block;width:rem(200);height:rem(50);padding:0;padding-left:rem(20);line-height:rem(50);text-align:left;border:rem(1) solid #ddd;background-position: 170px center;
									}
								}
								.presentation-lists{
									ul{
										display:block;width:100%;height:auto;overflow:hidden;
										.presentation-list{
											display:inline-block;width:33.3%;float:left;
											> div{
												position: relative;display:block;width:rem(380);height:rem(520);margin:0 auto rem(40);border:rem(1) solid #fff;
												.img-box{position:relative;display:block;width:rem(340);height:rem(226);margin:rem(20) auto;
													background-size: auto 100%;
													background-position:center center;
													background-repeat:no-repeat;
													
												}
												.txt-box{
													position:relative;display:block;width:rem(340);height:auto;margin: auto rem(20);
													.presentation-locate{line-height:rem(30);font-size:rem(12);font-weight:500;color:#dd0b15;}
													.presentation-brand{line-height:rem(30);font-size:rem(24);font-weight:500;color:#000;}
													.presentation-time{line-height:rem(30);font-size:rem(16);font-weight:400;color:#000;}
													.presentation-space{line-height:rem(30);font-size:rem(16);font-weight:400;color:#000;}
													.presentation-noti{margin-top:rem(6);line-height:rem(16);font-size:rem(12);font-weight:400;color:#878787;letter-spacing: -0.2px;word-break: keep-all;}
												}
												.btn-wrap{
													position: absolute;left: 20px;bottom: 20px;text-align: left;
													a{display:inline-block;width:rem(170);height:rem(50);line-height:rem(50);font-size:rem(20);font-weight:500;color:#fff;border:rem(1) solid #dd0b15;background-color:#dd0b15;}
													a.sold{border:rem(1) solid #878787;background-color:#878787;}
												}
												.img-box.almost-sold:after{
													content:'마감임박';position:absolute;top:0;right:0;display:block;width:rem(82);height:rem(30);line-height:rem(30);text-align:center;font-family: 'Noto Sans KR', Helvetica, AppleSDGothicNeo, sans-serif;font-size:rem(14);color:#fff;background-color: #dd0b15;
												}
											}
											> div:hover{
												border:rem(1) solid #dd0b15;box-shadow:rem(3) rem(4) rem(5) #ddd;
											}
										}
									}
								}
								
							}
						}
						.add-tab-con.on{display:block;}
					}
				}
			}
			.location{
				display:block;width:100%;height:auto;background-color:#fff;
				.add-tab{
					display:block;width:rem(1200);height:auto;padding:rem(60) 0 rem(200);margin:0 auto;box-sizing:border-box;
					.add-tab-btns{
						display:table;width:100%;overflow:hidden;
						> div{
							display:table-cell;width:16.6%;border-top:rem(1) solid #ddd;border-bottom:rem(1) solid #ddd;box-sizing:border-box;cursor:pointer;
							a{display:block;width:100%;height:rem(62);line-height:rem(62);text-align:center;font-size:rem(16);font-weight:500;color:#878787;border-left:rem(1) solid #ddd;box-sizing:border-box;}
						}
						> div:last-child{
							a{border-right:rem(1) solid #ddd;}
						}
						> div.bakdb{
							vertical-align: top;
							a{
								padding-top:rem(10);line-height:rem(20);
								span{font-size:rem(14);}
								
							}
						}
						> div.on{
							a{color:#fff;background-color:#dd0b15;border-color:#dd0b15;}
						}
						> div.on + div{
							a{border-left:rem(1) solid #dd0b15;}
						}
					}
					.add-tab-inner{
						.add-tab-con{
							display:none;
							.location-title-wrap{
								.location-title{display:block;width:100%;height:auto;padding:rem(70) 0 rem(30);line-height:rem(32);font-size:rem(30);font-weight:500;color:#000;}
								.location-addr1{display:block;width:100%;height:auto;line-height:rem(32);font-size:rem(16);font-weight:400;color:#000;}
								.location-addr2{display:block;width:100%;height:auto;padding-bottom:rem(10);line-height:rem(32);font-size:rem(16);font-weight:400;color:#000;}
							}
							.location-map{
								> div{
								
								}
							}
							.location-traffic{
								ul{
									display:block;margin-top:rem(20);
									li{
										position:relative;display:block;width:100%;height:rem(80);
										p{
											display:inline-block;width:100%;height:rem(80);line-height:rem(26);padding:rem(14) 0 rem(14) rem(95);font-size:rem(16);font-weight:400;color:#000;box-sizing:border-box;
										}
										b.traffic_ico{
											position:absolute;top:0;left:0;display:block;width:rem(80);height:rem(80);padding-top:rem(46);text-align:center;font-size:rem(16);font-weight:500;color:#000;box-sizing:border-box;
											background-color:#f7f7f7;
											background-size: rem(16) rem(21);
											background-position:rem(32) rem(12);
											background-repeat:no-repeat;
										}
									}
								}
							}
						}
						.add-tab-con.on{display:block;}
					}
				}
			}
		}
		.presentation-form{
			.presentation-form-wrap{
				display:block;width:100%;height:auto;padding:rem(60) 0;background-color:#fff;
				.presentation-form-title-wrap{
					display:block;width:rem(1200);height:rem(150);margin:0 auto rem(40);text-align:center;background-color:#f9f9f9;border:rem(1) solid #ddd;box-sizing:border-box;
				}
				.presentation-form-title{padding-top:rem(40);padding-bottom:rem(25);font-size:rem(26);font-weight:500;color:#d60615;}
				.presentation-form-dec{font-size:rem(20);font-weight:400;color:#000;}
			}
		}
		.view{
			.view-wrap{
				display:block;width:100%;height:auto;padding:rem(60) 0;background-color:#fff;
				.view-title{
					display:block;width:rem(1200);height:rem(92);line-height:rem(92);padding:0 rem(38);margin:0 auto;background-color:#f7f7f7;border:rem(1) solid #ddd;overflow:hidden;box-sizing:border-box;
					h4{font-size:rem(22);color:#3c3c3c;}
					span{font-size:rem(14);font-weight:300;color:#3c3c3c;}
				}
				.view-con{display:block;width:rem(1200);padding-top:rem(40);padding-bottom:rem(25);margin:0 auto;}
				.view-foot{
					display:block;width:rem(1200);margin:0 auto;border-bottom:rem(1) solid #ddd;
					.sns-btns{
						display:block;padding:rem(20) 0 rem(60); text-align:center;
						a{
							display:inline-block;margin:0 rem(4);
						}
					}
					.add-file-area{
						display:block;width:rem(1200);height:rem(72);padding:0 rem(40);margin:0 auto;overflow:hidden;background-color:#f7f7f7;box-sizing:border-box;
						.file-ico{
							display:block;width:rem(120);height:rem(72);padding-left:rem(24);line-height:rem(72);float:left;box-sizing:border-box;
							font-size:rem(16);font-weight:400;color:#000;
							background-image:url(../images/file-ico.png);
							background-size: rem(18) rem(24);
							background-position:left center;
							background-repeat:no-repeat;
							cursor:pointer;
						}
						.file-name{display:block;width:calc(100% - #{rem(120)});height:rem(72);line-height:rem(72);font-weight:300;float:left;font-size:rem(16);color:#000;}
					}
				}
				.list-btn{
					display:block;padding:rem(40) 0 rem(0); text-align:center;
					a{display:inline-block;background-color:#d60615;color:#fff;border:rem(1) solid #d60615;}
				}
			}
		}
	}
}
