
/* header S */
header {
	border-bottom: rem(1) solid #ddd;
	> div{
		display:block;width:rem(1500);height:rem(100);margin:0 auto;overflow:hidden;
		.header-left{
			display:inline-block;width:rem(180);height:rem(100);vertical-align:middle;float:left;
			a{display:block;width:rem(180);height:rem(48);margin-top:rem(26);cursor:pointer;}
		}
		.header-right{
			display:inline-block;text-align:right;vertical-align:middle;float:right;
			ul{
				display:block;width:100%;height:auto;
				li{
					display:inline-block;padding:0 rem(20);height:auto;
					a{display:block;width:100%;height:rem(100);line-height:rem(100);font-size:rem(16);font-weight:500;color:#000;cursor:pointer;}
				}
				li.on{
					a{color:#de121c;}
				}
				li:hover{
					a{color:#de121c;}
				}
			}
			ul.hover{
				li.on{
					a{color:#000;}
				}
			}
		}
	}
}
/* header E */
/* footer S */
footer {
    background:$bg-footer;
    font-size:$small-txt;
	clear:both;
	overflow:hidden;
	> div{
		position:relative;display:block;width:rem(1500);height:rem(200);margin:0 auto;
		.left {
			display:inline-block;width:rem(1500);height:rem(200);padding-top:rem(40);padding-right:rem(210);box-sizing:border-box;
			.footer-person{
				a{display:block;margin-bottom:rem(20);font-size:rem(16);font-weight:500;color:#c9c9c9;cursor:pointer;}
			}
			.footer-info{
				ul{
					display:block;margin-bottom:rem(10);
					li{display:inline-block;padding-left:rem(8);padding-right:rem(8);font-size:rem(13);font-weight:400;color:#a5a5a5;border-left:rem(1) solid #a5a5a5;}
					li:first-child{padding-left:rem(0);border-left:rem(0) solid #a5a5a5;}
				}
			}
		}
		.right {
			position:absolute;top:rem(75);right:0;display:block;width:rem(200);height:rem(50);border:rem(1) solid #a5a5a5;box-sizing:border-box;
			.family-site{
				position:relative;display:block;width:rem(200);height:rem(50);box-sizing:border-box;
				span{
					display:block;padding:0 rem(10);line-height:rem(48);text-align:left;box-sizing:border-box;font-size:rem(15);color:#a5a5a5;
					background-image:url(/images/footer_select_bg.png);
					background-size:rem(13) rem(7);
					background-position:rem(170) rem(21);
					background-repeat:no-repeat;
				}
				select{
					position:absolute;top:0;left:0;display:block;padding:0 rem(10);text-align:left;box-sizing:border-box;cursor:pointer;opacity:0;z-index:1;
				}
			}
		}
	}
}
/* footer E */
