@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* add */
a {
  text-decoration: none;
  color: inherit; }

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none; }

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0; }

/* font */
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url(../fonts/NotoSans-DemiLight.eot);
  src: url(../fonts/NotoSans-DemiLight.eot) format("embedded-opentype"), url(../fonts/NotoSans-DemiLight.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"); }

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url(../fonts/NotoSans-Bold.eot);
  src: url(../fonts/NotoSans-Bold.eot) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"); }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: 200; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-4Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: 800; }

@font-face {
  font-family: 'SCDream';
  src: url("../fonts/S-CoreDream-9Black.woff") format("woff");
  font-weight: 900; }

/* Common S */
html {
  width: 100%;
  min-width: 1200px;
  font-family: 'SCDream', 'NotoSansKR', Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  line-height: 1; }
  html body {
    width: 100%; }
  html .nt {
    font-family: 'NotoSansKR', 'SCDream', Arial, sans-serif; }

.date-box {
  font-size: 0.875rem;
  font-weight: bold; }
  .date-box .day {
    display: block;
    font-size: 3rem;
    padding-top: 0.3125rem; }

button {
  cursor: pointer; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.hidden {
  position: absolute;
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0; }

.f-wrap:after {
  content: '';
  clear: both;
  display: block; }

.visit {
  opacity: 0.5; }

.tab-con {
  display: none; }

.tab-con.on {
  display: block; }

/* Common E */
/* Common Layer S*/
#container .swiper-prev,
#container .swiper-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 4.1875rem;
  height: 2.375rem;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-size: 4.1875rem auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 11;
  cursor: pointer;
  outline: none; }

#container .swiper-prev {
  left: 0; }

#container .swiper-next {
  right: 0; }

#container .swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 1.5625rem;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: inline-block;
  z-index: 11;
  cursor: pointer;
  outline: none; }
  #container .swiper-pagination > span.swiper-pagination-bullet {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.25rem;
    border-radius: 50%;
    overflow: hidden;
    opacity: .5;
    background-color: #fff;
    vertical-align: top;
    outline: none; }
  #container .swiper-pagination > span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1; }

#container .swiper-controller {
  position: absolute;
  left: 50%;
  bottom: 1.5625rem;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: inline-block;
  z-index: 11; }
  #container .swiper-controller .swiper-pagination {
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 1rem;
    padding-top: 0.125rem;
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  #container .swiper-controller .swiper-switch-btns {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: top;
    cursor: pointer;
    outline: none; }
    #container .swiper-controller .swiper-switch-btns .swiper-button-pause {
      position: absolute;
      display: block;
      width: 1rem;
      height: 1rem;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../images/slider_pause_btn_w.png);
      opacity: 1; }
    #container .swiper-controller .swiper-switch-btns .swiper-button-play {
      position: absolute;
      display: block;
      width: 1rem;
      height: 1rem;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../images/slider_play_btn_w.png);
      opacity: 0; }
  #container .swiper-controller .swiper-switch-btns.pauseed .swiper-button-pause {
    opacity: 0; }
  #container .swiper-controller .swiper-switch-btns.pauseed .swiper-button-play {
    opacity: 1; }

/* Common Layer E*/
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='date'],
textarea {
  font-size: #000;
  font-weight: 400;
  font-family: 'NotoSansKR',  Arial, sans-serif;
  color: #000; }

input[type=text]::-ms-clear {
  display: none; }

input::placeholder, textarea::placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

input::-webkit-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

input:-ms-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

textarea::-webkit-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

textarea:-ms-input-placeholder {
  color: #999;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

input[type='text'] {
  padding: 0 1.125rem;
  box-sizing: border-box; }

select {
  border: 0.0625rem solid #d9d9d9;
  color: #000;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  background: transparent;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'NotoSansKR',  Arial, sans-serif; }

select::-ms-expand {
  display: none; }

input[type="radio"], input[type="checkbox"] {
  display: none; }

input[type='radio'] + label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/images/radio_unchecked.png);
  box-sizing: border-box;
  text-indent: -9999px;
  vertical-align: top; }
  input[type='radio'] + label + label {
    margin-right: 2.25rem;
    line-height: 1.375rem;
    font-size: 1rem;
    color: #888;
    vertical-align: top; }

input[type='radio']:checked + label {
  background-image: url(/images/radio_checked.png); }

input[type='text'] {
  display: inline-block;
  height: 3.5rem;
  line-height: 3.5rem;
  border: 0px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: #888;
  box-sizing: border-box;
  vertical-align: middle;
  border-bottom: 0.0625rem solid #888; }

.selectBox {
  position: relative;
  display: inline-block; }

.selectBox > select {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3.5rem;
  padding-left: 1.25rem;
  font-size: 1rem;
  color: #888;
  line-height: 3.5rem;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box; }

.selectBox > select + label {
  display: block;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 1.25rem;
  font-size: 1rem;
  color: #888;
  border-bottom: 0.0625rem solid #888;
  box-sizing: border-box;
  background-image: url(../images/input_box_select_bg.png);
  background-size: 0.875rem 0.5rem;
  background-position: 96% center;
  background-repeat: no-repeat; }

.textarea-wrap {
  width: 100%;
  padding: 0;
  box-sizing: border-box; }
  .textarea-wrap textarea {
    width: 100%;
    height: auto;
    min-height: 3.5rem;
    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: #888;
    border: 0px;
    border-bottom: 0.0625rem solid #888;
    outline: none;
    box-sizing: border-box;
    vertical-align: top; }
  .textarea-wrap textarea::placeholder {
    color: #999;
    font-size: 1rem;
    font-weight: 400; }

/* Icon css */
span[class*="ico-"] {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 100%; }
  span[class*="ico-"].ico-close {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/pop_close.png); }
  span[class*="ico-"].ico-close-w {
    width: 1.8125rem;
    height: 1.8125rem;
    background-image: url(../images/pop_close_w.png); }
  span[class*="ico-"].ico-more {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 12px solid #fff;
    transition: all .25s;
    background: #fff; }
  span[class*="ico-"].ico-more:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.6875rem;
    margin-left: -0.6875rem;
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 100%;
    background-image: url(../images/more_icon.png);
    background-color: #fff;
    background-size: auto;
    background-position: center; }
  span[class*="ico-"].ico-more:hover {
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    background: #000; }
  span[class*="ico-"].ico-plus {
    width: 2rem;
    height: 2rem;
    background-image: url(../images/icon_plus.png); }
  span[class*="ico-"].ico-plus-l {
    width: 3.1875rem;
    height: 3.1875rem;
    background-image: url(../images/icon_plus_l.png); }
  span[class*="ico-"].ico-play {
    width: 8.5rem;
    height: 8.5rem;
    background-image: url(../images/icon_play.png); }
  span[class*="ico-"].ico-prev {
    width: 1.1875rem;
    height: 1.625rem;
    background-image: url(../images/icon_prev.png); }
  span[class*="ico-"].ico-next {
    width: 1.1875rem;
    height: 1.625rem;
    background-image: url(../images/icon_prev.png);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  span[class*="ico-"].ico-sch {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(../images/icon_sch.png); }
  span[class*="ico-"].ico-file {
    width: 1.5rem;
    height: 1.4375rem;
    background-image: url(../images/icon_file.png); }

.btn {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5rem;
  border: 0.125rem solid; }
  .btn.basic {
    color: #fff;
    line-height: 2.875rem; }
  .btn.round {
    padding: 0 4.375rem;
    border-radius: 1.875rem; }
  .btn.primary {
    background: #03cab1;
    border-color: #03cab1;
    color: #333; }
  .btn.round2 {
    font-weight: bold;
    line-height: 4rem;
    border-radius: 2.1875rem;
    padding: 0 5.25rem; }
  .btn.gray {
    width: 10rem;
    line-height: 3.125rem;
    background: #b4b3b3;
    color: #333333;
    font-weight: bold;
    font-size: 1rem; }

/* header S */
header {
  border-bottom: 0.0625rem solid #ddd; }
  header > div {
    display: block;
    width: 93.75rem;
    height: 6.25rem;
    margin: 0 auto;
    overflow: hidden; }
    header > div .header-left {
      display: inline-block;
      width: 11.25rem;
      height: 6.25rem;
      vertical-align: middle;
      float: left; }
      header > div .header-left a {
        display: block;
        width: 11.25rem;
        height: 3rem;
        margin-top: 1.625rem;
        cursor: pointer; }
    header > div .header-right {
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      float: right; }
      header > div .header-right ul {
        display: block;
        width: 100%;
        height: auto; }
        header > div .header-right ul li {
          display: inline-block;
          padding: 0 1.25rem;
          height: auto; }
          header > div .header-right ul li a {
            display: block;
            width: 100%;
            height: 6.25rem;
            line-height: 6.25rem;
            font-size: 1rem;
            font-weight: 500;
            color: #000;
            cursor: pointer; }
        header > div .header-right ul li.on a {
          color: #de121c; }
        header > div .header-right ul li:hover a {
          color: #de121c; }
      header > div .header-right ul.hover li.on a {
        color: #000; }

/* header E */
/* footer S */
footer {
  background: #363636;
  font-size: 0.8125rem;
  clear: both;
  overflow: hidden; }
  footer > div {
    position: relative;
    display: block;
    width: 93.75rem;
    height: 12.5rem;
    margin: 0 auto; }
    footer > div .left {
      display: inline-block;
      width: 93.75rem;
      height: 12.5rem;
      padding-top: 2.5rem;
      padding-right: 13.125rem;
      box-sizing: border-box; }
      footer > div .left .footer-person a {
        display: block;
        margin-bottom: 1.25rem;
        font-size: 1rem;
        font-weight: 500;
        color: #c9c9c9;
        cursor: pointer; }
      footer > div .left .footer-info ul {
        display: block;
        margin-bottom: 0.625rem; }
        footer > div .left .footer-info ul li {
          display: inline-block;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          font-size: 0.8125rem;
          font-weight: 400;
          color: #a5a5a5;
          border-left: 0.0625rem solid #a5a5a5; }
        footer > div .left .footer-info ul li:first-child {
          padding-left: 0rem;
          border-left: 0rem solid #a5a5a5; }
    footer > div .right {
      position: absolute;
      top: 4.6875rem;
      right: 0;
      display: block;
      width: 12.5rem;
      height: 3.125rem;
      border: 0.0625rem solid #a5a5a5;
      box-sizing: border-box; }
      footer > div .right .family-site {
        position: relative;
        display: block;
        width: 12.5rem;
        height: 3.125rem;
        box-sizing: border-box; }
        footer > div .right .family-site span {
          display: block;
          padding: 0 0.625rem;
          line-height: 3rem;
          text-align: left;
          box-sizing: border-box;
          font-size: 0.9375rem;
          color: #a5a5a5;
          background-image: url(/images/footer_select_bg.png);
          background-size: 0.8125rem 0.4375rem;
          background-position: 10.625rem 1.3125rem;
          background-repeat: no-repeat; }
        footer > div .right .family-site select {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          padding: 0 0.625rem;
          text-align: left;
          box-sizing: border-box;
          cursor: pointer;
          opacity: 0;
          z-index: 1; }

/* footer E */
/* main */
#container.main {
  width: 100%;
  background-color: #f7f7f7;
  overflow: hidden; }
  #container.main section {
    position: relative;
    width: 100%; }
    #container.main section .wideFullSlider .swiper-slide > a {
      display: block;
      width: 100%;
      height: auto; }
    #container.main section .main-top-wrap {
      position: relative; }
      #container.main section .main-top-wrap .main-slider-wrap {
        /*
				.swiper-prev{left:rem(100);background-image:url(../images/slider_prev_btn_w.png);}
				.swiper-next{right:rem(100);background-image:url(../images/slider_next_btn_w.png);}
				*/ }
        #container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box {
          position: relative;
          display: block;
          width: 100%;
          height: 50rem;
          background-size: auto 100%;
          background-position: center center;
          background-repeat: no-repeat;
          text-align: center; }
          #container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box .center-box {
            position: absolute;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
            #container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box .center-box .main-slider-title {
              margin-bottom: 1.25rem;
              font-size: 3.75rem;
              font-weight: 500;
              color: #fff; }
            #container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box .center-box .main-slider-dec {
              margin-bottom: 2.5rem;
              font-size: 1.375rem;
              font-weight: 500;
              color: #fff; }
            #container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box .center-box .main-slider-more {
              display: inline-block;
              height: 3.75rem;
              padding: 0 3.75rem;
              line-height: 3.75rem;
              font-size: 1.125rem;
              color: #fff;
              border: 0.0625rem solid #fff;
              cursor: pointer; }
            #container.main section .main-top-wrap .main-slider-wrap .main-slider .full-bg-box .center-box .main-slider-more:hover {
              color: #de121c;
              border: 0.0625rem solid #de121c; }
        #container.main section .main-top-wrap .main-slider-wrap .swiper-prev {
          left: calc(50% + 6.25rem);
          margin-left: -50vw;
          background-image: url(../images/slider_prev_btn_w.png); }
        #container.main section .main-top-wrap .main-slider-wrap .swiper-next {
          right: calc(50% + 6.25rem);
          margin-right: -50vw;
          background-image: url(../images/slider_next_btn_w.png); }
        #container.main section .main-top-wrap .main-slider-wrap .swiper-prev:hover {
          background-image: url(../images/slider_prev_btn_r.png); }
        #container.main section .main-top-wrap .main-slider-wrap .swiper-next:hover {
          background-image: url(../images/slider_next_btn_r.png); }
    #container.main section .main-middle-wrap {
      position: relative; }
      #container.main section .main-middle-wrap .middle-slider a {
        display: block;
        cursor: pointer; }
        #container.main section .main-middle-wrap .middle-slider a .middle-banner-bg {
          display: block;
          width: 100%;
          height: 9.25rem;
          background-size: auto 100%;
          background-position: center center;
          background-repeat: no-repeat; }
    #container.main section .main-story-wrap .main-story-area {
      position: relative;
      display: block;
      width: 94rem;
      height: auto;
      padding: 5.625rem 0;
      margin: 0 auto; }
      #container.main section .main-story-wrap .main-story-area .story-title h3 {
        margin-bottom: 0.9375rem;
        font-size: 2.5rem;
        color: #000; }
      #container.main section .main-story-wrap .main-story-area .story-title p {
        font-size: 1.125rem;
        color: #000; }
      #container.main section .main-story-wrap .main-story-area .story-slider {
        padding-top: 3.125rem;
        padding-bottom: 10px; }
        #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide {
          display: block;
          width: 22rem; }
          #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a {
            position: relative;
            display: block;
            width: 21.875rem;
            height: 20.5rem;
            background-color: #fff;
            border: 0.0625rem solid #f7f7f7;
            box-sizing: border-box;
            cursor: pointer; }
            #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a .img-box {
              display: block;
              width: 21.75rem;
              height: 12.3125rem;
              background-size: auto 100%;
              background-position: center center;
              background-repeat: no-repeat; }
            #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a .txt-box {
              position: relative;
              display: block;
              width: 21.75rem;
              height: auto;
              padding: 2rem 1.375rem;
              background-color: #fff;
              box-sizing: border-box; }
              #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a .txt-box .story-title {
                line-height: 1.875rem;
                font-size: 1rem;
                font-weight: 400;
                color: #000; }
              #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a .txt-box .story-date {
                font-size: 0.75rem;
                font-weight: 300;
                color: #000; }
            #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a .story-icon {
              position: absolute;
              top: 11.5rem;
              left: 1.375rem;
              display: block;
              width: auto;
              height: 1.625rem;
              padding: 0 0.9375rem;
              line-height: 1.625rem;
              font-size: 0.875rem;
              font-weight: 400;
              color: #fff;
              background: #de121c; }
          #container.main section .main-story-wrap .main-story-area .story-slider .swiper-slide > a:hover {
            border: 0.0625rem solid #de121c;
            box-sizing: border-box;
            box-shadow: 0.1875rem 0.25rem 0.4375rem #bbb; }
      #container.main section .main-story-wrap .main-story-area .swiper-prev {
        top: 56%;
        left: calc(50% + 6.25rem);
        margin-left: -50vw;
        background-image: url(../images/slider_prev_btn_b.png); }
      #container.main section .main-story-wrap .main-story-area .swiper-next {
        top: 56%;
        right: calc(50% + 6.25rem);
        margin-right: -50vw;
        background-image: url(../images/slider_next_btn_b.png); }
      #container.main section .main-story-wrap .main-story-area .swiper-prev:hover {
        background-image: url(../images/slider_prev_btn_r.png); }
      #container.main section .main-story-wrap .main-story-area .swiper-next:hover {
        background-image: url(../images/slider_next_btn_r.png); }
    #container.main section .main-bottom-wrap .main-bottom-area {
      display: block;
      width: 100%;
      height: 25.4375rem;
      background-image: url(../images/main/founded_bg.png);
      background-position: center center;
      background-size: auto 25.4375rem;
      background-repeat: no-repeat; }
      #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap {
        display: block;
        width: 93.75rem;
        height: 25rem;
        padding-top: 7.5rem;
        margin: 0 auto;
        box-sizing: border-box; }
        #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap .founded {
          margin-bottom: 2.625rem;
          font-size: 2.5rem;
          font-weight: 400;
          color: #fff; }
        #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap .founded-move {
          display: inline-block;
          height: 4rem;
          padding: 0 4.375rem;
          line-height: 4rem;
          font-size: 1.125rem;
          font-weight: 400;
          color: #fff;
          border: 0.0625rem solid #fff;
          cursor: pointer; }
        #container.main section .main-bottom-wrap .main-bottom-area .founded-wrap .founded-move:hover {
          color: #de121c;
          border: 0.0625rem solid #de121c; }
  #container.main #main-popup-wrap {
    position: fixed;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 9999;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    #container.main #main-popup-wrap .main-popup-area {
      position: relative;
      display: inline-block;
      max-width: 93.75rem;
      margin: 0 auto; }
      #container.main #main-popup-wrap .main-popup-area .main-popup-inner .main-pop-lists ul {
        display: table;
        width: 100%; }
        #container.main #main-popup-wrap .main-popup-area .main-popup-inner .main-pop-lists ul li {
          display: table-cell; }
          #container.main #main-popup-wrap .main-popup-area .main-popup-inner .main-pop-lists ul li a {
            display: block;
            cursor: pointer; }
            #container.main #main-popup-wrap .main-popup-area .main-popup-inner .main-pop-lists ul li a img {
              display: block;
              width: auto;
              height: auto; }
      #container.main #main-popup-wrap .main-popup-area .main-popup-close {
        position: relative;
        display: block;
        height: 2.875rem;
        padding: 0 1.875rem;
        background-color: #242424;
        overflow: hidden;
        box-sizing: border-box; }
        #container.main #main-popup-wrap .main-popup-area .main-popup-close .todayClosePop {
          display: inline-block;
          float: left; }
          #container.main #main-popup-wrap .main-popup-area .main-popup-close .todayClosePop > input {
            display: none; }
          #container.main #main-popup-wrap .main-popup-area .main-popup-close .todayClosePop > input + label {
            position: relative;
            top: 0.75rem;
            display: inline-block;
            width: 1.375rem;
            height: 1.375rem;
            margin-right: 0.375rem;
            background-image: url(../images/pop_check_box.png);
            background-position: center center;
            background-size: 1.375rem 1.375rem;
            background-repeat: no-repeat;
            vertical-align: top;
            cursor: pointer; }
          #container.main #main-popup-wrap .main-popup-area .main-popup-close .todayClosePop > input + label + label {
            display: inline-block;
            line-height: 2.875rem;
            font-size: 0.875rem;
            color: #fff;
            cursor: pointer; }
          #container.main #main-popup-wrap .main-popup-area .main-popup-close .todayClosePop > input:checked + label {
            background-image: url(../images/pop_check_box_checked.png); }
        #container.main #main-popup-wrap .main-popup-area .main-popup-close .closePop {
          display: inline-block;
          float: right;
          line-height: 2.875rem;
          font-size: 0.875rem;
          color: #fff;
          cursor: pointer; }
        #container.main #main-popup-wrap .main-popup-area .main-popup-close .closePop:after {
          content: '';
          position: relative;
          top: 1.0625rem;
          display: inline-block;
          width: 0.8125rem;
          height: 0.8125rem;
          margin-left: 0.375rem;
          background-image: url(../images/pop_close_ico.png);
          background-position: center center;
          background-size: 0.8125rem 0.8125rem;
          background-repeat: no-repeat;
          vertical-align: top; }
  #container.main #dim-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 9998; }

/* cate */
#container.cate {
  width: 100%;
  padding-bottom: 6.25rem;
  background-color: #f7f7f7;
  overflow: hidden; }
  #container.cate section .cate-title-wrap {
    display: block;
    width: 100%;
    background: #fff; }
    #container.cate section .cate-title-wrap .cate-title {
      position: relative;
      display: block;
      width: 93.75rem;
      height: 18.75rem;
      margin: 0 auto; }
      #container.cate section .cate-title-wrap .cate-title h3 {
        padding-top: 5rem;
        padding-bottom: 1.25rem;
        font-size: 3.125rem;
        font-weight: 400;
        color: #000; }
      #container.cate section .cate-title-wrap .cate-title p {
        line-height: 1.875rem;
        font-size: 1rem;
        font-weight: 300;
        color: #000; }
        #container.cate section .cate-title-wrap .cate-title p b {
          font-weight: 500; }
      #container.cate section .cate-title-wrap .cate-title .cate-nav {
        position: absolute;
        bottom: 3.125rem;
        left: 0;
        display: block;
        width: 93.75rem;
        margin: 0 auto;
        text-align: right;
        font-size: 0.875rem;
        font-weight: 300;
        color: #878787; }
        #container.cate section .cate-title-wrap .cate-title .cate-nav span.curr {
          color: #000;
          font-weight: bold; }
  #container.cate section .tab-btns {
    display: block;
    margin-bottom: 3.125rem; }
    #container.cate section .tab-btns a {
      position: relative;
      display: inline-block;
      margin: 0 1.25rem;
      line-height: 3.125rem;
      font-size: 1.625rem;
      font-weight: 500;
      color: #878787;
      cursor: pointer; }
    #container.cate section .tab-btns a:first-child {
      margin-left: 0; }
    #container.cate section .tab-btns a:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 0.125rem;
      bottom: 0.125rem;
      left: 50%;
      background-color: #de121c;
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      opacity: 0; }
    #container.cate section .tab-btns a.on {
      color: #000; }
    #container.cate section .tab-btns a.on:after {
      opacity: 1; }
  #container.cate section .move-btns {
    display: block;
    margin-bottom: 3.125rem; }
    #container.cate section .move-btns a {
      position: relative;
      display: inline-block;
      margin: 0 1.25rem;
      line-height: 3.125rem;
      font-size: 1.625rem;
      font-weight: 500;
      color: #878787;
      cursor: pointer; }
    #container.cate section .move-btns a:first-child {
      margin-left: 0; }
    #container.cate section .move-btns a:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 0.125rem;
      bottom: 0.125rem;
      left: 50%;
      background-color: #de121c;
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      opacity: 0; }
    #container.cate section .move-btns a.on {
      color: #000; }
    #container.cate section .move-btns a.on:after {
      opacity: 1; }
  #container.cate section .paginate {
    display: block;
    text-align: center; }
    #container.cate section .paginate a {
      display: inline-block;
      width: 2.625rem;
      height: 2.625rem;
      margin: 0 0.125rem;
      line-height: 2.625rem;
      text-align: center;
      vertical-align: top;
      color: #888;
      border: 0.0625rem solid #888;
      cursor: pointer; }
    #container.cate section .paginate a.curr {
      color: #000;
      border: 1px solid #000; }
    #container.cate section .paginate a.next,
    #container.cate section .paginate a.prev {
      border: 1px solid #000; }
    #container.cate section .paginate a.next {
      margin-left: 1.125rem; }
    #container.cate section .paginate a.prev {
      margin-right: 1.125rem; }
  #container.cate section .btn-wrap {
    display: block;
    text-align: center; }
    #container.cate section .btn-wrap a {
      display: inline-block;
      width: auto;
      min-width: 11.875rem;
      height: 4rem;
      padding: 0 1.25rem;
      margin: 0 0.3125rem;
      line-height: 3.875rem;
      border: 0.0625rem solid #888;
      box-sizing: border-box;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      cursor: pointer; }
    #container.cate section .btn-wrap a.reg {
      display: inline-block;
      background-color: #d60615;
      color: #fff;
      border: 0.0625rem solid #d60615; }
    #container.cate section .btn-wrap a.cancel {
      display: inline-block;
      background-color: #fff;
      color: #d60615;
      border: 0.0625rem solid #d60615; }
  #container.cate section .table-wrap .table-area {
    display: block;
    width: 75rem;
    height: auto;
    margin: 0 auto; }
    #container.cate section .table-wrap .table-area table {
      margin-bottom: 3.75rem; }
      #container.cate section .table-wrap .table-area table tbody tr td {
        padding: 0rem 1rem 0.5rem;
        font-size: 1rem;
        color: #888;
        box-sizing: border-box;
        vertical-align: top; }
        #container.cate section .table-wrap .table-area table tbody tr td .post-btn {
          display: inline-block;
          width: 9rem;
          height: 3.125rem;
          line-height: 3.125rem;
          text-align: center;
          color: #fff;
          background-color: #8d8d8d;
          border-radius: 0.3125rem; }
        #container.cate section .table-wrap .table-area table tbody tr td .empty-box {
          display: block;
          width: 7.375rem;
          height: auto;
          opacity: 0; }
        #container.cate section .table-wrap .table-area table tbody tr td .add-info {
          display: block;
          width: 100%;
          height: auto;
          padding: 0 1.25rem;
          line-height: 1.5625rem;
          font-size: 1rem;
          color: #888;
          box-sizing: border-box; }
        #container.cate section .table-wrap .table-area table tbody tr td .index-check {
          display: block;
          width: 100%;
          height: auto;
          padding-top: 0.625rem;
          line-height: 1.5625rem;
          font-size: 0.875rem;
          color: #888;
          box-sizing: border-box; }
          #container.cate section .table-wrap .table-area table tbody tr td .index-check b {
            color: #d60615; }
        #container.cate section .table-wrap .table-area table tbody tr td .agree-info {
          display: block;
          width: 100%;
          height: auto;
          padding: 0rem 2.125rem;
          margin-top: 1rem;
          margin-bottom: 1.125rem;
          background-color: #eee;
          box-sizing: border-box; }
          #container.cate section .table-wrap .table-area table tbody tr td .agree-info p {
            display: block;
            width: 100%;
            height: auto;
            padding: 2rem 0rem;
            line-height: 1.5625rem;
            font-size: 1rem;
            color: #888; }
        #container.cate section .table-wrap .table-area table tbody tr td .textarea-wrap textarea {
          height: 4.125rem;
          resize: vertical; }
      #container.cate section .table-wrap .table-area table tbody tr td.radio-wrap {
        padding-top: 1.25rem; }
      #container.cate section .table-wrap .table-area table tbody tr td.email {
        width: 39rem; }
      #container.cate section .table-wrap .table-area table tbody tr td.title {
        position: relative;
        min-width: 18.75rem;
        padding-left: 0;
        padding-right: 0;
        line-height: 3.5rem;
        font-size: 1.125rem;
        font-weight: 400;
        color: #3c3c3c; }
        #container.cate section .table-wrap .table-area table tbody tr td.title b {
          position: relative;
          top: -0.3125rem;
          margin-left: 0.3125rem;
          font-size: 1rem;
          font-weight: 400;
          color: #d60615; }
        #container.cate section .table-wrap .table-area table tbody tr td.title a {
          display: inline-block;
          width: auto;
          height: 3.125rem;
          padding: 0 1.5625rem;
          line-height: 3.125rem;
          font-size: 1rem;
          font-weight: 400;
          color: #888;
          border: 0.0625rem solid #888;
          border-radius: 0.3125rem;
          cursor: pointer; }
  #container.cate section .sm-color {
    color: #af2823; }
  #container.cate section .hs-color {
    color: #ea3130; }
  #container.cate section .sb-color {
    color: #007c40; }
  #container.cate section .hk-color {
    color: #ee2e24; }
  #container.cate section .ss-color {
    color: #062f87; }
  #container.cate section .be-color {
    color: #f26721; }
  #container.cate section .db-color {
    color: #f92c22; }
  #container.cate section .bo-color {
    color: #000000; }
  #container.cate section .w100per {
    width: 100%; }
  #container.cate section .w100 {
    width: 6.25rem; }
  #container.cate section .w118 {
    width: 7.375rem; }
  #container.cate section .w130 {
    width: 8.125rem; }
  #container.cate section .w250 {
    width: 15.625rem; }
  #container.cate section .w272 {
    width: 17rem; }
  #container.cate section .w280 {
    width: 17.5rem; }
  #container.cate section .w330 {
    width: 20.625rem; }
  #container.cate section .w350 {
    width: 21.875rem; }
  #container.cate section .pd-t20 {
    padding-top: 1.25rem !important; }
  #container.cate section .mg-l20 {
    margin-left: 1.25rem; }
  #container.cate section .mg-t12 {
    margin-top: 0.75rem; }
  #container.cate section .mg-b22 {
    margin-bottom: 1.375rem; }
  #container.cate section .v-align-t {
    vertical-align: top; }
  #container.cate section .content {
    display: block;
    width: 93.75rem;
    height: auto;
    margin: 6.25rem auto 0; }
  #container.cate section .theborn {
    width: 100%; }
    #container.cate section .theborn .theborn-msg-wrap {
      display: block;
      width: 93.75rem;
      height: 46.5625rem;
      padding-left: 51.25rem;
      margin: 0 auto;
      box-sizing: border-box;
      background-image: url(../images/cate/msg_bg.png);
      background-size: auto 46.4375rem;
      background-position: center center;
      background-color: #fff;
      background-repeat: no-repeat; }
      #container.cate section .theborn .theborn-msg-wrap h4 {
        padding-top: 6.25rem;
        padding-bottom: 3.125rem;
        font-size: 1.875rem;
        font-weight: 500;
        color: #000; }
      #container.cate section .theborn .theborn-msg-wrap .theborn-msg p {
        line-height: 1.875rem;
        font-size: 1.125rem;
        font-weight: 300;
        color: #000; }
      #container.cate section .theborn .theborn-msg-wrap .theborn-msg p.ceo-sign {
        line-height: 3.125rem;
        font-size: 0.9375rem; }
        #container.cate section .theborn .theborn-msg-wrap .theborn-msg p.ceo-sign img {
          display: inline-block;
          width: auto;
          height: 3.0625rem;
          margin-left: 0.625rem;
          vertical-align: middle; }
    #container.cate section .theborn .theborn-map-wrap {
      display: block;
      width: 100%;
      height: 58.5rem;
      margin: 0 auto;
      background-image: url(../images/cate/map_area_bg.png);
      background-size: auto 100%;
      background-position: center center;
      background-repeat: no-repeat; }
      #container.cate section .theborn .theborn-map-wrap .theborn-map .map-title {
        padding-top: 6.25rem;
        padding-bottom: 1.25rem;
        text-align: center;
        font-size: 1.875rem;
        font-weight: 500;
        color: #fff; }
      #container.cate section .theborn .theborn-map-wrap .theborn-map .map-txt {
        padding-bottom: 1.25rem;
        line-height: 1.875rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        color: #fff; }
      #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area {
        position: relative;
        display: block;
        width: 66.6875rem;
        height: 39.3125rem;
        margin: 0 auto;
        /*background-image:url(../images/cate/map_bg.png);*/
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat; }
        #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul {
          display: none; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li {
            position: absolute;
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            margin-top: -0.3125rem;
            margin-left: -0.3125rem;
            border-radius: 50%;
            border: 1px solid #dd0b15;
            transition: all .25s; }
            #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div {
              position: relative;
              top: -1.25rem;
              left: 0.25rem;
              display: block;
              padding-left: 1.25rem; }
              #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div .map-cursor {
                display: none; }
              #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos {
                position: relative;
                display: none;
                width: 11.25rem;
                height: auto;
                z-index: 4; }
                #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos b {
                  display: inline-block;
                  width: auto;
                  height: 1.625rem;
                  padding: 0 0.9375rem;
                  line-height: 1.625rem;
                  font-size: 0.875rem;
                  font-weight: 500;
                  color: #fff;
                  background-color: #dd0b15;
                  border-radius: 0.3125rem; }
                #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos dl {
                  width: 11.25rem;
                  height: auto;
                  padding: 0.75rem 1.25rem;
                  background-color: #fff;
                  border-radius: 0.3125rem;
                  box-sizing: border-box; }
                  #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos dl dd {
                    display: inline-block;
                    width: 48%;
                    height: 1.25rem;
                    margin-bottom: 0.625rem; }
                  #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li > div .map-infos dl p {
                    display: block;
                    width: 8.75rem;
                    height: 1.625rem;
                    line-height: 1.625rem;
                    text-align: center;
                    font-size: 0.6875rem;
                    color: #000;
                    background-color: #efefef;
                    border-radius: 0.8125rem;
                    border: 0.0625rem solid #888; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li:before {
            content: '';
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 0;
            margin-left: 0;
            border-radius: 50%;
            background-color: #dd0b15;
            transition: all .25s; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li:hover {
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            margin-top: -0.625rem;
            margin-left: -0.625rem;
            background-color: #fff;
            border: 1px solid #dd0b15; }
            #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li:hover > div .map-infos {
              display: block; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li:hover::before {
            margin-top: 0.3125rem;
            margin-left: 0.3125rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-1 {
            top: 19.125rem;
            left: 26.875rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-2 {
            top: 18.625rem;
            left: 23.4375rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-3 {
            top: 19.375rem;
            left: 28.625rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-4 {
            top: 22.4375rem;
            left: 23.5625rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-5 {
            top: 23rem;
            left: 22.1875rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-6 {
            top: 23.4375rem;
            left: 23.25rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-7 {
            top: 24.25rem;
            left: 25.625rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-8 {
            top: 26.0625rem;
            left: 22.75rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-9 {
            top: 27.125rem;
            left: 26.9375rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-10 {
            top: 28.25rem;
            left: 24.6875rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-11 {
            top: 32.5rem;
            left: 26.25rem; }
          #container.cate section .theborn .theborn-map-wrap .theborn-map .map-area ul li.ico-p-12 {
            top: 17.125rem;
            left: 47.625rem; }
    #container.cate section .theborn .theborn-sys-wrap {
      display: block;
      width: 93.75rem;
      margin: 0 auto; }
      #container.cate section .theborn .theborn-sys-wrap .theborn-sys {
        display: block;
        width: 100%;
        height: auto;
        margin: 6.25rem auto; }
        #container.cate section .theborn .theborn-sys-wrap .theborn-sys ul {
          text-align: center; }
          #container.cate section .theborn .theborn-sys-wrap .theborn-sys ul li {
            display: inline-block;
            width: 34.375rem;
            height: 26.5625rem;
            padding-top: 3.125rem;
            margin: 0 0.4375rem 1.25rem;
            background-color: #fff;
            box-sizing: border-box; }
            #container.cate section .theborn .theborn-sys-wrap .theborn-sys ul li .img-box {
              display: block;
              width: 7.5rem;
              height: 7.5rem;
              margin: 0 auto 3.125rem;
              border-radius: 50%;
              border: 0.0625rem solid #eee;
              overflow: hidden; }
            #container.cate section .theborn .theborn-sys-wrap .theborn-sys ul li .txt-box .txt-title {
              margin-bottom: 0.9375rem;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 500;
              color: #de121c; }
            #container.cate section .theborn .theborn-sys-wrap .theborn-sys ul li .txt-box .txt-dec {
              display: -webkit-box;
              word-break: keep-all;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 7.5rem;
              line-height: 1.875rem;
              text-align: center;
              font-size: 1rem;
              font-weight: 400;
              color: #000; }
  #container.cate section .brand > div {
    display: block;
    width: 100%;
    margin-bottom: 8.75rem; }
    #container.cate section .brand > div .brand-lists > ul {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden; }
      #container.cate section .brand > div .brand-lists > ul > li {
        display: inline-block;
        margin-right: 1.75rem;
        margin-bottom: 2.25rem;
        border: 1px solid #f7f7f7;
        vertical-align: top; }
        #container.cate section .brand > div .brand-lists > ul > li .img-box {
          display: block;
          width: 21.75rem;
          height: 14.375rem;
          background-size: auto 100%;
          background-position: center center;
          background-repeat: no-repeat; }
        #container.cate section .brand > div .brand-lists > ul > li .txt-box {
          position: relative;
          display: block;
          width: 21.75rem;
          height: auto;
          padding: 2rem 1.375rem 3.5rem;
          background-color: #fff;
          box-sizing: border-box; }
          #container.cate section .brand > div .brand-lists > ul > li .txt-box .logo-ico {
            height: 2.375rem;
            margin-bottom: 0.625rem; }
          #container.cate section .brand > div .brand-lists > ul > li .txt-box dl dd {
            line-height: 1.875rem;
            font-size: 1rem;
            font-weight: 300;
            color: #000;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #container.cate section .brand > div .brand-lists > ul > li .txt-box .brand-home-move {
            position: absolute;
            bottom: 1.125rem;
            right: 1rem;
            display: block;
            width: 7.25rem;
            height: 1.375rem;
            padding-left: 1.25rem;
            line-height: 1.5rem;
            font-size: 0.875rem;
            font-wieght: 300;
            color: #777;
            background-image: url(../images/athome_ico.png);
            background-size: 0.875rem 0.875rem;
            background-position: left center;
            background-repeat: no-repeat;
            cursor: pointer; }
      #container.cate section .brand > div .brand-lists > ul > li:nth-child(4n) {
        margin-right: 0px; }
      #container.cate section .brand > div .brand-lists > ul > li:hover {
        border: 0.0625rem solid #de121c;
        box-sizing: border-box;
        box-shadow: 0.1875rem 0.25rem 0.4375rem #bbb; }
  #container.cate section .news > div {
    display: block;
    width: 100%;
    margin-bottom: 8.75rem; }
    #container.cate section .news > div .news-lists > ul {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden; }
      #container.cate section .news > div .news-lists > ul > li {
        display: inline-block;
        margin-right: 1.75rem;
        margin-bottom: 2.25rem;
        border: 1px solid #f7f7f7;
        vertical-align: top; }
        #container.cate section .news > div .news-lists > ul > li a {
          cursor: pointer; }
          #container.cate section .news > div .news-lists > ul > li a .img-box {
            display: block;
            width: 21.75rem;
            height: 12.3125rem;
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat; }
          #container.cate section .news > div .news-lists > ul > li a .txt-box {
            position: relative;
            display: block;
            width: 21.75rem;
            height: auto;
            padding: 2rem 1.375rem;
            background-color: #fff;
            box-sizing: border-box; }
            #container.cate section .news > div .news-lists > ul > li a .txt-box .news-title {
              line-height: 1.875rem;
              font-size: 1rem;
              font-weight: 400;
              color: #000; }
            #container.cate section .news > div .news-lists > ul > li a .txt-box .news-date {
              font-size: 0.75rem;
              font-weight: 300;
              color: #000; }
      #container.cate section .news > div .news-lists > ul > li:nth-child(4n) {
        margin-right: 0px; }
      #container.cate section .news > div .news-lists > ul > li:hover {
        border: 0.0625rem solid #de121c;
        box-sizing: border-box;
        box-shadow: 0.1875rem 0.25rem 0.4375rem #bbb; }
    #container.cate section .news > div .media-lists > ul {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden; }
      #container.cate section .news > div .media-lists > ul > li {
        display: inline-block;
        margin-right: 1.75rem;
        margin-bottom: 2.25rem;
        border: 1px solid #f7f7f7;
        vertical-align: top; }
        #container.cate section .news > div .media-lists > ul > li a {
          cursor: pointer; }
          #container.cate section .news > div .media-lists > ul > li a .img-box {
            display: block;
            width: 21.75rem;
            height: 12.3125rem;
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat; }
          #container.cate section .news > div .media-lists > ul > li a .txt-box {
            position: relative;
            display: block;
            width: 21.75rem;
            height: auto;
            padding: 2rem 1.375rem;
            background-color: #fff;
            box-sizing: border-box; }
            #container.cate section .news > div .media-lists > ul > li a .txt-box .media-brand {
              font-size: 0.75rem;
              font-weight: 400; }
              #container.cate section .news > div .media-lists > ul > li a .txt-box .media-brand span {
                margin: 0 0.1875rem; }
            #container.cate section .news > div .media-lists > ul > li a .txt-box .media-title {
              line-height: 1.875rem;
              font-size: 1rem;
              font-weight: 400;
              color: #000; }
      #container.cate section .news > div .media-lists > ul > li:nth-child(4n) {
        margin-right: 0px; }
      #container.cate section .news > div .media-lists > ul > li:hover {
        border: 0.0625rem solid #de121c;
        box-sizing: border-box;
        box-shadow: 0.1875rem 0.25rem 0.4375rem #bbb; }
  #container.cate section .founded .register {
    width: 100%;
    height: auto;
    padding: 5rem 9.375rem;
    background-color: #fff;
    box-sizing: border-box; }
    #container.cate section .founded .register .notice-infos {
      display: block;
      width: 75rem;
      height: 5.25rem;
      margin: 4.5rem auto 0rem;
      line-height: 5.25rem;
      text-align: center;
      background-color: #f7f7f7;
      border: 0.0625rem solid #ddd; }
      #container.cate section .founded .register .notice-infos p {
        font-size: 1.125rem;
        font-weight: 400;
        color: #3c3c3c; }
        #container.cate section .founded .register .notice-infos p b {
          padding-right: 1.875rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: #3c3c3c; }
  #container.cate section .founded .store-steps {
    display: block;
    width: 75.375rem;
    height: auto;
    min-height: 65.3125rem;
    margin: 0 auto;
    background-size: 75.375rem auto;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(/images/cate/store_step_bg.jpg); }
    #container.cate section .founded .store-steps ul {
      display: block;
      width: 63.75rem;
      height: auto;
      margin: 0 auto;
      overflow: hidden; }
      #container.cate section .founded .store-steps ul li {
        display: block;
        width: 21.25rem;
        height: 27.5rem;
        padding: 16.875rem 4.125rem 0;
        text-align: center;
        box-sizing: border-box; }
        #container.cate section .founded .store-steps ul li b {
          line-height: 1.875rem;
          font-size: 1.25rem;
          font-weight: 500;
          color: #de121c; }
        #container.cate section .founded .store-steps ul li p {
          line-height: 1.875rem;
          font-size: 1.25rem;
          font-weight: 500;
          color: #000; }
          #container.cate section .founded .store-steps ul li p span {
            display: block;
            line-height: 1.875rem;
            font-size: 1rem;
            font-weight: 400;
            color: #888; }
    #container.cate section .founded .store-steps ul.fst-lines li {
      float: left; }
    #container.cate section .founded .store-steps ul.sec-lines li {
      float: right; }
    #container.cate section .founded .store-steps p.store-notice {
      display: inline-block;
      padding-top: 20px;
      padding-left: 420px;
      font-size: 1.125rem;
      font-weight: 500;
      color: #000; }
      #container.cate section .founded .store-steps p.store-notice b {
        color: #de121c; }
  #container.cate section .founded .fna {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff; }
    #container.cate section .founded .fna > div {
      display: block;
      width: 75rem;
      height: auto;
      padding-bottom: 9.375rem;
      margin: 0 auto; }
      #container.cate section .founded .fna > div .search-form {
        display: block;
        width: 100%;
        height: auto;
        padding: 5rem 8.125rem;
        box-sizing: border-box; }
        #container.cate section .founded .fna > div .search-form > div {
          position: relative; }
          #container.cate section .founded .fna > div .search-form > div .search-btn {
            position: absolute;
            top: 0.5rem;
            right: 0;
            display: inline-block;
            width: 2.375rem;
            height: 2.375rem;
            background-size: 2.375rem 2.375rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(/images/search_btn_icon.png);
            text-indent: -9999px;
            cursor: pointer; }
      #container.cate section .founded .fna > div .fna-lists ul li .list-title {
        position: relative;
        display: block;
        width: 100%;
        height: 3.875rem;
        padding: 0 0.5rem;
        line-height: 3.875rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: #000;
        border-bottom: 0.0625rem solid #ddd;
        box-sizing: border-box;
        cursor: pointer; }
        #container.cate section .founded .fna > div .fna-lists ul li .list-title b {
          color: #dd0b15; }
      #container.cate section .founded .fna > div .fna-lists ul li .list-title:after {
        content: "";
        position: absolute;
        top: 1.4375rem;
        right: 0.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        background-size: 1rem 0.5625rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(/images/toggle_btn.png); }
      #container.cate section .founded .fna > div .fna-lists ul li .toggle-box {
        display: none;
        width: 100%;
        height: auto;
        padding: 1.25rem 3rem 2.5rem;
        line-height: 2rem;
        font-size: 1.125rem;
        font-weight: 400;
        color: #666;
        border-bottom: 0.0625rem solid #ddd;
        box-sizing: border-box; }
      #container.cate section .founded .fna > div .fna-lists ul li.toggleActive .list-title:after {
        transform: rotate(-180deg); }
  #container.cate section .presentation .present {
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff; }
    #container.cate section .presentation .present .add-tab {
      display: block;
      width: 75rem;
      height: auto;
      padding: 3.75rem 0 12.5rem;
      margin: 0 auto;
      box-sizing: border-box; }
      #container.cate section .presentation .present .add-tab .add-tab-btns {
        display: table;
        width: 100%;
        overflow: hidden; }
        #container.cate section .presentation .present .add-tab .add-tab-btns > div {
          display: table-cell;
          width: 16.6%;
          border-top: 0.0625rem solid #ddd;
          border-bottom: 0.0625rem solid #ddd;
          box-sizing: border-box;
          cursor: pointer; }
          #container.cate section .presentation .present .add-tab .add-tab-btns > div a {
            display: block;
            width: 100%;
            height: 3.875rem;
            line-height: 3.875rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
            color: #878787;
            border-left: 0.0625rem solid #ddd;
            box-sizing: border-box; }
        #container.cate section .presentation .present .add-tab .add-tab-btns > div:last-child a {
          border-right: 0.0625rem solid #ddd; }
        #container.cate section .presentation .present .add-tab .add-tab-btns > div.on a {
          color: #fff;
          background-color: #dd0b15;
          border-color: #dd0b15; }
        #container.cate section .presentation .present .add-tab .add-tab-btns > div.on + div a {
          border-left: 0.0625rem solid #dd0b15; }
      #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con {
        display: none; }
        #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          padding: 5rem 0 2.5rem; }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div {
            position: relative;
            display: block;
            width: 18.75rem;
            height: 2.375rem;
            margin: 0 auto;
            line-height: 2.375rem;
            text-align: center; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > p {
              font-size: 1.875rem;
              color: #000; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > p b {
                font-weight: 500; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div {
              position: absolute;
              top: 0;
              display: block;
              width: 2.375rem;
              height: 2.375rem;
              border-radius: 50%;
              overflow: hidden;
              outline: none; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div > a {
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                outline: none;
                background-size: 2.375rem 2.375rem;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../images/date_set_btn.png); }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div:hover {
              box-shadow: 0.1875rem 0.25rem 0.3125rem #ddd; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-prev {
              left: 0; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-prev > a {
                transform: rotate(-180deg); }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-prev > a:hover {
                background-image: url(../images/date_set_btn_on.png);
                transform: rotate(0deg); }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-next {
              right: 0; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-next > a {
                transform: rotate(0deg); }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates > div > div.date-set-btn-next > a:hover {
                background-image: url(../images/date_set_btn_on.png);
                transform: rotate(-180deg); }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates .selectBox {
            position: absolute;
            top: 4.625rem;
            right: 0; }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates .selectBox > select {
            display: block;
            width: 12.5rem;
            height: 3.125rem;
            padding: 0;
            padding-left: 1.25rem;
            line-height: 3.125rem;
            text-align: left; }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-dates .selectBox > select + label {
            display: block;
            width: 12.5rem;
            height: 3.125rem;
            padding: 0;
            padding-left: 1.25rem;
            line-height: 3.125rem;
            text-align: left;
            border: 0.0625rem solid #ddd;
            background-position: 170px center; }
        #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul {
          display: block;
          width: 100%;
          height: auto;
          overflow: hidden; }
          #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list {
            display: inline-block;
            width: 33.3%;
            float: left; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div {
              position: relative;
              display: block;
              width: 23.75rem;
              height: 32.5rem;
              margin: 0 auto 2.5rem;
              border: 0.0625rem solid #fff; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .img-box {
                position: relative;
                display: block;
                width: 21.25rem;
                height: 14.125rem;
                margin: 1.25rem auto;
                background-size: auto 100%;
                background-position: center center;
                background-repeat: no-repeat; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box {
                position: relative;
                display: block;
                width: 21.25rem;
                height: auto;
                margin: auto 1.25rem; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-locate {
                  line-height: 1.875rem;
                  font-size: 0.75rem;
                  font-weight: 500;
                  color: #dd0b15; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-brand {
                  line-height: 1.875rem;
                  font-size: 1.5rem;
                  font-weight: 500;
                  color: #000; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-time {
                  line-height: 1.875rem;
                  font-size: 1rem;
                  font-weight: 400;
                  color: #000; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-space {
                  line-height: 1.875rem;
                  font-size: 1rem;
                  font-weight: 400;
                  color: #000; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .txt-box .presentation-noti {
                  margin-top: 0.375rem;
                  line-height: 1rem;
                  font-size: 0.75rem;
                  font-weight: 400;
                  color: #878787;
                  letter-spacing: -0.2px;
                  word-break: keep-all; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .btn-wrap {
                position: absolute;
                left: 20px;
                bottom: 20px;
                text-align: left; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .btn-wrap a {
                  display: inline-block;
                  width: 10.625rem;
                  height: 3.125rem;
                  line-height: 3.125rem;
                  font-size: 1.25rem;
                  font-weight: 500;
                  color: #fff;
                  border: 0.0625rem solid #dd0b15;
                  background-color: #dd0b15; }
                #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .btn-wrap a.sold {
                  border: 0.0625rem solid #878787;
                  background-color: #878787; }
              #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div .img-box.almost-sold:after {
                content: '마감임박';
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 5.125rem;
                height: 1.875rem;
                line-height: 1.875rem;
                text-align: center;
                font-family: 'Noto Sans KR', Helvetica, AppleSDGothicNeo, sans-serif;
                font-size: 0.875rem;
                color: #fff;
                background-color: #dd0b15; }
            #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con .presentation-lists-wrap .presentation-lists ul .presentation-list > div:hover {
              border: 0.0625rem solid #dd0b15;
              box-shadow: 0.1875rem 0.25rem 0.3125rem #ddd; }
      #container.cate section .presentation .present .add-tab .add-tab-inner .add-tab-con.on {
        display: block; }
  #container.cate section .presentation .location {
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff; }
    #container.cate section .presentation .location .add-tab {
      display: block;
      width: 75rem;
      height: auto;
      padding: 3.75rem 0 12.5rem;
      margin: 0 auto;
      box-sizing: border-box; }
      #container.cate section .presentation .location .add-tab .add-tab-btns {
        display: table;
        width: 100%;
        overflow: hidden; }
        #container.cate section .presentation .location .add-tab .add-tab-btns > div {
          display: table-cell;
          width: 16.6%;
          border-top: 0.0625rem solid #ddd;
          border-bottom: 0.0625rem solid #ddd;
          box-sizing: border-box;
          cursor: pointer; }
          #container.cate section .presentation .location .add-tab .add-tab-btns > div a {
            display: block;
            width: 100%;
            height: 3.875rem;
            line-height: 3.875rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
            color: #878787;
            border-left: 0.0625rem solid #ddd;
            box-sizing: border-box; }
        #container.cate section .presentation .location .add-tab .add-tab-btns > div:last-child a {
          border-right: 0.0625rem solid #ddd; }
        #container.cate section .presentation .location .add-tab .add-tab-btns > div.bakdb {
          vertical-align: top; }
          #container.cate section .presentation .location .add-tab .add-tab-btns > div.bakdb a {
            padding-top: 0.625rem;
            line-height: 1.25rem; }
            #container.cate section .presentation .location .add-tab .add-tab-btns > div.bakdb a span {
              font-size: 0.875rem; }
        #container.cate section .presentation .location .add-tab .add-tab-btns > div.on a {
          color: #fff;
          background-color: #dd0b15;
          border-color: #dd0b15; }
        #container.cate section .presentation .location .add-tab .add-tab-btns > div.on + div a {
          border-left: 0.0625rem solid #dd0b15; }
      #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con {
        display: none; }
        #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap .location-title {
          display: block;
          width: 100%;
          height: auto;
          padding: 4.375rem 0 1.875rem;
          line-height: 2rem;
          font-size: 1.875rem;
          font-weight: 500;
          color: #000; }
        #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap .location-addr1 {
          display: block;
          width: 100%;
          height: auto;
          line-height: 2rem;
          font-size: 1rem;
          font-weight: 400;
          color: #000; }
        #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-title-wrap .location-addr2 {
          display: block;
          width: 100%;
          height: auto;
          padding-bottom: 0.625rem;
          line-height: 2rem;
          font-size: 1rem;
          font-weight: 400;
          color: #000; }
        #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul {
          display: block;
          margin-top: 1.25rem; }
          #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul li {
            position: relative;
            display: block;
            width: 100%;
            height: 5rem; }
            #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul li p {
              display: inline-block;
              width: 100%;
              height: 5rem;
              line-height: 1.625rem;
              padding: 0.875rem 0 0.875rem 5.9375rem;
              font-size: 1rem;
              font-weight: 400;
              color: #000;
              box-sizing: border-box; }
            #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con .location-traffic ul li b.traffic_ico {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 5rem;
              height: 5rem;
              padding-top: 2.875rem;
              text-align: center;
              font-size: 1rem;
              font-weight: 500;
              color: #000;
              box-sizing: border-box;
              background-color: #f7f7f7;
              background-size: 1rem 1.3125rem;
              background-position: 2rem 0.75rem;
              background-repeat: no-repeat; }
      #container.cate section .presentation .location .add-tab .add-tab-inner .add-tab-con.on {
        display: block; }
  #container.cate section .presentation-form .presentation-form-wrap {
    display: block;
    width: 100%;
    height: auto;
    padding: 3.75rem 0;
    background-color: #fff; }
    #container.cate section .presentation-form .presentation-form-wrap .presentation-form-title-wrap {
      display: block;
      width: 75rem;
      height: 9.375rem;
      margin: 0 auto 2.5rem;
      text-align: center;
      background-color: #f9f9f9;
      border: 0.0625rem solid #ddd;
      box-sizing: border-box; }
    #container.cate section .presentation-form .presentation-form-wrap .presentation-form-title {
      padding-top: 2.5rem;
      padding-bottom: 1.5625rem;
      font-size: 1.625rem;
      font-weight: 500;
      color: #d60615; }
    #container.cate section .presentation-form .presentation-form-wrap .presentation-form-dec {
      font-size: 1.25rem;
      font-weight: 400;
      color: #000; }
  #container.cate section .view .view-wrap {
    display: block;
    width: 100%;
    height: auto;
    padding: 3.75rem 0;
    background-color: #fff; }
    #container.cate section .view .view-wrap .view-title {
      display: block;
      width: 75rem;
      height: 5.75rem;
      line-height: 5.75rem;
      padding: 0 2.375rem;
      margin: 0 auto;
      background-color: #f7f7f7;
      border: 0.0625rem solid #ddd;
      overflow: hidden;
      box-sizing: border-box; }
      #container.cate section .view .view-wrap .view-title h4 {
        font-size: 1.375rem;
        color: #3c3c3c; }
      #container.cate section .view .view-wrap .view-title span {
        font-size: 0.875rem;
        font-weight: 300;
        color: #3c3c3c; }
    #container.cate section .view .view-wrap .view-con {
      display: block;
      width: 75rem;
      padding-top: 2.5rem;
      padding-bottom: 1.5625rem;
      margin: 0 auto; }
    #container.cate section .view .view-wrap .view-foot {
      display: block;
      width: 75rem;
      margin: 0 auto;
      border-bottom: 0.0625rem solid #ddd; }
      #container.cate section .view .view-wrap .view-foot .sns-btns {
        display: block;
        padding: 1.25rem 0 3.75rem;
        text-align: center; }
        #container.cate section .view .view-wrap .view-foot .sns-btns a {
          display: inline-block;
          margin: 0 0.25rem; }
      #container.cate section .view .view-wrap .view-foot .add-file-area {
        display: block;
        width: 75rem;
        height: 4.5rem;
        padding: 0 2.5rem;
        margin: 0 auto;
        overflow: hidden;
        background-color: #f7f7f7;
        box-sizing: border-box; }
        #container.cate section .view .view-wrap .view-foot .add-file-area .file-ico {
          display: block;
          width: 7.5rem;
          height: 4.5rem;
          padding-left: 1.5rem;
          line-height: 4.5rem;
          float: left;
          box-sizing: border-box;
          font-size: 1rem;
          font-weight: 400;
          color: #000;
          background-image: url(../images/file-ico.png);
          background-size: 1.125rem 1.5rem;
          background-position: left center;
          background-repeat: no-repeat;
          cursor: pointer; }
        #container.cate section .view .view-wrap .view-foot .add-file-area .file-name {
          display: block;
          width: calc(100% - 7.5rem);
          height: 4.5rem;
          line-height: 4.5rem;
          font-weight: 300;
          float: left;
          font-size: 1rem;
          color: #000; }
    #container.cate section .view .view-wrap .list-btn {
      display: block;
      padding: 2.5rem 0 0rem;
      text-align: center; }
      #container.cate section .view .view-wrap .list-btn a {
        display: inline-block;
        background-color: #d60615;
        color: #fff;
        border: 0.0625rem solid #d60615; }

@media screen and (max-width: 1450px) {
  html {
    font-size: 0.75rem; }
  header .nav-wrap {
    left: 47%; } }

@media screen and (max-width: 1080px) {
  html {
    font-size: 0.6875rem; } }
